<div class="node">

    <div class="full-line step-text-container"
         (mouseover)="hasMouseOver=true;$event.stopPropagation();"
         (mouseleave)="hasMouseOver=false"
         (click)="collapseNode();$event.stopPropagation();">

        <i class="fa fa-angle-double-left tree-node-icon" style="width: 10px" aria-hidden="true"></i>
        <i class="fa fa-angle-double-right tree-node-icon" style="width: 10px" aria-hidden="true"></i>
        <span>Parameters Details</span>

        <!-- BUTTONS -->
        <div *ngIf="isEditMode()" class="step-button-panel btn-group">

            <div *ngIf="!model.jsonTreeNodeState.showChildren"
                 title="Add Sub-Step" class="btn btn-default btn-xs btn-group"
                 (click)="addSubStep(); $event.stopPropagation()">
                <span class="glyphicon glyphicon-plus-sign"></span>
            </div>

        </div>
    </div>

    <json-children [jsonTreeNodeState]="jsonTreeNodeState"
                   [modelComponentMapping]="modelComponentMapping"
                   [model]="model"
                   [treeState]="treeState"
                   class="full-line">
    </json-children>
</div>
