
.my-stats {
    margin: 20px;

    .header {
        margin: auto;
        display: flex;
        flex-direction: column;

        .title {
            font-size: 3em;
            font-weight: bold;
            text-align: center;
            margin: auto;
        }

        .config-line {
            display: flex;
            justify-content: flex-end;

            .config {

                background: #add8e6;
                padding: 0.5em 1em;
                border-radius: 15px;

                display: flex;
                flex-flow: row;
                justify-content: center;
                align-items: center;

                .config-title {
                    font-weight: bold;
                    margin-right: 5px;
                }



                .detail-level {
                    margin-left: 5px;
                    display: flex;
                    align-items: center;

                }
            }
        }
    }

    .components {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
