
.my-stats {
    margin: 20px;

    .header {
        margin: auto;

        .title {
            font-size: 3.1em;
            font-weight: bold;
            text-align: center;
            margin: auto;
        }
    }

    .components {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
