@import "../../../resources/css/testerum-variables";

.my-toast {

    .title {
        font-size: 1.6em;
        font-weight: bold;
        margin-top: 0;
    }

    .message-details {
        white-space: pre-wrap;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .btn {
            padding: 3px 12px;
            width: 9em;
        }
    }

    .p-toast {
        width: 35em;

        .p-toast-message-error {
            border:0;

            .p-toast-message-content {
                flex-direction: column;
                align-items: center;

                .p-toast-icon-close {
                    font-size: 1.5em;
                    align-self: flex-end;

                    &:hover {
                        text-shadow: 0 1px 0 #fff;
                        background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
                        background-repeat: repeat-x;
                        border-color: #ccc;
                        text-decoration: none;
                    }
                }
            }

        }
    }
}

.error-toast {
    .alert-image {
        color: #c12e2a;
    }

    .p-toast {
        .p-toast-message-error {
            color: $alert-text-color;
            background-color: $alert-background-color;

            .p-toast-close-icon {
                color: #721c24;
            }
        }
    }
}

.validation-exception-toast {
    .message-details {
        line-height: 1.5em;
    }

    .alert-image {
        color: #c12e2a;
    }

    .p-toast {
        .p-toast-message-error {
            color: $alert-text-color;
            background-color: $alert-background-color;

            .p-toast-close-icon {
                color: #721c24;
            }
        }
    }
}
