
<!-- EXCEPTION VIEW -->
<p-toast class="error-toast my-toast" key="error" position="bottom-right" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div style="text-align: center">
            <i class="alert-image pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3 class="title">{{message.summary}}</h3>
            <p class="message-details">{{message.detail}}</p>
        </div>
        <div class="buttons">
            <button *ngIf="!message.data.isErrorReported" (click)="report(message.data);$event.stopPropagation();" type="button" class="btn btn-default">Report</button>
            <button (click)="refresh();$event.stopPropagation();" type="button" class="btn btn-default">Refresh Page</button>
            <button (click)="close(message.key);$event.stopPropagation();" type="button" class="btn btn-default">Close</button>
        </div>
    </ng-template>
</p-toast>


<!-- VALIDATION EXCEPTION VIEW-->
<p-toast class="validation-exception-toast my-toast" key="validationException" position="top-center" [modal]="true" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div style="text-align: center">
            <i class="alert-image pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3 class="title" [innerHTML]="message.summary"></h3>
            <p class="message-details" [innerHTML]="message.detail"></p>
        </div>
        <div class="buttons">
            <button (click)="close(message.key);$event.stopPropagation();" type="button" class="btn btn-default">Close</button>
        </div>
    </ng-template>
</p-toast>
