<div bsModal #infoModal="bs-modal" id="infoModal" class="modal fade error-dialog" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button (click)="close()" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">
                    {{title}}
                </h4>
            </div>
            <div class="modal-body">
                <div class="error-message" [innerHTML]="message"></div>

                <div class="error-detail-toggle" *ngIf="details">
                    <div *ngIf="!shouldShowDetails">
                        <a (click)="toggleShowDetails()">Show error details</a>
                    </div>
                    <div *ngIf="shouldShowDetails">
                        <a (click)="toggleShowDetails()">Hide error details</a>
                    </div>
                </div>

                <div class="stack-trace-panel"
                     [class.hidden]="!shouldShowDetails"
                     [innerHTML]="details">
                </div>
            </div>
            <div class="modal-footer">
                <button (click)="close()" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
