.error-dialog {

    .error-message {
        text-align: center;
        background-color: inherit;
        border-color: inherit;
        color: #ff6161;
        font-size: 1.5em;
        font-weight: bold;
    }

    .excuse-messages {
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: .9em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .error-detail-toggle {
        cursor: pointer;
        margin-bottom: 0.5em;
    }

    .stack-trace-panel {
        overflow: scroll;
        height: 500px;
        width: 100%;
        white-space: pre;
    }
}

