<div class="my-tests-stats">
    <div class="header">
        <div class="range">
            <label>Range</label>
            <p-calendar [(ngModel)]="rangeDates"
                        selectionMode="range"
                        [readonlyInput]="true"
                        [yearRange]="getMinYear() + ':' + getMaxYear()"
                        dateFormat="dd/mm/yy"
            (ngModelChange)="onDateRangeChange($event)"></p-calendar>
        </div>
        <div class="title">Tests Overview</div>
    </div>

    <div class="body">
        <p-chart #chart type="line" [data]="data" [options]="options"></p-chart>
    </div>
</div>
