<div class="main-container">
    <split direction="horizontal">
        <split-area [size]="30">

            <resources-tree [treeModel]="resourcesTreeService.getTreeRoot()"
                            [modelComponentMapping]="modelComponentMapping"></resources-tree>

        </split-area>
        <split-area [size]="70" [visible]="isStepSelected">

            <router-outlet></router-outlet>

        </split-area>
    </split>

    <are-you-sure-modal #areYouSureModalComponent></are-you-sure-modal>

</div>
