<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="classpath:/spring/spring_settings.xml"/>

    <bean id="fileRepositoryObjectMapper" class="com.testerum.file_repository.json.FileRepositoryObjectMapperFactory" factory-method="createKotlinObjectMapper"/>

    <bean id="fileRepositoryService" class="com.testerum.file_repository.FileRepositoryService">
        <constructor-arg name="settingsManager" ref="settingsManager"/>
    </bean>

    <bean id="attachmentFileRepositoryService" class="com.testerum.file_repository.AttachmentFileRepositoryService">
        <constructor-arg name="fileRepositoryService" ref="fileRepositoryService"/>
    </bean>
</beans>