.tree-node {
    display: flex;
    flex-direction: row;

    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
    white-space: nowrap;

    line-height: 24px;
}
.horizontal-line {
    width: 7px;
    margin-left: 1px;
    height: 100%;
}
.show-dots .horizontal-line {
    border-bottom: 1px dotted black;
}
.horizontal-line-distance-from-top {
    height: 12px;
    display: flex;
}
.show-dots .last-horizontal-line {
    border-left: 1px dotted black;
}
.tree-node-line {
    border-left: 1px dotted black;
    margin-top: 1px;
    margin-left: 5px;
}

.tree-node-last {
    border-left: 0;
}

.tree-node-header {
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    vertical-align: middle;
}

.toggle-icon {
    width: 5px;
    margin-top: 5px;
}

.fa_my-tree-node-open {
    margin-left: -5px;

    + .horizontal-line {
        width: 10px;
    }
}
.fa_my-tree-node-close {
    margin-left: -2px;

    + .horizontal-line {
        width: 7px;
    }
}
.fa_my-tree-node-empty {
    margin-left: -2px;

    + .horizontal-line {
        width: 7px;
    }
}

/* SHOW - HIDE CHILDREN*/
.fa_my-tree-node-open > tree-children {
    display: block;
}
.fa_my-tree-node-close > .tree-children {
    display: none;
}



