<ng-container>
    <div class="tree-node"
         [class.tree-node-line]="model.getOptions().displayLines"
         [class.tree-node-open]="model.getNodeState().showChildren && hasChildren()"
         [class.tree-node-close]="!model.getNodeState().showChildren && hasChildren()"
         [class.tree-node-empty]="!hasChildren()"
         [class.tree-node-last]="isLastNode"> <!--tree-node-close tree-node-leaf-->

        <i *ngIf="model.getOptions().displayLines" class="tree-icon tree-line-icon" (click)="toggleShowHideChildren();$event.stopPropagation();"></i>
        <i *ngIf="!model.getOptions().displayLines" class="tree-node-closed-icon" (click)="toggleShowHideChildren();$event.stopPropagation();"></i>

        <div class="tree-node-header" (click)="toggleShowChildren();$event.stopPropagation();">
            <span #content></span>
        </div>
    </div>
</ng-container>
