<ul class="nav nav-tabs">
    <li role="tab"
        class="tab"
        [class.disabled]="!isEditMode() && getSelectedResponse() != HttpMockResponseType.MOCK"
        (click)="display(HttpMockResponseType.MOCK);$event.stopPropagation();"
        [class.active]="getSelectedResponse() == HttpMockResponseType.MOCK">
        <a>Mock</a>
    </li>
    <li role="tab"
        class="tab"
        [class.disabled]="!isEditMode() && getSelectedResponse() != HttpMockResponseType.FAULT"
        (click)="display(HttpMockResponseType.FAULT);$event.stopPropagation();"
        [class.active]="getSelectedResponse() == HttpMockResponseType.FAULT">
        <a>Fault</a>
    </li>
    <li role="tab"
        class="tab"
        [class.disabled]="!isEditMode() && getSelectedResponse() != HttpMockResponseType.PROXY"
        (click)="display(HttpMockResponseType.PROXY);$event.stopPropagation();"
        [class.active]="getSelectedResponse() == HttpMockResponseType.PROXY">
        <a>Proxy</a>
    </li>
</ul>

<div *ngIf="getSelectedResponse() == HttpMockResponseType.MOCK" class="panel panel-default">
    <div class="panel-body">

        <!-- STATUS CODE -->
        <div class="my-line">
            <label class="my-label label-size">Status Code</label>
            <div class="my-value" *ngIf="!isEditMode()">
                {{getModel().statusCode}} {{getStatusCodeText()?" - " + getStatusCodeText():""}}
            </div>
            <div class="my-value" *ngIf="isEditMode()">
                <input #statusCodeNgModel="ngModel" [(ngModel)]="getModel().statusCode"
                       type="number" min="1" max="600" class="form-control input-3-letters" name="statusCode">
                <span *ngIf="getStatusCodeText()" class="status-code-text">{{" - " + getStatusCodeText()}}</span>
            </div>
        </div>

        <!-- HEADERS -->
        <http-mock-response-headers [headers]="getModel().headers"></http-mock-response-headers>

        <!-- BODY -->
        <http-mock-response-body></http-mock-response-body>

        <!-- DELAY -->
        <div class="my-line">
            <label class="my-label label-size">Delay (ms)</label>
            <div class="my-value" *ngIf="!isEditMode()">
                {{getModel().delay || ""}}
            </div>
            <div class="my-value" *ngIf="isEditMode()">
                <input isNumberValidator
                       #delay="ngModel" [(ngModel)]="getModel().delay"
                       type="text" class="form-control input-delay" name="delay">
                <div *ngIf="delay.errors && (delay.dirty || delay.touched)"
                     class="alert alert-danger">
                    <div [hidden]="!delay.errors.isNumberValidator">
                        This input requires a valid number
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="getSelectedResponse() == HttpMockResponseType.FAULT" class="panel panel-default full-size-flex-element flex-panel">
    <div class="panel-body full-size-flex-element flex-panel">
        <http-mock-fault-response></http-mock-fault-response>
    </div>
</div>

<div *ngIf="getSelectedResponse() == HttpMockResponseType.PROXY" class="panel panel-default full-size-flex-element flex-panel">
    <div class="panel-body full-size-flex-element flex-panel">
        <http-mock-proxy-response></http-mock-proxy-response>
    </div>
</div>
