.label-size {
    width: 7em;
}

.response-delay {
    display: flex;
    align-items: center;
}

[role] {
    cursor: pointer;
}
.active {
    cursor: default;
}
.active > a {
    cursor: default;
}

.input-3-letters {
    width: 70px;
}

.input-delay {
    width: 90px;
}
.my-status-code-container {
    display: flex;
    flex-direction: row;

    .status-code-text {
        display: flex;
        align-items: center;
        margin-left: 10px;
    }
}
