<div bsModal #infoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" [config]="{backdrop: 'static'}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button (click)="close()" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">
                    Filesystem Directory Chooser
                </h4>
            </div>
            <div class="modal-body">

                <div class="file-chooser">
                    <json-tree [treeModel]="fileDirectoryChooserJsonTreeModel"
                               [modelComponentMapping]="fileDirectoryChooserService.jsonModelComponentMapping">
                    </json-tree>
                </div>
            </div>

            <!-- BUTTONS -->
            <div class="modal-footer">
                <div class="selected-path-container">
                    <span class="selecte-path-label">Selected path:</span> {{selectedPath}}
                </div>
                <div class="button-container">
                    <button (click)="createDirectory();" type="button" class="btn btn-default pull-left"
                            [disabled]="!selectedPath || !selectedNode.canCreateChild">
                        Create Directory
                    </button>
                    <button (click)="cancel();" type="button" class="btn btn-default">Cancel</button>
                    <button (click)="selectDirectory()" class="btn btn-primary"
                            [disabled]="!selectedPath || !selectedNode.canCreateChild">Select</button>
                </div>
            </div>
        </div>
    </div>
</div>
