<div bsModal #infoModal="bs-modal" class="file-dir-chooser-modal modal fade" tabindex="-1" role="dialog" [config]="{backdrop: 'static'}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button (click)="onCancelAction()" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">
                    Filesystem Directory Chooser
                </h4>
            </div>
            <div class="modal-body">

                <div class="selected-path-container">
                    <span class="selected-path-label">{{isTesterumProjectChooser? "Selected project path:" : "Selected path:"}}</span>
                    <input name="name"
                           [(ngModel)]="selectedPathAsString"
                           (ngModelChange)="onSelectedPathChanges($event)"
                           type="text" class="form-control"
                           (keydown.enter)="$event.preventDefault()">
                </div>

                <div class="file-chooser">
                    <file-dir-tree [isTesterumProjectChooser]="isTesterumProjectChooser"
                                   [showFiles]="showFiles"></file-dir-tree>
                </div>

            </div>

            <!-- BUTTONS -->
            <div class="modal-footer">
                <div class="button-container">
                    <button *ngIf="!isTesterumProjectChooser"
                            (click)="createDirectory()" type="button" class="btn btn-default pull-left"
                            [disabled]="!isValidSelectedPath">
                        Create Directory
                    </button>
                    <button (click)="onCancelAction();" type="button" class="btn btn-default">Cancel</button>
                    <button (click)="onDirectoryChooseAction()" class="btn btn-primary"
                            [disabled]="!isValidSelectedPath">Select</button>
                </div>
            </div>
        </div>
    </div>
</div>
