.modal {
    max-height: calc(100% - 20px);
    overflow-y: auto;
}

.modal-footer {
    padding-top: 5px;
    border-top: 1px solid #e5e5e5;
    display: flex;
    justify-content: flex-end;
    flex-flow: column;
}

.file-chooser {
    max-height: 300px;
    overflow: auto;
}

.selected-path-container {
    text-align: left;
    margin-bottom: 5px;
}

.selecte-path-label{
    font-weight: bold;
    margin-right: 5px;
}
