<div *ngIf="condensedViewMode && !model.isEmpty()" class="condensed-view-container">
    <div class="condensed-view-body">{{model.toFormattedJSON()}}</div>
</div>

<!-- REGULAR RESPONSE -->
<form *ngIf="!condensedViewMode" class="form-horizontal">

    <!-- NAME -->
    <div class="my-line">
        <label class="my-label label-size">Name</label>
        <div class="my-value" *ngIf="!editMode || isSharedResource">
            {{name}}
        </div>
        <div class="my-value" *ngIf="editMode && !isSharedResource">
            <input required
                   #nameNgModel="ngModel" [(ngModel)]="name"
                   type="text" class="form-control" name="name">
            <input-error [model]="nameNgModel"
                         [errorMessages]="{
                                        required: 'A name for this resource is required',
                                        a_resource_with_the_same_name_already_exist: 'A resource with the same name already exists'
                                     }"></input-error>
        </div>
    </div>

    <!-- RDBMS CONNECTION -->
    <div class="my-line" *ngIf="editMode">
        <label class="my-label label-size">DB Connection</label>
        <div class="my-value">
            <p-dropdown #connectionDropdown
                        [options]="availableRdbmsConnections"
                        [(ngModel)]="selectedRdbmsConnection"
                        (onChange)="onSelectedRdbmsConnectionChanged(connectionDropdown.value)"
                        class="connection-dropdown"
                        name="connections"></p-dropdown>
        </div>
    </div>

    <rdbms-verify-tree></rdbms-verify-tree>
</form>
