<div *ngIf="condensedViewMode && !model.isEmpty()" class="condensed-view-container">
    <div class="condensed-view-body">{{model.toFormattedJSON()}}</div>
</div>

<!-- REGULAR RESPONSE -->
<form *ngIf="!condensedViewMode" class="form-horizontal">

    <!-- NAME -->
    <div class="form-group row">
        <label class="col-md-2 control-label">Name</label>
        <div class="col-md-10 form-value" *ngIf="!editMode">
            {{name}}
        </div>
        <div class="col-md-10" *ngIf="editMode">
            <input required
                   #nameNgModel="ngModel" [(ngModel)]="name"
                   type="text" class="form-control" name="name">
            <input-error [model]="nameNgModel"
                         [errorMessages]="{
                                        required: 'A name for this resource is required',
                                        a_resource_with_the_same_name_already_exist: 'A resource with the same name already exists'
                                     }"></input-error>
        </div>
    </div>

    <!-- RDBMS CONNECTION -->
    <div class="form-group row" *ngIf="editMode">
        <label class="col-md-2 control-label">RDBMS Connection</label>
        <div class="col-md-10">
            <select name="rdbmsConnection"
                    class="form-control inline"
                    [ngModel]="selectedRdbmsConnection"
                    #selectItem (change)="onSelectedRdbmsConnectionChanged(selectItem.value)">
                <option [value]="''"></option>
                <option *ngFor="let connection of availableRdbmsConnections" [value]="connection.toString()">{{connection.fileName}}</option>
            </select>
        </div>
    </div>

    <rdbms-verify-tree></rdbms-verify-tree>
</form>
