.label-size {
    width: 8em;
}

.connection-dropdown {
    .ui-dropdown {
        min-width: 200px;
    }
}

.connection-value-container {
    display: inline-flex;
    align-items: center;
}

.info-icon {
    margin-left: 5px;
}
