@import "../../../../resources/css/testerum-variables.scss";

.run-config-modal {
    display: flex !important;
    align-items: center;

    .modal-dialog {
        align-self: center;
        width: 90%;
        height: 80%;
        min-height: 500px;
        max-width: 1400px;

        .modal-content {
            height: 100%;
        }

        .modal-body {
            display: flex;
            flex-direction: row;

            /* 100% = dialog height, 120px = header + footer */
            height: calc(100% - 120px);
            overflow-y: auto;
            padding: 0;

        }
    }
}
