
.node-attr-input-value {
    vertical-align: middle;
    font-size: smaller;
    line-height: normal;
    margin-left: 5px;
}

.error-icon {
    background-image: url(../../../media/error.png);
    background-size: 15px 15px;
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
}

.tree-node-new-icon {
    font-size: 15px;
    width: 15px;
}
.tree-node-new-folder-icon {
    font-size: 15px;
    width: 15px;
    color: #c7c308;
}

.tree-node-table-icon {
    background-image: url(../../../media/table.png);
    background-size: 19px 19px;
    background-position: 0 2px;
}
.tree-node-table-row-icon {
    background-image: url(../../../media/table-row.png);
    background-size: 19px 19px;
    background-position: -1px 2px;
}
