
.node-attr-input-value {
    vertical-align: middle;
    font-size: smaller;
    line-height: normal;
    margin-left: 5px;
}

.error-icon {
    background-image: url(../../../media/error.png);
    background-size: 15px 15px;
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
}
