<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- ========== Transaction definition ========== -->
    <!--TODO: ask Cristi why is breaking dependenciy injection-->
    <!--<aop:config>-->
        <!--<aop:pointcut id="esbPointcut1" expression="execution(public * net.qutester.service.*.*(*))"/>-->
        <!--<aop:advisor advice-ref="txAdvice" pointcut-ref="esbPointcut1"/>-->
    <!--</aop:config>-->

    <bean id="jsonObjectMapper" class="net.qutester.common.json.ObjectMapperFactory" factory-method="createObjectMapper">
        <constructor-arg name="subTypes">
            <list>
                <value>net.qutester.model.step.BasicStepDef</value>
                <value>net.qutester.model.step.ComposedStepDef</value>
            </list>
        </constructor-arg>
    </bean>

    <bean id="testsRunnerJsonObjectMapper" class="net.qutester.common.json.ObjectMapperFactory" factory-method="createKotlinObjectMapper"/>
</beans>