<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="jsonObjectMapper" class="com.testerum.common_json.ObjectMapperFactory" factory-method="createObjectMapper">
        <constructor-arg name="subTypes">
            <list>
                <value>com.testerum.model.step.BasicStepDef</value>
                <value>com.testerum.model.step.ComposedStepDef</value>
            </list>
        </constructor-arg>
    </bean>

    <bean id="testsRunnerJsonObjectMapper" class="com.testerum.common_json.ObjectMapperFactory" factory-method="createKotlinObjectMapper"/>

</beans>