<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="featureService" class="com.testerum.service.feature.FeatureService">
        <constructor-arg name="fileRepositoryService" ref="fileRepositoryService"/>
        <constructor-arg name="attachmentFileRepositoryService" ref="attachmentFileRepositoryService"/>
        <constructor-arg name="testsService" ref="testsService"/>
    </bean>

    <bean id="manualTestsService" class="com.testerum.service.manual.ManualTestsService">
        <constructor-arg name="fileRepositoryService" ref="fileRepositoryService"/>
    </bean>

    <bean id="manualTestsRunnerService" class="com.testerum.service.manual.ManualTestsRunnerService">
        <constructor-arg name="fileRepositoryService" ref="fileRepositoryService"/>
    </bean>

    <bean id="testsExecutionService" class="com.testerum.service.tests_runner.execution.TestsExecutionService">
        <constructor-arg name="settingsManager" ref="settingsManager"/>
        <constructor-arg name="jsonObjectMapper" ref="testsRunnerJsonObjectMapper"/>
    </bean>

    <bean id="settingsService" class="com.testerum.service.config.SettingsService">
        <constructor-arg name="settingsManager" ref="settingsManager"/>
    </bean>

    <bean id="stepService" class="com.testerum.service.step.StepService" init-method="init">
        <constructor-arg name="basicStepsService" ref="basicStepsService"/>
        <constructor-arg name="composedStepsService" ref="composedStepsService"/>
        <constructor-arg name="warningService" ref="warningService"/>
    </bean>

    <bean id="stepUpdateCompatibilityService" class="com.testerum.service.step.StepUpdateCompatibilityService">
        <constructor-arg name="stepService" ref="stepService"/>
        <constructor-arg name="testsService" ref="testsService"/>
    </bean>

    <bean id="stepUpdateService" class="com.testerum.service.step.StepUpdateService">
        <constructor-arg name="stepService" ref="stepService"/>
        <constructor-arg name="composedStepsService" ref="composedStepsService"/>
        <constructor-arg name="testsService" ref="testsService"/>
        <constructor-arg name="stepUpdateCompatibilityService" ref="stepUpdateCompatibilityService"/>
        <constructor-arg name="warningService" ref="warningService"/>
    </bean>

    <bean id="scannerService" class="com.testerum.service.scanner.ScannerService" init-method="init">
        <constructor-arg name="settingsManager" ref="settingsManager" />
        <constructor-arg name="stepLibraryCacheManger" ref="stepLibraryCacheManger" />
    </bean>

    <bean id="basicStepsService" class="com.testerum.service.step.impl.BasicStepsService">
        <constructor-arg name="scannerService" ref="scannerService"/>
        <constructor-arg name="settingsManager" ref="settingsManager"/>
    </bean>

    <bean id="hooksService" class="com.testerum.service.hooks.HooksService">
        <constructor-arg name="scannerService" ref="scannerService" />
    </bean>

    <bean id="composedStepsService" class="com.testerum.service.step.impl.ComposedStepsService">
        <constructor-arg name="uiToFileStepDefMapper" ref="uiToFileStepDefMapper"/>
        <constructor-arg name="fileToUiStepMapper" ref="fileToUiStepMapper"/>
        <constructor-arg name="fileRepositoryService" ref="fileRepositoryService"/>
        <constructor-arg name="warningService" ref="warningService"/>
    </bean>

    <bean id="testResolver" class="com.testerum.service.tests.resolver.TestResolver">
        <constructor-arg name="stepService" ref="stepService"/>
    </bean>

    <bean id="testsService" class="com.testerum.service.tests.TestsService">
        <constructor-arg name="testResolver" ref="testResolver"/>
        <constructor-arg name="fileRepositoryService" ref="fileRepositoryService"/>
        <constructor-arg name="resourcesService" ref="resourcesService"/>
        <constructor-arg name="uiToFileTestMapper" ref="uiToFileTestMapper"/>
        <constructor-arg name="fileToUiTestMapper" ref="fileToUiTestMapper"/>
        <constructor-arg name="warningService" ref="warningService"/>
    </bean>

    <bean id="tagsService" class="com.testerum.service.tags.TagsService">
        <constructor-arg name="featureService" ref="featureService" />
        <constructor-arg name="testsService"   ref="testsService" />
        <constructor-arg name="stepService"    ref="stepService" />
    </bean>

    <bean id="testRunnerResultService" class="com.testerum.service.tests_runner.result.TestRunnerResultService">
        <constructor-arg name="fileRepositoryService" ref="fileRepositoryService"/>
        <constructor-arg name="objectMapper" ref="fileRepositoryObjectMapper"/>
    </bean>

    <bean id="variablesService" class="com.testerum.service.variables.VariablesService">
        <constructor-arg name="fileRepositoryService" ref="fileRepositoryService"/>
        <constructor-arg name="jsonObjectMapper" ref="jsonObjectMapper"/>
    </bean>

    <bean id="fileSytemService" class="com.testerum.service.config.FileSystemService" />

    <bean id="warningService" class="com.testerum.service.warning.WarningService" />

    <bean id="messageService" class="com.testerum.service.message.MessageService"/>

    <bean id="networkService" class="com.testerum.service.resources.rdbms.NetworkService" />

    <bean id="rdbmsDriverConfigService" class="com.testerum.service.resources.rdbms.RdbmsDriverConfigService">
        <constructor-arg name="settingsManager" ref="settingsManager"/>
    </bean>

    <bean id="rdbmsService" class="com.testerum.service.resources.rdbms.RdbmsService">
        <constructor-arg name="settingsManager" ref="settingsManager"/>
        <constructor-arg name="resourcesService" ref="resourcesService"/>
        <constructor-arg name="rdbmsDriverConfigService" ref="rdbmsDriverConfigService"/>
    </bean>

    <bean id="httpClientService" class="com.testerum.service.resources.http.HttpClientService">
        <constructor-arg name="httpClient" ref="httpClient" />
    </bean>

    <bean id="httpClient" class="org.apache.http.impl.client.HttpClients" factory-method="createDefault" destroy-method="close" />

    <bean id="resourceJsonObjectMapper" class="net.qutester.common.json.ObjectMapperFactory" factory-method="createKotlinObjectMapperWithPrettyFormatter"/>

    <bean id="resourcesService" class="com.testerum.service.resources.ResourcesService">
        <constructor-arg name="fileRepositoryService" ref="fileRepositoryService"/>
        <constructor-arg name="objectMapper" ref="resourceJsonObjectMapper"/>
        <constructor-arg name="validators">
            <list>
                <bean class="com.testerum.service.resources.validators.RdbmsConnectionConfigValidator">
                    <constructor-arg name="objectMapper" ref="resourceJsonObjectMapper"/>
                </bean>

                <bean class="com.testerum.service.resources.validators.PathConflictValidation">
                    <constructor-arg name="fileRepositoryService" ref="fileRepositoryService"/>
                </bean>
            </list>
        </constructor-arg>
        <constructor-arg name="handlers" ref="resourceHandlers"/>
    </bean>

    <util:map id="resourceHandlers" key-type="com.testerum.model.repository.enums.FileType" value-type="com.testerum.service.resources.handler.ResourceHandler">
        <entry key="RDBMS_CONNECTION">
            <bean class="com.testerum.service.resources.handler.RdbmsConnectionConfigHandler">
                <constructor-arg name="objectMapper" ref="resourceJsonObjectMapper"/>
                <constructor-arg name="fileRepositoryService" ref="fileRepositoryService"/>
            </bean>
        </entry>
    </util:map>

    <bean id="uiToFileStepDefMapper" class="com.testerum.service.mapper.UiToFileStepDefMapper"/>

    <bean id="fileToUiStepMapper" class="com.testerum.service.mapper.FileToUiStepMapper">
        <constructor-arg name="resourceManager" ref="resourceManager" />
    </bean>

    <bean id="uiToFileTestMapper" class="com.testerum.service.mapper.UiToFileTestMapper">
        <constructor-arg name="stepDefMapper" ref="uiToFileStepDefMapper"/>
    </bean>

    <bean id="fileToUiTestMapper" class="com.testerum.service.mapper.FileToUiTestMapper">
        <constructor-arg name="fileToUiStepMapper" ref="fileToUiStepMapper"/>
    </bean>

</beans>