.runner-config-editor {
    height: 100%;

    .no-runner-config-selected {
        text-align: center;
        margin-top: 2em;
        font-size: 1.5em;

        div {
            margin-top: 0.3em;
        }
    }

    .runner-config-container {
        height: 100%;
        overflow: hidden;

        form {
            height: 100%;
        }

        .my-line {
            margin: 0;
            padding: 0.5em 0.5em;

            .label-size {
                width: 3em;
            }
            .my-value {
                margin-left: 0.5em;
            }
        }

        .ui-tabview {
            height: calc(100% - 40px);
            padding: 0 0.25em;

            .ui-tabview-nav {
                .ui-state-active {
                    &:hover {
                        .ui-tabview-left-icon {
                            color: black;
                        }
                    }
                    .ui-tabview-left-icon {
                        margin-right: 0.3em;
                    }
                }
                li {
                    a {
                        padding: 0.3em .5em;
                    }
                }
            }

            .ui-tabview-panels {
                height: calc(100% - 39px);
                width: 100%;
                padding: 0;

                .ui-tabview-panel {
                    height: 100%;
                    overflow: auto;
                    padding: 0.571em 1em;

                    .setting {
                        .input-description-container {
                            display: flex;
                            flex-direction: row;
                            align-items: center;

                            .my-label {
                                margin-right: 7px;
                            }
                        }
                    }
                }
            }
        }
    }
}
