<div bsModal #userProfileModal="bs-modal" class="modal fade licenseAboutToExpire-modal" tabindex="-1" role="dialog" [config]="{backdrop: 'static'}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button (click)="cancel()" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">
                    <i class="fas fa-user"></i>
                    License Info
                </h4>
            </div>

            <div class="modal-body">
                <div class="title">Your license is about to expire</div>

                <div class="remaining-days">{{daysUntilExpiration}}</div>
                <div class="remaining-days-label">{{(daysUntilExpiration == 1) ? "remaining day" : "remaining days"}}</div>
                <div class="buy">
                    <div class="buy-label">Please consider updating your license</div>
                    <button (click)="navigateToBuyPage()" type="button" class="btn btn-warning" data-dismiss="modal">Renew License</button>
                </div>
            </div>

            <div class="modal-footer">
                <button (click)="ok()" type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
