<div class="node">

    <div class="full-line">

        <i class="tree-node-icon fas fa-server" style="width: auto"></i>

        <span class="node-text">
            {{model.name}}
        </span>

        <tree-node-compare-mode [editMode]="rdbmsVerifyTreeService.editMode"
                                [selectedCompareMode]="model.compareMode"
                                (change)="onCompareModeChange($event)">
        </tree-node-compare-mode>
    </div>

    <json-children [jsonTreeNodeState]="model.jsonTreeNodeState"
                   [modelComponentMapping]="modelComponentMapping"
                   [model]="model"
                   class="full-line">
    </json-children>
</div>
