@import "../../../../resources/css/testerum-variables.scss";

.my-page-not-found {
    width: 100%;
    height: 100%;

    .content {
        width: 100%;
        height: 100%;

        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        .title {
            font-size: 4em;
        }
        .error-code {
            color: $testerum-color;
            font-size: 3em;
            font-family: "Times New Roman", Times, serif;
            margin-top: 0.5em;
            margin-bottom: 2em;
        }
        .message {
            margin-bottom: 1em;
        }
    }
}
