.date-input-basic-resource {

    .date-info-icon {
        margin-left: 5px;
    }

    .my-value {
        flex-grow: 0;
        align-self: center;
        margin-left: 0.5em;
    }

    .calendar {
        display: inline-flex;
        height: 20px;
        margin-left: 5px;

        .calendar-input {
            width:  14em;
        }

        .my-p-calendar {
            .ui-calendar {
                display: inline-flex;

                input {
                    display: none;
                }

                button {
                    height: 20px;
                }

                .ui-datepicker {
                    padding: .1em;

                    .ui-datepicker-calendar {
                        margin-top: 0;
                    }

                    table {
                        th {
                            padding: 0 0.4em;
                        }
                        td {
                            padding: 0;

                            a {
                                padding: 0;
                            }
                        }
                    }
                }

                .ui-timepicker {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0;
                    span {
                        font-size: 1em;
                    }
                    a {
                        font-size: 1em;
                        height: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    div a:last-child {
                        margin: 0;
                    }
                }
            }
        }
    }
}
