<div bsModal #areYouSureModal="bs-modal" class="modal fade are-you-sure-modal" tabindex="-1" role="dialog" [config]="{backdrop: 'static', keyboard: false}"
     (keydown)="onKeyDown($event)">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button (click)="cancel()" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">
                    {{title}}
                </h4>
            </div>
            <div class="modal-body">
                <pre [innerHTML]="text"></pre>
            </div>
            <div class="modal-footer">
                <button (click)="ok()" type="button" class="btn btn-warning" data-dismiss="modal">Ok</button>
                <button (click)="cancel()" type="button" class="btn btn-primary">Cancel</button>
            </div>
        </div>
    </div>
</div>
