<div class="node"
     dnd-draggable [dragEnabled]="hasMouseOver" [dragData]="model" >

    <div class="full-line"
         (mouseover)="hasMouseOver=true;$event.stopPropagation();"
         (mouseleave)="hasMouseOver=false"
         (dblclick)="collapseNode()"

         dnd-droppable [allowDrop]="allowDrop()" (onDropSuccess)="copyResource($event)">

        <i aria-hidden="true"
           [class.fa_my-tree-folder-closed-colored]="!isOpenedNode()"
           [class.fa_my-tree-folder-opened-colored]="isOpenedNode()"></i>

        <span class="node-text"
              [class.error_squiggly]="model.hasOwnOrDescendantWarnings">{{model.name}}</span>

        <!-- BUTTONS RENDERING -->
        <div *ngIf="model.editable"
             class="button-panel btn-group"
             [class.hidden]="!hasMouseOver">

            <div title="Create Composed Step" class="btn btn-default btn-xs btn-group"
                 (click)="showCreateDirectory();$event.stopPropagation();">
                <i class="fa_my-plus" aria-hidden="true"></i>
            </div>

            <div title="Create Folder" class="btn btn-default btn-xs btn-group"
                 (click)="showCreateDirectoryModal(); $event.stopPropagation()">
                <i class="fa_my-folder-opened" aria-hidden="true"></i>
            </div>

            <div title="Edit Folder" class="btn btn-default btn-xs btn-group"
                 *ngIf="!model.isRootPackage"
                 (click)="showEditDirectoryNameModal(); $event.stopPropagation()">
                <i class="fa_my-edit" aria-hidden="true"></i>
            </div>

            <div title="Delete Folder" class="btn btn-default btn-xs btn-group"
                 *ngIf="!model.isRootPackage"
                 (click)="deleteDirectory(); $event.stopPropagation()">
                <i class="fa_my-delete" aria-hidden="true"></i>
            </div>
        </div>
    </div>

    <json-children [jsonTreeNodeState]="jsonTreeNodeState"
                   [modelComponentMapping]="modelComponentMapping"
                   [model]="model"
                   class="full-line">
    </json-children>
</div>
