<div class="http-response-verify-body">
    <div class="body-matching-toolbar"
        [class.body-matching-toolbar-bottom-border]="shouldDisplayTextEditor()">

        <!-- BODY MATCHING -->
        <label class="my-label label-size">Body Matching:</label>
        <div class="my-value" *ngIf="!isEditMode()">
            {{getModel().httpBodyVerifyMatchingType?.toString()}}
        </div>

        <div class="my-value" style="width: max-content"
             *ngIf="isEditMode()">
            <select class="form-control phase-input"
                    (change)="bodyVerifyMatchingTypeChange(bodyVerifyMatchingTypeNgModel.value)"
                    #bodyVerifyMatchingTypeNgModel="ngModel"
                    [(ngModel)]="getModel().httpBodyVerifyMatchingType" name="bodyMatchintType">

                <option [value]=""></option>
                <option *ngFor="let bodyVerifyMatchingTypes of getHttpBodyVerifyMatchingTypes(); let i = index"
                        [ngValue]="bodyVerifyMatchingTypes">
                    {{bodyVerifyMatchingTypes?bodyVerifyMatchingTypes.toString():""}}
                </option>
            </select>
        </div>

        <!-- BODY TYPE -->
        <ng-container *ngIf="shouldDisplayBodyTypeChooser()">
            <label class="my-label label-size" style="margin-left: 60px">Body Type:</label>
            <div class="my-value" *ngIf="!isEditMode()">
                {{getModel().httpBodyType?.toString()}}
            </div>

            <div class="my-value" style="width: max-content" *ngIf="isEditMode()">
                <select class="form-control phase-input"
                        #bodyTypeNgModel="ngModel"
                        [ngModel]="getModel().httpBodyType"
                        (change)="onBodyTypeChange(bodyTypeNgModel.value)" name="bodyType">

                    <option *ngFor="let bodyVerifyTypes of getHttpBodyVerifyTypes(); let i = index"
                            [ngValue]="bodyVerifyTypes">
                        {{bodyVerifyTypes.toString()}}
                    </option>
                </select>
            </div>
        </ng-container>
    </div>

    <!-- BODY TYPE JSON VERIFY-->
    <div *ngIf="getModel().httpBodyVerifyMatchingType == HttpBodyVerifyMatchingType.JSON_VERIFY"
          class="json-verify-container">
        <json-verify [(model)]="expectedBody.bodyVerify" [editMode]="isEditMode()"></json-verify>
    </div>

    <!-- BODY TYPE JSON VERIFY-->
    <div #parentElement *ngIf="shouldDisplayTextEditor()" class="full-size-flex-element monaco-editor-container">
        <monaco-editor #monacoEditorComponent
                       [options]="editorOptions"
                       [value]="getModel().bodyVerify"
                       [autoSizing]="true"
                       [minHeight]="400"
                       [parentElemntRef]="parentElement"
                       (valueChange)="onTextChange($event)"
                       style="height:100%"></monaco-editor>
    </div>
</div>
