.step-text-container:hover .sub-steps-button-panel {
    display: inline-block;
}

.sub-steps-button-panel {
    margin-left: 5px;
    display: none;
    vertical-align: top;
}

.tree-node-icon {
    margin-top: 5px;
    margin-right: 2px;
}
