<div class="node">

    <div class="full-line step-text-container"
         (mouseover)="hasMouseOver=true;$event.stopPropagation();"
         (mouseleave)="hasMouseOver=false"
         (click)="collapseNode();$event.stopPropagation();">

        <i class="fas fa-cog tree-node-icon" aria-hidden="true"></i>
        <span [class.error_squiggly]="model.descendantsHaveWarnings">Sub-Steps</span>

        <!-- BUTTONS -->
        <div class="sub-steps-button-panel btn-group ">

            <div title="Add Sub Step" class="btn btn-default btn-xs btn-group"
                 (click)="addSubStep(); $event.stopPropagation()">
                <i class="fa_my-plus" aria-hidden="true"></i>
            </div>

            <div *ngIf="canPaste() && isEditMode()"
                 title="Paste Step" class="btn btn-default btn-xs btn-group"
                 (click)="onPasteStep(); $event.stopPropagation()">
                <i class="fa_my-paste" aria-hidden="true"></i>
            </div>
        </div>
    </div>

    <json-children [jsonTreeNodeState]="model.jsonTreeNodeState"
                   [modelComponentMapping]="modelComponentMapping"
                   [model]="model"
                   class="full-line">
    </json-children>
</div>
