<div class="node">

    <div class="full-line step-text-container"
         (mouseover)="hasMouseOver=true;$event.stopPropagation();"
         (mouseleave)="hasMouseOver=false"
         (dblclick)="collapseNode()">

        <i class="fa fa-cog tree-node-icon" aria-hidden="true"></i>
        <span>Sub-Steps</span>


        <!-- BUTTONS -->
        <div class="step-button-panel btn-group">

            <div *ngIf="isEditMode()"
                 title="Add Sub Step" class="btn btn-default btn-xs btn-group"
                 (click)="addSubStep(); $event.stopPropagation()">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </div>
        </div>
    </div>

    <json-children [jsonTreeNodeState]="jsonTreeNodeState"
                   [modelComponentMapping]="modelComponentMapping"
                   [model]="model"
                   class="full-line">
    </json-children>
</div>
