.steps-tree_step-node {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .step-node-text {
        display: inline-block;
    }

    .my-button-panel {
        margin-left: 5px;
    }

    .is-selected-to-be-cut-paste {
        border: 1px black dotted;
        border-radius: 10px;
    }
}

