.modal-dialog {
    height: 90%;
    width: 1000px;
}
.modal-content {
    height: 100%;
}

.modal-body {
    /* 100% = dialog height, 120px = header + footer */
    max-height: calc(100% - 120px);
    overflow-y: scroll;
}