<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" [config]="{backdrop: 'static'}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <!-- HEADER -->
            <div class="modal-header">
                <button (click)="onCancelAction()" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">
                    Step Chooser
                </h4>
            </div>

            <div class="modal-body">
                <step-chooser-tree-filter></step-chooser-tree-filter>

                <json-tree [treeModel]="stepChooserService.treeModel"
                           [modelComponentMapping]="jsonModelComponentMapping">
                </json-tree>
            </div>

            <!-- FOOTER Buttons-->
            <div class="modal-footer">
                <button (click)="onCancelAction()" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button (click)="onStepChooseAction()" type="button" class="btn btn-primary">Add Step</button>
            </div>
        </div>
    </div>
</div>
