<div bsModal #stepChooser="bs-modal" id="stepChooser" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <!-- HEADER -->
            <div class="modal-header">
                <button (click)="hide()" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">
                    Step Chooser
                </h4>
            </div>

            <div class="modal-body">
                <step-chooser-tree-filter></step-chooser-tree-filter>

                <!-- COMPOSED STEPS -->
                <json-tree [treeModel]="stepChooserService.composedStepsJsonTreeModel"
                           [modelComponentMapping]="jsonModelComponentMapping">
                </json-tree>

                <!-- BASIC STEPS -->
                <json-tree [treeModel]="stepChooserService.basicStepsJsonTreeModel"
                           [modelComponentMapping]="jsonModelComponentMapping">
                </json-tree>
            </div>

            <!-- FOOTER Buttons-->
            <div class="modal-footer">
                <button (click)="hide()" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button (click)="addStep()" type="button" class="btn btn-primary">Add Step</button>
            </div>
        </div>
    </div>
</div>
