<div bsModal #userProfileModal="bs-modal" class="modal fade license-alert-modal" tabindex="-1" role="dialog"
     [config]="{backdrop: 'static', keyboard: false}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <i class="fas fa-user"></i>
                    License
                </h4>
            </div>

            <!-- TRIAL LICENSE -->
            <div class="modal-body">
                <div class="title">You can use Testerum for FREE</div>
                <div class="description">
                    <div class="license-details">
                        If you enjoy our product and want to help us improve it, please consider {{isExpiredLicense?"renewing your":"buying a"}} licence.
                    </div>
                </div>

                <div class="info-text">
                    * If you already have a license assigned to you, please authenticate
                </div>
            </div>

            <div class="modal-footer">
                <div class="footer-left-side">
                    <button (click)="onAuthenticate()" type="button" class="btn btn-success">Authenticate</button>
                </div>
                <div class="footer-right-side">
                    <button (click)="openBuyPage()" type="button" class="btn btn-warning">{{isExpiredLicense?"Renew license":"Buy license"}}</button>
                    <button (click)="onContinueEvaluating()" type="button" class="btn btn-primary test_continue-without-license" data-dismiss="modal">Continue with the free license</button>
                </div>
            </div>
        </div>
    </div>
</div>
