.basic-resource {
    .condensed-view-container {
        white-space: pre-wrap;
    }

    .label-size {
        width: 3em;
    }

    .my-button-panel {
        margin-left: 5px;
    }

    .input-container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        textarea {
            width: 100%;
            height: 200px;
        }
    }
}
