<div *ngIf="condensedViewMode && !model.isEmpty()" class="condensed-view-container">
    <span class="condensed-view-label">{{name}}</span>
    {{model.content}}
</div>

<form *ngIf="!condensedViewMode" class="form-horizontal flex-panel">

    <div class="my-line">
        <label class="my-label label-size" for="value">{{name}}</label>
        <div class="my-value" *ngIf="!editMode">
            {{model.content || ""}}
        </div>
        <div class="my-value" *ngIf="editMode">
            <input id="value"
                   argValueValidator arg="arg" stepParameter="stepParameter"
                   #valueNgModel="ngModel" [(ngModel)]="model.content"
                   type="text" class="form-control" name="value">

            <input-error [model]="valueNgModel"
                         [errorMessages]="{
                                        argValueValidator_notANumber: 'This field should be a valid number.'
                                     }"></input-error>

        </div>
    </div>
</form>
