<div class="basic-resource">
    <div *ngIf="condensedViewMode && !model.isEmpty()" class="condensed-view-container">{{model.content}}</div>

    <form *ngIf="!condensedViewMode" class="form-horizontal flex-panel">


        <div class="my-line">
            <label class="my-label label-size">Name:</label>

            <div class="my-value full-line" *ngIf="!editNameMode">
                {{name}}
                <div class="button-panel btn-group my-button-panel">

                    <div title="Set custom name" class="btn btn-default btn-xs btn-group"
                         (click)="onEditName();$event.stopPropagation();">
                        <i class="fa_my-edit" aria-hidden="true"></i>
                    </div>
                    <div *ngIf="name != stepParameter.name"
                         title="Remove custom name" class="btn btn-default btn-xs btn-group"
                         (click)="onRemoveCustomName(); $event.stopPropagation()">
                        <i class="fa_my-delete" aria-hidden="true"></i>
                    </div>

                    <info-icon *ngIf="stepParameter.description"
                               [message]="stepParameter.description"
                               class="param-info-icon"></info-icon>
                </div>
            </div>

            <div class="my-value" *ngIf="editNameMode">
                <input paramNameValidator
                       #nameNgModel="ngModel"
                       [(ngModel)]="name"
                       type="text"
                       class="form-control" name="name">
                <input-error [model]="nameNgModel"
                             [errorMessages]="{
                                invalidParamName: 'Invalid parameter name. A parameter can start only with a letter or _ and can contain only letters, numbers and the _ sign'
                             }"></input-error>
            </div>
        </div>

        <string-input-basic-resource *ngIf="isStringResource()"
                                     [name]="name"
                                     [model]="model"
                                     [stepParameter]="stepParameter"
                                     [editMode]="editMode"
                                     [condensedViewMode]="condensedViewMode"
                                     [contextActions]="contextActions"></string-input-basic-resource>

        <boolean-input-basic-resource *ngIf="isBooleanResource()"
                                      [name]="name"
                                      [model]="model"
                                      [stepParameter]="stepParameter"
                                      [editMode]="editMode"
                                      [condensedViewMode]="condensedViewMode"
                                      [contextActions]="contextActions"></boolean-input-basic-resource>

        <date-input-basic-resource *ngIf="isDateResource()"
                                      [name]="name"
                                      [model]="model"
                                      [stepParameter]="stepParameter"
                                      [editMode]="editMode"
                                      [condensedViewMode]="condensedViewMode"
                                      [contextActions]="contextActions"></date-input-basic-resource>

        <enum-input-basic-resource *ngIf="isEnumResource()"
                                   [name]="name"
                                   [model]="model"
                                   [stepParameter]="stepParameter"
                                   [editMode]="editMode"
                                   [condensedViewMode]="condensedViewMode"
                                   [contextActions]="contextActions"></enum-input-basic-resource>
    </form>
</div>
