<fieldset class="shell"
          >
    <legend class="header"
            [class.size1]="heading == 1"
            [class.size2]="heading == 2"
            (click)="animate()">

        <i  class="fa icon"
            [class.fa-caret-right] = "animationState == 'close'"
            [class.fa-caret-down] = "animationState == 'open'"
            aria-hidden="true"></i>
        <span>{{title}}</span>
    </legend>

    <div class="content-shell"
         [@expandCollapse] ="animationState"
         (@expandCollapse.done)="onAnimateEnd()">
        <ng-content></ng-content>
    </div>
</fieldset>

