.my_info-modal {
    .modal-dialog {
        width: 50%;
        max-width: 1200px;
    }

    .modal-content {
        height: 100%;
    }

    .modal-body {
        /* 100% = dialog height, 120px = header + footer */
        max-height: calc(100% - 120px);
        height: 100%;
        overflow-x: hidden;

        pre {
            line-height: 1.4em;
            padding: 0;
            margin: 0;
            border: 0;
            background-color: inherit;
            color: inherit;
            font-family: inherit;
        }

        .info-text {
            text-align: center;
            font-size: 1.3em;
            margin-bottom: 2em;
        }

        .suggestions {
            margin-bottom: 1em;

            .suggestions-title {
                font-size: 1.2em;
                font-weight: bold;
                margin-bottom: 0.5em;
            }
            .suggestions-messages {
                margin-left: 2em;

                .suggestions-message {
                }
            }
        }
    }
}

