.navbar-nav>li>a {
    padding: 0.5em 0.75em;
    margin: 0;

    &:hover {
        background-color: #525252;
    }
}

.active {
    color: #fff !important;
    background-color: transparent;
}

.menu {
    margin-bottom: 0;

    &.navbar {
        min-height: initial;
    }
}

.navbar-right {
    margin-right: 0;
}

.settings-icon-menu-item {
    font-size: 2rem;
}

.testerum-logo {
    font-size: 1rem;

    li a {
        padding: 0.25em 0.5em 0.25em 0.5em;
    }
}

