.variable {
    display: inline-block;
}

.param-parts {
    display: flex;
}

.param-parts > span {
    display: inline-block;
    white-space: pre-wrap;
}

.variable-reference {
    color: mediumseagreen;
}

.arg-name {
    color: #999;
    font-style: italic;
}
