.my-tag-uptime {
    margin-top: 2em;

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-right: 1em;
        margin-bottom: 5px;
        height: auto;

        .title {
            font-size: 2em;
            font-weight: bold;
            text-align: center;
        }
    }

    p-table  {
        .p-datatable {
            font-size: 1em;

            .p-datatable-thead  > tr > th {
                padding: .35em .5em;
            }

            .p-datatable-tbody tr {
                .uptime-cell {
                    text-align: center;
                }
            }

            p-paginator {
                .p-paginator {
                    padding: 0;

                    button {
                        height: 1em;
                    }
                }
            }
        }
    }
}
