.manual-tests-status-tree-toolbar {
    .line-filters {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .filters-group {
            display: flex;
            align-items: center;

            .filters-label {
                margin-right: 10px;
            }
        }
    }

    .color-inherit {
        color: inherit;
    }

    .full-width {
        width: 100%;
    }

    .p-inputgroup {
        margin-top: 1px;

        .p-inputgroup-addon {
            cursor: pointer;

            display: flex !important;
            align-items: center;
            justify-content: center;
            padding: 0 !important;
        }

        .p-inputtext {
            padding: 0 0 0 .5em;
        }
    }

    p-autocomplete {
        width: 100%;

        .p-autocomplete {
            height: 100%;
            display: flex;
            align-items: center;

            .p-autocomplete-multiple-container {
                height: 100%;
                border-radius: 0;

                .p-autocomplete-input-token {
                    padding: 0 .25em 0 0;
                }
            }
        }
    }

    .tags-search-icon {
        font-size: 1rem;
    }
}

