
.field-type {
    color: #afafaf;
}

.my-p-dropdown {
    line-height: normal;
    margin-left: 5px;

    input {
        padding: .1em;
        vertical-align: middle;
        font-size: smaller;
    }
}
