<div class="node">

    <div class="node-line full-line"
         (mouseover)="hasMouseOver=true;$event.stopPropagation();"
         (mouseleave)="hasMouseOver=false">

        <span>[</span>
        <span *ngIf="isCollapsed() && !isEmpty()"> ... ]</span>
        <span *ngIf="!isCollapsed() && isEmpty()"> ]</span>


        <!-- BUTTONS RENDERING -->
        <div *ngIf="isEditMode()"
             [class.hidden]="!hasMouseOver"
             class="button-panel btn-group">

            <div
                title="Add Array" class="btn btn-default btn-xxs btn-group"
                (click)="createArrayNode();$event.stopPropagation();">
                <i class="fa_my-plus" aria-hidden="true"></i><span> [ ]</span>
            </div>

            <div
                title="Add Object" class="btn btn-default btn-xxs btn-group"
                (click)="createObjectNode();$event.stopPropagation();">
                <i class="fa_my-plus" aria-hidden="true"></i><span>{{" { }"}}</span>
            </div>

            <div
                title="Add Null, Boolean, Number or String" class="btn btn-default btn-xxs btn-group"
                (click)="createPrimitiveNode();$event.stopPropagation();">
                <i class="fa_my-plus" aria-hidden="true"></i><span> S</span>
            </div>

            <div
                title="Delete" class="btn btn-default btn-xxs btn-group"
                (click)="deleteEntry();$event.stopPropagation();">
                <i class="fa_my-delete" aria-hidden="true"></i>
            </div>
        </div>


        <tree-node-compare-mode [editMode]="displayEditModeForCompareMode()"
                                [selectedCompareMode]="model.compareMode"
                                (compareModeChange)="onCompareModeChange($event)"
                                [class.hidden]="shouldHideCompareMode()">
        </tree-node-compare-mode>

    </div>

    <json-children [jsonTreeNodeState]="jsonTreeNodeState"
                   [modelComponentMapping]="modelComponentMapping"
                   [model]="model"
                   class="full-line">
    </json-children>

    <span *ngIf="!isCollapsed() && !isEmpty()">]</span>
</div>

