
<div class="body-container">

    <div class="my-line">

        <!-- BODY MATCHING -->
        <label class="my-label label-size">Body Matching:</label>
        <div class="my-value" *ngIf="!isEditMode()">
            {{getModel().matchingType?.toString()}}
        </div>

        <div class="my-value" *ngIf="isEditMode()">
            <select class="form-control phase-input"
                    (change)="bodyMatchingTypeChange(bodyVerifyMatchingTypeNgModel.value)"
                    #bodyVerifyMatchingTypeNgModel="ngModel"
                    [(ngModel)]="getModel().matchingType" name="bodyMatchintType">

                <option [value]="null"></option>
                <option *ngFor="let bodyMatchingType of getBodyMatchingTypes(); let i = index"
                        [ngValue]="bodyMatchingType">
                    {{bodyMatchingType?bodyMatchingType.toString():""}}
                </option>
            </select>
        </div>

        <!-- BODY TYPE -->
        <ng-container *ngIf="shouldDisplayBodyTypeChooser()">
            <label class="my-label label-size">Body Type:</label>
            <div class="my-value" *ngIf="!isEditMode()">
                {{getModel().bodyType?.toString()}}
            </div>

            <div class="my-value" *ngIf="isEditMode()">
                <select class="form-control phase-input"
                        #bodyTypeNgModel="ngModel"
                        [ngModel]="getModel().bodyType"
                        (change)="onBodyTypeChange(bodyTypeNgModel.value)" name="bodyType">

                    <option *ngFor="let bodyVerifyType of getBodyVerifyTypes(); let i = index"
                            [ngValue]="bodyVerifyType">
                        {{bodyVerifyType.toString()}}
                    </option>
                </select>
            </div>
        </ng-container>
    </div>

    <!-- BODY TYPE JSON VERIFY-->
    <div *ngIf="getModel().matchingType == HttpMockRequestBodyMatchingType.JSON_VERIFY"
         class="my-json-verify-container">
        <json-verify [(model)]="getModel().content" [editMode]="isEditMode()"></json-verify>
    </div>

    <!-- BODY TYPE JSON VERIFY-->
    <div #parentElement *ngIf="shouldDisplayTextEditor()"
         class="full-size-flex-element ace-editor-container">

        <monaco-editor #monacoEditorComponent
                       [options]="editorOptions"
                       [value]="getModel().content"
                       [autoSizing]="true"
                       [minHeight]="400"
                       [parentElemntRef]="parentElement"
                       (valueChange)="onTextChange($event)"
                       style="height:100%"></monaco-editor>
    </div>
</div>
