.ace-editor-container {
    position: relative;
    min-height: 300px;
}
.ace-editor {
    position: absolute;
    top: 0;
    bottom: 0;
}

.my-json-verify-container {
    height: 300px;
    position: relative;
}

.label-size {
    width: 9em;
}

.my-value {
    width: inherit;
}

.body-container {
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
}
