:host {
    margin-top: 5em;
    width: 45%;

    &.full-width {
        width: 100%;
    }
}

.my-suite-stats {
    .header {
        position: relative;

        .range {
            position: absolute;

            label {
                margin-right: 0.5em;
            }
        }
        .title {
            font-size: 2em;
            font-weight: bold;
            text-align: center;
        }

        .my-button-panel {
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}
