<div class="my-json-verify-root" >
    <p-toolbar>
        <div class="my-toolbar-container">
            <div class="my-compare-mode-container">
                Compare Mode:

                <select class="form-control my-compare-mode-select" name="compareMode"
                        #compareModeNgModel="ngModel" [ngModel]="selectedJsonCompareMode"
                        [disabled]="!editMode"
                        (change)="onCompareModeChange(compareModeNgModel.value)">
                    <option *ngFor="let compareMode of getJsonCompareModes()" [ngValue]="compareMode">
                        {{compareMode.toString()}}
                    </option>
                </select>

                <div pTooltip="{{getCompareModeTooltip()}}"
                     [escape]="false"
                     tooltipPosition="bottom"
                     (click)="onSetCompareModeEvent()"
                     [class.disabled]="!canAddCompareMode()"
                     class="btn btn-default btn-xxs btn-group">
                    Insert
                </div>

                <info-icon [message]="getJsonVerifyExplanation()"
                           class="description-info-icon"></info-icon>
            </div>

            <span class="label my-toolbar-label"
                  [class.label-success]="isValidJson"
                  [class.label-danger]="!isValidJson">
                {{isValidJson? "Valid JSON": "Invalid JSON"}}
            </span>
        </div>
    </p-toolbar>

    <div class="my-json-editor-container">
        <json-verify-editor [(model)]="model" [isEditMode]="editMode" (change)="onTextChange($event)"></json-verify-editor>
    </div>
</div>
