.my-json-verify-root {
    width: 100%;
    height: 100%;

    .my-toolbar-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: calc(100% - 29px);

        .my-toolbar-label {
            font-size: .9em;
            font-weight: normal;
            padding: .3em .6em;
        }

        .my-btn-toolbar {
            height: 20px;
            padding: 0.25em 0.2em;
        }

        .my-compare-mode-container {
            display: flex;
            align-items: center;

            .description-info-icon {
                margin-left: 5px;
                margin-right: 10px;
            }

            .my-compare-mode-select {
                height: 20px;
                font-size: 1em;
                font-weight: bold;
                padding: 0 8px;
                margin-left: 5px;
            }

            .format-json-button {
                margin-left: 25px;
            }
        }
    }

    .my-json-editor-container {
        border: 1px solid #c8c8c8;
        border-top: 0;
        border-radius: 3px;
    }

    .btn-xxs {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1em;
        padding: 0.1em 0.8em;
    }

    .column-content {
        display: flex;
        flex-direction: column;
    }

    .center-text {
        text-align: center;
    }

    .center {
        align-self: center;
    }
}

