<div class="my-json-verify-root" >
    <p-toolbar>
        <div class="my-toolbar-container">
            <div title="Compare Mode">
                Compare Mode:
            </div>

            <span class="label my-toolbar-label"
                  [class.label-success]="isValidJson"
                  [class.label-danger]="!isValidJson">
                {{isValidJson? "Valid JSON": "Invalid JSON"}}
            </span>
        </div>
    </p-toolbar>

    <div class="my-json-editor-container">
        <json-verify-editor [(model)]="model" [isEditMode]="editMode" (change)="onTextChange($event)"></json-verify-editor>
    </div>
</div>
