
.my-stats {
    margin: 20px;

    .header {
        margin: auto;
        display: flex;
        flex-direction: column;
        position: relative;
        height: 6em;

        .title {
            text-align: center;
            margin: auto;
        }

        .config {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            height: 6em;
            justify-content: center;
            flex-direction: column;

            background: #e4e4e4;
            padding: 0.5em 1em;
            border-radius: 5px;

            .config-line {
                display: flex;
                flex-flow: row;
                align-items: center;

                .date-input {
                    font-weight: bold;
                    margin-right: 5px;
                    .date-label {
                        margin: 0;
                    }
                    .date-value {
                        p-calendar {
                            .p-inputtext {
                                padding: 0;
                                text-align: center;
                                color: #333;
                                border-radius: 3px;
                                border: 1px solid #a6a6a6;
                            }
                        }
                    }
                }
                .show-details {
                    display: flex;
                    align-items: center;
                    margin-top: 3px;

                    p-checkbox {
                        .p-checkbox-box {
                            border-radius: 3px;
                            border: 1px solid #a6a6a6;
                        }
                        .p-checkbox-label {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }

    .components {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
