.authentication{
    .ui-tabview {
        background-color: #fcf9f4;
    }
    .login-tab {

        .checkbox-container{
            margin-left: 0.5em;
        }
        .login-button {
            display: flex;
            margin-left: 8.4em;
        }
    }
}

