
<div bsModal #resourceModal="bs-modal" class="arg-modal modal fade" tabindex="-1" role="dialog" [config]="{backdrop: 'static'}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <!-- HEADER -->
            <div class="modal-header">
                <div class="modal-header-buttons">

                    <button (click)="onCancel();$event.stopPropagation();" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <h4 class="modal-title">
                    {{modalTitle}}
                </h4>
            </div>

            <!-- BODY-->
            <div class="modal-body">
                <div #modalBody></div>
            </div>

            <!-- FOOTER Buttons-->
            <div class="modal-footer">
                <button (click)="onCancel();$event.stopPropagation();" type="button" class="btn btn-default">Close</button>
                <button (click)="onOk();$event.stopPropagation();"
                        [disabled]="!isValid()"
                        type="button" class="btn btn-primary">Ok</button>
            </div>
        </div>
    </div>
</div>
