
<div bsModal #resourceModal="bs-modal" class="scenario-param-modal modal fade" tabindex="-1" role="dialog" [config]="{backdrop: 'static'}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <!-- HEADER -->
            <div class="modal-header">
                <div class="modal-header-buttons">

                    <button (click)="onCancel();$event.stopPropagation();" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <h4 class="modal-title">
                    {{modalTitle}}
                </h4>
            </div>

            <!-- BODY-->
            <div class="modal-body">

                <form class="form-horizontal flex-panel">
<!-- NAME -->
                    <div class="my-line name-container">
                        <label class="my-label label-size">Name:</label>

                        <div class="my-value full-line align-row align-center-on-vertical" *ngIf="!isEditParamNameMode">
                            {{newParam.name}}
                            <div class="button-panel btn-group my-button-panel align-row align-center-on-vertical">

                                <div title="Rename parameter name" class="btn btn-default btn-xs btn-group"
                                     (click)="onEditParamName();$event.stopPropagation();">
                                    <i class="fa_my-edit" aria-hidden="true"></i>
                                </div>

                                <info-icon [message]="getRenameNameDescription()"
                                           class="param-info-icon"></info-icon>
                            </div>
                        </div>

                        <div class="my-value" *ngIf="isEditParamNameMode">
                            <input required isNotBlankValidator paramNameValidator
                                   #nameNgModel="ngModel"
                                   [ngModel]="newParam.name"
                                   (ngModelChange)="onNameChange($event)"
                                   type="text" class="form-control" name="name">
                            <input-error [model]="nameNgModel"
                                         [errorMessages]="{
                                        required: 'A name is required',
                                        parameter_with_the_same_name_already_exist: 'A parameter with the same name already exists',
                                        invalidParamName: 'Invalid parameter name. A parameter can start only with a letter or _ and can contain only letters, numbers and the _ sign'
                                     }"></input-error>
                        </div>
                    </div>

<!-- TYPE -->
                    <div class="my-line">
                        <label class="my-label label-size">Type:</label>

                        <div class="my-value">
                            <select class="form-control my-compare-mode-select" name="compareMode"
                                    #paramTypeModeNgModel="ngModel" [ngModel]="newParam.type"
                                    (change)="onParamTypeChange(paramTypeModeNgModel.value)">
                                <option *ngFor="let paramType of getParamTypes()" [ngValue]="paramType">
                                    {{paramType.toUiLabel()}}
                                </option>
                            </select>
                        </div>
                    </div>

<!-- VALUE -->
                    <div class="my-line">
                        <label class="my-label label-size">Value:</label>

                        <div class="my-value full-line param-value-container">
                            <!-- JSON VALUE -->
                            <json-editor *ngIf="isJsonValueType()"
                                         [jsonText]="newParam.value"
                                         [editMode]="true"
                                         (valueChange)="onValueChange($event)"></json-editor>

                            <!-- TEXT VALUE -->
                            <div *ngIf="!isJsonValueType()" #parentElement class="my-text-editor-container">
                                <monaco-editor #monacoEditorComponent
                                               [options]="editorOptions"
                                               [value]="newParam.value"
                                               [parentElemntRef]="parentElement"
                                               (valueChange)="onValueChange($event)"
                                               style="height:100%"></monaco-editor>
                            </div>
                        </div>
                    </div>
                </form>

            </div>

            <!-- FOOTER Buttons-->
            <div class="modal-footer">
                <button *ngIf="oldParam" (click)="deleteAction();$event.stopPropagation();" type="button" class="btn btn-danger">Delete</button>
                <button (click)="onCancel();$event.stopPropagation();" type="button" class="btn btn-default">Cancel</button>
                <button (click)="onOk();$event.stopPropagation();"
                        [disabled]="!isValid()"
                        type="button" class="btn btn-primary">Ok</button>
            </div>
        </div>
    </div>
</div>
