@import "../../../../../../../resources/css/testerum-variables.scss";
i {
    margin-right: 3px;
    margin-top: 5px;
}

.full-line {
    display: flex;
    align-items: flex-start;
}

.my-node-executing-color {
    color: $success-color;
}

