@import "../../../../../resources/css/testerum-variables.scss";

.server-not-available-modal {
    .modal-body {
        .main-message {
            text-align: center;
            border: 0;
            background-color: inherit;
            color: inherit;
            font-size: 1.5em;
            line-height: 1.2em;
        }

        .projects {
            margin-top: 2em;

            .projects-title {
                text-align: center;
                font-size: 1.3em;
                font-weight: bold;
                margin-bottom: 0.5em;
            }

            .project {
                cursor: pointer;
                &:hover {
                    background-color: $hover-color;
                }
                .project-name {
                    text-align: center;
                    font-weight: bold;
                    font-size: 1.1em;
                }
                .project-path {
                    color: #9d9d9d;
                    text-align: center;
                }
            }
        }
    }

    .modal-footer {

    }
}
