<div class="run-config-tests-to-execute">
    <div class="my-line">
        <label class="my-label label-size">Tags to include:</label>
        <div class="my-value my-default-line-height">
            <p-autoComplete #tagsToIncludeElement
                            [(ngModel)]="runnerConfig.tagsToInclude"
                            [suggestions]="tagsToIncludeToShow"
                            (completeMethod)="onSearchTagsToInclude($event)"
                            (onSelect)="onTagsToIncludeSelect($event)"
                            (onKeyUp)="onTagsToIncludeKeyUp($event);"
                            [delay]="0"
                            [multiple]="true"
                            [dropdown]="true"
                            name="tags" class="test_tags-to-include-field"></p-autoComplete>
        </div>
    </div>
    <div class="my-line">
        <label class="my-label label-size">Tags to exclude:</label>
        <div class="tags-to-exclude-value my-value my-default-line-height">
            <p-autoComplete #tagsToExcludeElement
                            [(ngModel)]="runnerConfig.tagsToExclude"
                            [suggestions]="tagsToExcludeToShow"
                            (completeMethod)="onSearchTagToExclude($event)"
                            (onSelect)="onTagToExcludeSelect($event)"
                            (onKeyUp)="onTagsToExcludeKeyUp($event);"
                            [delay]="0"
                            [multiple]="true"
                            [dropdown]="true"
                            name="tags"></p-autoComplete>
            <info-icon [message]="'<code>Tags to exclude</code> have priority over <code>Tags to include</code>. In other words, if a test has both a tag from the include list and a tag from the exclude list, that test will not be executed'"
                       [maxWidth]="'400px'"
                       class="tags-to-exclude-info-icon"></info-icon>
        </div>
    </div>
    <div class="my-line test-tree-container">
        <label class="my-label label-size">Tests to execute:</label>
        <run-config-test-tree [paths]="runnerConfig.pathsToInclude"></run-config-test-tree>
    </div>
</div>
