.tree-node-icon {
    width: 15px;
    padding: 0;
    margin: 4px 0 0;

    background-repeat: no-repeat;

    display: inline-block;
    text-decoration: none;
    vertical-align: middle;
    text-align: left;

    align-self: flex-start;
}

.tree-leaf-selected {
    background-color: #cacaca;
    border-radius: 8px;
    padding: 0 10px;
}

.unused-node {
    color: darkgray;
}

.node-text {
    display: inline-block;
    white-space: normal;
}

.node {
    display: flex;
    flex-wrap: wrap;
}

.full-line {
    width: 100%;
    white-space: nowrap;

    display: flex;
    align-items: center;
}


