.error-message .ui-messages-icon {
    @extend .fa;
    @extend .fa-exclamation-triangle;
    color: $error-color;
    font-size: 2em;
}

.error-message {
    color: $alert-text-color;
    background-color: $alert-background-color;
    border-color: $alert-background-color;
}
.error-message .ui-messages-close{
    color: $alert-text-color;
    background-color: $alert-background-color;
}
