p-dropdown {

    .p-dropdown {
        border-radius: 4px;

        .p-dropdown-label {
            padding: 0;
            height: 22px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 8px;
        }
    }

}
