.p-inputgroup {
    .p-inputgroup-addon {
        border-color: #a6a6a6 !important;
        border-top-left-radius: 3px !important;
        border-bottom-left-radius: 3px !important;
        color: #848484;
    }

    .p-inputtext {
        border-color: #a6a6a6 !important;
        border-top-right-radius: 3px !important;
        border-bottom-right-radius: 3px !important;
    }
}

