<div [class.root-node]="!model.parent"
     class="tree-node"
     [class.tree-node-open]="!showChildren"
     [class.tree-node-close]="showChildren && model.children.length != 0"
     [class.tree-node-leaf]="model.children.length == 0"
     [class.tree-node-last]="isLastNode"
     title="{{getStatusTooltip()}}">

    <i *ngIf="model.parent" class="tree-icon tree-line-icon" (click)="toggleShowChildren()"></i>

    <div class="tree-node-header" (click)="setNodeAsSelected()" (dblclick)="toggleShowChildren()" [class.tree-node-selected]="isSelected">

        <i class="fa tree-node-new-icon" aria-hidden="true"
           [class.node-waiting]="model.state == RunnerTreeNodeStateEnum.WAITING"
           [class.node-executing]="model.state == RunnerTreeNodeStateEnum.EXECUTING"
           [class.node-passed]="model.state == RunnerTreeNodeStateEnum.PASSED"
           [class.node-failed]="model.state == RunnerTreeNodeStateEnum.FAILED"
           [class.node-error]="model.state == RunnerTreeNodeStateEnum.ERROR"
           [class.node-undefined]="model.state == RunnerTreeNodeStateEnum.UNDEFINED"
           [class.node-skipped]="model.state == RunnerTreeNodeStateEnum.SKIPPED"


           [class.fa-spinner]="model.state == RunnerTreeNodeStateEnum.WAITING
                               || model.state == RunnerTreeNodeStateEnum.EXECUTING"
           [class.fa-pulse]="model.state == RunnerTreeNodeStateEnum.WAITING
                               || model.state == RunnerTreeNodeStateEnum.EXECUTING"

           [class.fa-check]="model.state == RunnerTreeNodeStateEnum.PASSED"
           [class.fa-times]="model.state == RunnerTreeNodeStateEnum.FAILED"
           [class.fa-exclamation-triangle]="model.state == RunnerTreeNodeStateEnum.ERROR"
           [class.fa-question]="model.state == RunnerTreeNodeStateEnum.UNDEFINED"
           [class.fa-angle-double-right]="model.state == RunnerTreeNodeStateEnum.SKIPPED"></i>

        <span class="tree-node-text">{{model.text}}</span>
    </div>

    <div class="tree-children"
         [hidden]=showChildren>
        <ng-container *ngIf="model">
            <!-- CHILD COMPONENTS RENDERING-->
            <runner-tree-node *ngFor="let child of model.children; let last=last;"
                              [model]="child"
                              [isLastNode]="last">
            </runner-tree-node>
        </ng-container>
    </div>
</div>
