.report-pie {
    display: flex;
    flex-direction: row;
    margin: 0 0 10px 0;

    .legend-container {
        display: flex;
        align-items: center;

        .legend {
            height: 10px;
            width: 10px;
            margin-right: 4px;
            margin-left: 10px;
        }

        .total_tests_label {
            font-weight: bold;
            padding-left: 10px;
            padding-right: 10px;
        }

        .legend_label {
            padding-right: 10px;
        }
    }

    .passed { background-color: #5cb85c;}
    .icon-passed { color: #5cb85c;}
    .failed { background-color: #FF6384;}
    .icon-failed { color: #FF6384;}
    .disabled { background-color: #c0bebc;}
    .icon-disabled { color: #c0bebc;}
    .undefined { background-color: #FFCE56;}
    .icon-undefined { color: #FFCE56;}
    .skipped { background-color: #aae8ff;}
    .icon-skipped { color: #aae8ff;}

}
