$error-color: #d9534f;
$success-color: #5cb85c;
$info-color: #31b0d5;
$warning-color: #f0ad4e;

$passed-color: #5cb85c;
$failed-color: #E6302C;
$disabled-color: #FF7800;
$undefined-color: #FFCE56;
$skipped-color: #aae8ff;

$log-type-debug-color: #808080;
$log-type-info-color: #000000;
$log-type-warning-color: #e05500;
$log-type-exception-color: #ff0000;
