<div class="main-container">
    <split direction="horizontal">
        <split-area [size]="30">
            <div style="margin: 5px 0 5px 0;">
                <manual-tests-overview-runner
                    [model]="manualTestsExecutorTreeService.manualTestRunner"
                    [executionMode]="true">
                </manual-tests-overview-runner>
            </div>

            <json-tree [treeModel]="manualTestsExecutorTreeService.testsJsonTreeModel"
                       [modelComponentMapping]="modelComponentMapping">
            </json-tree>

        </split-area>
        <split-area [size]="70" [visible]="isTestSelected">

            <router-outlet></router-outlet>

        </split-area>
    </split>
</div>
