/*----- LEAF CSS -----*/
.tree-leaf {
    cursor: pointer;

    display: inline-block;
    white-space: nowrap;
    padding: 0 4px 0 1px;
    margin: 0;
    vertical-align: top;
    width: 100%;
}

.tree-line-leaf {
    background-position: -76px -4px;
}

.tree-no-line-icon {
    background-image: none !important;
}
