.step-modal {
    //z-index: 1040;
}

.modal-dialog {
    max-width: 1200px;
    width: 90%;
    height: 90%;
}
.modal-content {
    height: 100%;
}

.modal-body {
    /* 100% = dialog height, 120px = header + footer */
    height: calc(100% - 150px);
    overflow-y: auto;
    padding: 0;
    margin: 15px;
}
