<div class="step-call-editor-container node">

    <div class="full-line step-text-container"
         (mouseover)="hasMouseOver=true;$event.stopPropagation();"
         (mouseleave)="hasMouseOver=false"
         (click)="collapseNode();$event.stopPropagation();">

        <div *ngIf="model.isRootStepCall"
            style="display: flex; flex-direction: column;"
            (click)="collapseNode();$event.stopPropagation();">

            <i *ngIf="model.children.length > 0"
               style="width: 10px;"
               class="fas arrow-icon"
               [class.fa-caret-right]="!model.jsonTreeNodeState.showChildren"
               [class.fa-caret-down]="model.jsonTreeNodeState.showChildren"
               aria-hidden="true"></i>
            <div *ngIf="model.jsonTreeNodeState.showChildren && model.children.length != 0"
                 class="tree-node-line" style="height: 100%"></div>
        </div>

        <p-autoComplete #autoCompleteComponent
                        [suggestions]="suggestions"
                        (completeMethod)="searchSuggestions($event)"
                        [autoHighlight]="true"
                        [delay]="0"
                        (onSelect)="onSuggestionSelected($event)"
                        (onKeyUp)="onKeyUp($event)"
                        styleClass="step-suggestion"
                        [placeholder]="'Type to add step'"
                        class="step-suggestion">
            <ng-template let-stepCallSuggestion pTemplate="item">
                <div class="ui-helper-clearfix suggestion-line-container test_step-suggestion-autocomplete" style="border-bottom:1px solid #D5D5D5">
                    <span *ngIf="stepCallSuggestion.actionText" class="step-call-action-text test_step-suggestion-autocomplete" [innerHTML]="stepCallSuggestion.actionText"></span>
                    <span>{{stepCallSuggestion.stepText}}</span>
                </div>
            </ng-template>
        </p-autoComplete>

        <!-- BUTTONS -->
        <div class="step-editor-button-panel btn-group">

            <div title="Select Step" class="btn btn-default btn-group test_select-step-from-the-tree"
                 (click)="selectStepFromPopup(); $event.stopPropagation()">
                <i class="fa_my-plus" aria-hidden="true"></i>
            </div>
            <div title="Remove Step" class="btn btn-default btn-group"
                 (click)="removeStep(); $event.stopPropagation()">
                <i class="fa_my-delete" aria-hidden="true"></i>
            </div>
        </div>
    </div>

    <input-error *ngIf="errorsKey.length > 0"
                 [errorsKey]="errorsKey"
                 [errorMessages]="{
                        invalidParamName: 'Invalid parameter name &#34;'+ invalidParameterName +'&#34;. A parameter can start only with a letter or _ and can contain only letters, numbers and the _ sign'
                     }"></input-error>

    <json-children [jsonTreeNodeState]="model.jsonTreeNodeState"
                   [modelComponentMapping]="modelComponentMapping"
                   [model]="model"
                   class="full-line">
    </json-children>
</div>
