.step-call-editor-container {
    .step-editor-button-panel {
        .btn {
            width: 25px;
            height: 25px;
            padding-right: 0.2em;
            padding-left: 0.2em;
            padding-top: 0.3em;
        }
    }
}
.step-suggestion {
    width: 600px;
}

.step-suggestion {

    .p-autocomplete {
        width: 600px;

        .p-autocomplete-input{
            width: 600px;
            padding-top: 0;
            padding-bottom: 0;
            border-radius: 4px;
        }

        .p-autocomplete-panel{
            width: 600px;
            left: 0;

            .p-autocomplete-items .p-autocomplete-list-item {
                padding: 0 0.857em;

                .suggestion-line-container {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                }

                &.p-state-highlight .step-call-action-text{
                    color: #A9EB9F;
                }
            }
        }
    }
}

.step-call-action-text {
    font-size: 10px;
    font-weight: bold;
    color: darkmagenta;
}

.step-editor-button-panel {
    display: none;
    vertical-align: top;
    align-items: center;
}
.node:hover .step-editor-button-panel {
    display: flex;
}
