.file-dir-chooser-modal {
    &.modal {
        .modal-dialog {
            max-height: calc(100% - 60px);
            height: 100%;
            overflow-x: hidden;
            /* margin: 0px; */
            padding: 0;

            .modal-content {
                height: 100%;
                overflow: hidden;

                .modal-body {
                    position: relative;
                    max-height: calc(100% - 120px);
                    height: 100%;
                    overflow-x: hidden;
                    padding: 0;

                    .selected-path-container {
                        text-align: left;
                        top: 0;
                        position: sticky;
                        background: white;
                        z-index: 1000;
                        padding-top: 10px;

                        .selected-path-label {
                            font-weight: bold;
                            margin-right: 5px;
                            margin-left: 3px;
                        }

                        input {
                            width: 100%;
                            margin-top: 2px;
                            margin-left: 3px;
                        }
                    }

                    .file-chooser {
                        overflow: auto;
                    }
                }

                .modal-footer {
                    border-top: 1px solid #e5e5e5;
                    display: flex;
                    justify-content: flex-end;
                    flex-flow: column;
                }
            }
        }
    }
}





