<div class="node">

    <div class="full-line"
         (mouseover)="hasMouseOver=true;$event.stopPropagation();"
         (mouseleave)="hasMouseOver=false">

        <span *ngIf="!isEditMode()">{{getValueOfPrimitiveType()}}</span>

        <input #input
               *ngIf="isEditMode()"
               [ngModel]="getValueOfPrimitiveType()"
               (click)="$event.stopPropagation();"
               (ngModelChange)="onValueChange($event)"
               (blur)="saveValueToTree()"
               type="text" class="node-attr-input-value">

        <i *ngIf="isEditMode() && errorValue" class="error-icon"
           title="This is not a valid value"></i>


        <div class="button-panel btn-group"
             *ngIf="isEditMode()"
             [class.hidden]="!hasMouseOver">
            <div
                title="Delete" class="btn btn-default btn-xxs btn-group"
                (click)="deleteEntry();$event.stopPropagation();">
                <i class="fa_my-delete" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>
