<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans    http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/util     http://www.springframework.org/schema/util/spring-util.xsd
       ">

    <!-- override this bean to provide custom assertion functions  -->
    <util:list id="assertionFunctions:customFunctions"/>

    <util:list id="assertionFunctions:builtInFunctions">
        <util:constant static-field="com.testerum.common_assertion_functions.functions.builtin.RegexFunctions.INSTANCE" />
        <util:constant static-field="com.testerum.common_assertion_functions.functions.builtin.TextFunctions.INSTANCE" />
        <util:constant static-field="com.testerum.common_assertion_functions.functions.builtin.TypeCastFunctions.INSTANCE" />
    </util:list>

    <bean id="assertionFunctions:allFunctions" class="com.testerum.common_spring.lists_merger.ListMergerFactoryBean">
        <constructor-arg name="lists">
            <list>
                <ref bean="assertionFunctions:builtInFunctions" />
                <ref bean="assertionFunctions:customFunctions" />
            </list>
        </constructor-arg>
    </bean>

    <bean id="assertionFunctions:delegatingFunctionExecuter" class="com.testerum.common_assertion_functions.executer.DelegatingFunctionExecuterFactory" factory-method="createDelegatingFunctionExecuter">
        <constructor-arg name="functionObjects" ref="assertionFunctions:allFunctions" />
    </bean>

    <bean id="assertionFunctions:functionEvaluator" class="com.testerum.common_assertion_functions.evaluator.FunctionEvaluator">
        <constructor-arg name="delegatingFunctionExecuter" ref="assertionFunctions:delegatingFunctionExecuter" />
    </bean>

</beans>