.scenario-param-node-component {
    border-radius: 3px;
    border: 1px solid #D5D5D5;
    color: #222222;
    cursor: default;
    width: fit-content;

    .header {
        display: block;
        padding-right: 7px;
        border: none;
        width: inherit;
        cursor: pointer;
        margin-bottom: 0;
        margin-left: -4px;
        font-size: 14px;

        .toggle-icon {
            width: 8px;
            margin-right: 5px;
        }

        .param-info-icon {
            display: inline-block;
            margin-left: 5px;
        }

        .undefined-name {
            color: #999;
        }
    }

    .content-shell {
        padding: .0em 1em 0.5em 1em;
        max-height: 500px;
        overflow: auto;
        cursor: default;
        resize: both;

        &.content-shell-close {
            margin-top: 0.2em;
            padding: 0;
        }

        .param-value-container {
            white-space: pre;
            line-height: 12px;
            font-size: 12px;

            code {
                background-color: inherit;
                font-family: "Hack Regular Nerd Font Complete", monospace;
                padding: 0;
            }
        }

        .empty-body-label {
            color: #999;
            display: flex;
            justify-content: center;
        }
    }

    .btn-group {
        margin-left: 6px;
        margin-top: -4px;
    }
}
