<fieldset class="scenario-param-node-component">
    <legend class="header"
            (click)="animate()">

        <i *ngIf="model.scenarioParam.value"
           class="fas toggle-icon"
           [class.fa-caret-right]="animationState == 'close'"
           [class.fa-caret-down]="animationState == 'open'"
           aria-hidden="true"></i>

        <span>
            <span *ngIf="model.scenarioParam.name">{{model.scenarioParam.name}}</span>
            <span *ngIf="!model.scenarioParam.name" class="undefined-name">Undefined</span>
            <span>:&nbsp;</span>
            <span>{{getParamUiType()}}</span>
        </span>

        <info-icon [message]="getParamDescription()"
                   class="param-info-icon"></info-icon>

        <div *ngIf="isEditMode()"
             title="Edit"
             class="btn btn-default btn-xs btn-group"
             (click)="editOrViewResourceInModal(); $event.stopPropagation()">
            <span class="fas fa-pencil-alt">
            </span>
        </div>
    </legend>

    <div class="content-shell"
         [class.content-shell-close]="animationState == 'close'"
         [@expandCollapse]="animationState">

        <div *ngIf="paramHasValue() && isJsonValueType()" class="param-value-container">
            <code [innerHtml]="getHighlightedValueAsJson()"></code>
        </div>

        <div *ngIf="paramHasValue() && !isJsonValueType()" class="param-value-container">
            {{model.scenarioParam.value}}
        </div>

        <div *ngIf="!paramHasValue()"
             class="empty-body-label">
            Undefined value
        </div>
    </div>

</fieldset>

