.node-attr-label {
    font-size: smaller;
    color: darkblue;
    font-weight: normal;
    margin-left: 10px;
    margin-bottom: 0;
    line-height: 20px;
}

.node-attr-value {
    font-size: small;
    color: darkviolet;
    font-weight: normal;
}
