.node-attr-label {
    font-size: 1em;
    color: darkblue;
    font-weight: normal;
    margin-left: 1em;
    margin-bottom: 0;
}

.node-attr-value {
    font-size: 1em;
    color: darkviolet;
    font-weight: normal;
}
.node-attr-input-value {
    font-size: 0.8em !important;
    height: 1.4em;
}
