:host {
    height: 100%;
}
.string-input-basic-resource {
    .label-size {
        width: 3em;
    }

    .input-container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    &.multiline-text-line {
        height: 99%;
        .multiline-text {
            height: 100%;
            .input-container {
                height: 100%;
                textarea {
                    width: 100%;
                    height: 100%;
                    padding: 5px 8px;
                }
            }
        }
    }
}
