<div class="node">

    <div class="node-line full-line"
         (mouseover)="hasMouseOver=true;$event.stopPropagation();"
         (mouseleave)="hasMouseOver=false">

        <span *ngIf="!isEditMode()">{{getNameForUi()}}</span>

        <input *ngIf="isEditMode()"
               [ngModel]="getNameForUi()"
               (click)="$event.stopPropagation();"
               (ngModelChange)="onNameForUiChange($event)"
               (blur)="saveName()"
               type="text"
               class="node-attr-input-value"
               [class.unused-node]="!model.isDirty">

        <i *ngIf="isEditMode() && errorName" class="error-icon"
           title="This is not a valid field name"></i>

        <span> : </span>


        <span *ngIf="model.isValueAnArray()">{{'['}}</span>
        <span *ngIf="model.isValueAnArray() && isCollapsed() && !model.isEmptyValue()"> ... ]</span>
        <span *ngIf="model.isValueAnArray() &&  model.isEmptyValue()">]</span>

        <span *ngIf="model.isValueAnObject()">{{'{'}}</span>
        <span *ngIf="model.isValueAnObject() && isCollapsed() && !model.isEmptyValue()"> ... }</span>
        <span *ngIf="model.isValueAnObject() &&  model.isEmptyValue()">{{'}'}}</span>

        <!-- START VALUE AS PRIMITIVE-->
        <span *ngIf="!model.isValueAContainer() && !isEditMode()">{{model.getValueOfPrimitiveType()}}</span>

        <input *ngIf="!model.isValueAContainer() && isEditMode()"
               [ngModel]="uiValue"
               (click)="$event.stopPropagation();"
               (ngModelChange)="onValueForUiChange($event)"
               (blur)="saveValue()"
               type="text" class="node-attr-input-value">
        <!-- END VALUE AS PRIMITIVE-->


        <!-- BUTTONS RENDERING -->
        <div class="button-panel btn-group"
             *ngIf="isEditMode() && model.isValueAContainer()"
             [class.hidden]="!hasMouseOver">

            <div
                title="Add Array" class="btn btn-default btn-xxs btn-group"
                (click)="createArrayNode();$event.stopPropagation();">
                <i class="fa_my-plus" aria-hidden="true"></i><span> [ ]</span>
            </div>

            <div
                title="Add Object" class="btn btn-default btn-xxs btn-group"
                (click)="createObjectNode();$event.stopPropagation();">
                <i class="fa_my-plus" aria-hidden="true"></i><span>{{" { }"}}</span>
            </div>

            <div
                title="Add Null, Boolean, Number or String" class="btn btn-default btn-xxs btn-group"
                (click)="createPrimitiveNode();$event.stopPropagation();">
                <i class="fa_my-plus" aria-hidden="true"></i><span> S</span>
            </div>

            <div
                title="Delete" class="btn btn-default btn-xxs btn-group"
                (click)="deleteEntry();$event.stopPropagation();">
                <i class="fa_my-delete" aria-hidden="true"></i>
            </div>
        </div>

        <div class="button-panel btn-group"
             *ngIf="isEditMode() && !model.isValueAContainer()"
             [class.hidden]="!hasMouseOver">
            <div
                title="Delete" class="btn btn-default btn-xxs btn-group"
                (click)="deleteEntry();$event.stopPropagation();">
                <i class="fa_my-delete" aria-hidden="true"></i>
            </div>
        </div>

        <tree-node-compare-mode [editMode]="displayEditModeForCompareMode()"
                                [selectedCompareMode]="model.compareMode"
                                (compareModeChange)="onCompareModeChange($event)"
                                [class.hidden]="shouldHideCompareMode()">
        </tree-node-compare-mode>
    </div>

    <json-children *ngIf="model.isValueAContainer()"
                   [jsonTreeNodeState]="jsonTreeNodeState"
                   [modelComponentMapping]="modelComponentMapping"
                   [model]="model.value"
                   class="full-line">
    </json-children>

    <span *ngIf="model.isValueAnObject() && !isCollapsed() && !model.isEmptyValue()">{{'}'}}</span>
    <span *ngIf="model.isValueAnArray() && !isCollapsed() && !model.isEmptyValue()">{{']'}}</span>
</div>
