.line-filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filters-label {
    margin-right: 10px;
}

.color-inherit {
    color: inherit;
}

.btn-xs {
    width: 24px;
}

.full-width {
    width: 100%;
}

.ui-autocomplete {
    display: flex;
    align-items: center;
}

.ui-inputgroup {
    margin-top: 1px;
}

.ui-inputgroup-addon {
    width: 30px;
    cursor: pointer;

    display: flex !important;
    align-items: center;
    justify-content: center;
}
