@import 'testerum-stats-fontawesome';

@import "nerd-fonts-generated-2.0.0.min";
@import "testerum-stats-variables";

// OVERWRITING PRIMENG STYLING
.ui-calendar {
    .ui-inputtext {
        padding: 0 !important;
        font-family: inherit !important;
        text-align: center !important;
        cursor: pointer;
    }
}
p-checkbox {
    label {
        cursor: pointer;
    }
}

