<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans    http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <import resource="spring_common-assertion-functions.xml" />

    <bean id="commonJsonDiff:jsonComparer" class="com.testerum.common.json_diff.impl.JsonComparerImpl">
        <constructor-arg name="jsonNodeComparer" ref="commonJsonDiff:jsonNodeComparer" />
    </bean>

    <bean id="commonJsonDiff:jsonNodeComparer" class="com.testerum.common.json_diff.impl.node_comparer.JsonNodeComparer">
        <constructor-arg name="comparerStrategies">
            <map key-type="com.testerum.common.json_diff.impl.compare_mode.JsonCompareMode" value-type="com.testerum.common.json_diff.impl.node_comparer.strategy.JsonNodeComparerStrategy">
                <entry key="EXACT">
                    <util:constant static-field="com.testerum.common.json_diff.impl.node_comparer.strategy.impl.ExactJsonNodeComparerStrategy.INSTANCE" />
                </entry>
                <entry key="UNORDERED_EXACT">
                    <util:constant static-field="com.testerum.common.json_diff.impl.node_comparer.strategy.impl.UnorderedExactJsonNodeComparerStrategy.INSTANCE" />
                </entry>
                <entry key="CONTAINS">
                    <util:constant static-field="com.testerum.common.json_diff.impl.node_comparer.strategy.impl.ContainsJsonNodeComparerStrategy.INSTANCE" />
                </entry>
            </map>
        </constructor-arg>

        <constructor-arg name="functionEvaluator" ref="assertionFunctions:functionEvaluator" />
    </bean>

</beans>