<div class="my_home-page row">
    <logo class="logo"></logo>

    <div class="setup col-sm-4 col-sm-offset-2">


        <div class="panel panel-info">
            <div class="panel-heading">Recent Projects</div>
            <div class="page-body">
                <ul>
                    <li *ngFor="let recentProject of recentProjects">

                    </li>
                </ul>

            </div>
        </div>
    </div>

    <div class="setup col-sm-4">


        <div class="panel panel-info">
            <div class="panel-heading">Quick Start</div>
            <div class="page-body ">


            </div>

        </div>
    </div>

</div>
