.my_home-page {
    .header {
        width: 100%;
        display: flex;
        justify-content: center;

        .header-content {
            display: flex;
            flex-direction: column;

            .logo-version-container {
                display: block;
                margin: auto;

                .logo {
                    font-size: 3rem;
                    width: 13.5em;
                    align-self: center;
                }

                .version {
                    margin-top: -2em;
                    margin-right: 5.4em;
                    text-align: right;
                }
            }

            .quote {
                align-self: center;
                margin-top: 0.5em;
                margin-bottom: 2em;
                font-size: 1.5em;
            }
        }
    }

    .body {
        .panel-body {
            max-height: 30em;
            overflow: auto;
            padding: 1em 0;

            ul {
                list-style: none;

                li {
                    padding: 0.5em 1em;
                    cursor: pointer;
                }

                :hover {
                    background-color: #c5c5c5;
                }
            }
        }

        .recent-project {
            .project-name {
                font-size: 1.5em;
            }

            .project-path {
                color: #9d9d9d;
            }
        }

        .quick-start {
            font-size: 1.5em;
        }
    }

}
