<div class="selenium-driver-input">

    <div class="my-selenium-driver-setting-line">
        <p-dropdown [options]="browserSelectItems"
                    [(ngModel)]="selectedBrowser"
                    (onChange)="onSelectedBrowserChanged($event)"
                    class="browser-dropdown"
                    name="browser">

            <ng-template let-item pTemplate="selectedItem">
                <div class="item">
                    <i class="{{item.icon}}"></i>
                    <span class="item-label">{{item.label}}</span>
                </div>
            </ng-template>
            <ng-template let-item pTemplate="item">
                <div class="item">
                    <i class="{{item.icon}}"></i>
                    <span class="item-label">{{item.label}}</span>
                </div>
            </ng-template>
        </p-dropdown>
    </div>

    <div *ngIf="supportsCustomDriverVersion()" class="my-selenium-driver-setting-line">
        <p-inputSwitch [(ngModel)]="customBrowserDriver"
                       (onChange)="onCustomBrowserDriverSwitchChanged()"></p-inputSwitch>
        <div class="installation-value">{{customBrowserDriver ? "custom browser version" : "latest browser version"}}</div>

        <div [class.hidden]="!customBrowserDriver" class="custom-setting">
            <div class="my-selenium-driver-setting-value">
                <p-dropdown [options]="driverSelectItems"
                            [(ngModel)]="selectedDriver"
                            (onChange)="onSelectedBrowserVersionChanged($event)">
                </p-dropdown>
            </div>
        </div>
    </div>

    <div *ngIf="supportsRemoteUrl()" class="my-selenium-driver-setting-line">
        <label class="remote-url-label">Remote driver URL:</label>
        <input [(ngModel)]="deserializedValue.remoteUrl"
               (ngModelChange)="triggerValueChanged()"
               type="text" class="form-control full-width">
    </div>

    <div *ngIf="supportsCustomInstallation()" class="my-selenium-driver-setting-line">
        <p-inputSwitch [(ngModel)]="customInstallation"
                       (onChange)="onCustomInstallationSwitchChanged()"></p-inputSwitch>
        <div class="installation-value">{{customInstallation ? "custom browser installation" : "system browser installation"}}</div>

        <div [class.hidden]="!customInstallation" class="custom-setting">
            <label class="installation-path-label">path:</label>
            <file-chooser [(ngModel)]="deserializedValue.browserExecutablePath"
                          [showFiles]="true"
                          (ngModelChange)="triggerValueChanged()"></file-chooser>
            <info-icon [message]='"To use a <b>custom browser installation</b> please select your browser executable file"'></info-icon>
        </div>
    </div>

    <div *ngIf="supportsHeadlessSetting()" class="my-selenium-driver-setting-line">
        <div class="my-selenium-driver-setting-value">
            <p-inputSwitch [(ngModel)]="deserializedValue.headless"
                           (onChange)="triggerValueChanged()"></p-inputSwitch>
            <div class="headless-as-string">{{deserializedValue.headless ? "headless" : "normal browser"}}</div>
            <info-icon *ngIf="deserializedValue.headless" [message]='"A <b>headless browser</b> is a web browser without a graphical user interface."'></info-icon>
        </div>
    </div>
</div>
