.selenium-driver-input {
    .browser-dropdown {
        margin-right: 2em;

        .item {
            i {
                margin-right: 0.5em;
            }
        }
    }

    .my-selenium-driver-setting-line {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 10px 0;

        .remote-url-label {
            width: 12em;
            display: flex;
            align-items: center;
            margin-bottom: 0;
            margin-right: .5em;
        }

        .my-selenium-driver-setting-value {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .installation-value {
            margin-left: .5em;
            font-size: 1.2em;
        }

        .custom-setting {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-grow: 2;
            margin-left: 1em;

            .installation-path-label {
                margin-right: 1em;
                margin-bottom: 0;
            }

            file-chooser {
                width: 100%;
                max-width: 50em;
                margin-right: .5em;
            }
        }

        .headless-as-string {
            margin-left: .5em;
            margin-right: .5em;
            font-size: 1.2em;
        }
    }
}
