i {
    margin-right: 3px;
    margin-top: 5px;
}
.full-line {
    display: flex;
    align-items: flex-start;
}

.node-waiting {
    color: darkgrey;;
}
.node-executing {
    color: green;
}
.node-passed {
    color: green;
}
.node-failed {
    color: red;
}
.node-undefined {
    color: #FFCE56;
}
.node-skipped {
    color: lightgray;
}

