@import "../../../../../../../resources/css/testerum-variables.scss";
i {
    margin-right: 3px;
    margin-top: 5px;
}

.full-line {
    display: flex;
    align-items: flex-start;
}

.my-node-executing-color {
    color: $success-color;
}

.disabled {
    text-decoration: line-through;
}

.my-button-panel {
    margin-left: 5px;
    margin-top: 2px;

    .btn {
        display: flex;
        align-items: center;
        justify-content: center;

        i {
            margin-right: 0;
            margin-top: 2px;
            font-size: 1.1em;
        }
    }
}

