<div class="node">

    <div class="full-line"
         (click)="setSelected()"
         (dblclick)="collapseNode()"
         title="{{getStatusTooltip()}}">

        <i class="fa" aria-hidden="true"
           [class.node-waiting]="model.state == RunnerTreeNodeStateEnum.WAITING"
           [class.node-executing]="model.state == RunnerTreeNodeStateEnum.EXECUTING"
           [class.node-passed]="model.state == RunnerTreeNodeStateEnum.PASSED"
           [class.node-failed]="model.state == RunnerTreeNodeStateEnum.FAILED"
           [class.node-error]="model.state == RunnerTreeNodeStateEnum.ERROR"
           [class.node-undefined]="model.state == RunnerTreeNodeStateEnum.UNDEFINED"
           [class.node-skipped]="model.state == RunnerTreeNodeStateEnum.SKIPPED"


           [class.fa-spinner]="model.state == RunnerTreeNodeStateEnum.WAITING
                               || model.state == RunnerTreeNodeStateEnum.EXECUTING"
           [class.fa-pulse]="model.state == RunnerTreeNodeStateEnum.WAITING
                               || model.state == RunnerTreeNodeStateEnum.EXECUTING"

           [class.fa-check]="model.state == RunnerTreeNodeStateEnum.PASSED"
           [class.fa-times]="model.state == RunnerTreeNodeStateEnum.FAILED"
           [class.fa-exclamation-triangle]="model.state == RunnerTreeNodeStateEnum.ERROR"
           [class.fa-question]="model.state == RunnerTreeNodeStateEnum.UNDEFINED"
           [class.fa-angle-double-right]="model.state == RunnerTreeNodeStateEnum.SKIPPED"></i>

        <i *ngIf="isFeatureNode()"
           aria-hidden="true"
           [class.tree-folder-close]="!isOpenedNode()"
           [class.tree-folder-open]="isOpenedNode()"></i>

        <span *ngIf="!isNodeWithStepCall()"
              class="node-text"
              [class.tree-leaf-selected]="isSelected">{{model.text}}</span>

        <span *ngIf="isNodeWithStepCall()"
              [class.tree-leaf-selected]="isSelected">
            <step-text [stepDef]="model.stepCall.stepDef"
                       [stepCall]="model.stepCall"
                       [showPhase]="true"
                       [showAsListItem]="true">
            </step-text>
        </span>
    </div>

    <json-children *ngIf="model.isContainer()"
                   [jsonTreeNodeState]="model.jsonTreeNodeState"
                   [modelComponentMapping]="modelComponentMapping"
                   [model]="model"
                   class="full-line">
    </json-children>
</div>
