<div class="node">

    <div class="full-line"
         (click)="setSelected()"
         (dblclick)="collapseNode()"
         (mouseover)="hasMouseOver=true;$event.stopPropagation();"
         (mouseleave)="hasMouseOver=false"
         title="{{getStatusTooltip()}}">

        <i aria-hidden="true"
           [class.my-node-executing-color]="model.state == RunnerTreeNodeStateEnum.EXECUTING"

           [class.fa_my-runner-waiting-colored]="model.state == RunnerTreeNodeStateEnum.WAITING
                                              || model.state == RunnerTreeNodeStateEnum.EXECUTING"
           [class.fa-pulse]="model.state == RunnerTreeNodeStateEnum.WAITING
                          || model.state == RunnerTreeNodeStateEnum.EXECUTING"

           [class.fa_my-runner-passed-colored]="model.state == RunnerTreeNodeStateEnum.PASSED"
           [class.fa_my-runner-failed-colored]="model.state == RunnerTreeNodeStateEnum.FAILED"
           [class.fa_my-runner-disabled-colored]="model.state == RunnerTreeNodeStateEnum.DISABLED"
           [class.fa_my-runner-undefined-colored]="model.state == RunnerTreeNodeStateEnum.UNDEFINED"
           [class.fa_my-runner-skipped-colored]="model.state == RunnerTreeNodeStateEnum.SKIPPED"></i>

        <i *ngIf="isFeatureNode()"
           aria-hidden="true"
           [class.fa_my-tree-folder-closed-colored]="!isOpenedNode()"
           [class.fa_my-tree-folder-opened-colored]="isOpenedNode()"></i>

        <i *ngIf="isTestNode()" class="fa_my-automated-test" aria-hidden="true"></i>

        <i *ngIf="isScenarioNode()" class="fa_my-scenario" aria-hidden="true"></i>

        <span *ngIf="!isStepNode()"
              class="node-text"
              [class.disabled]="!isEnabled()"
              [class.tree-leaf-selected]="model.isSelected()">{{model.text}}</span>

        <span *ngIf="isStepNode()"
              [class.tree-leaf-selected]="model.isSelected()">
            <step-text [stepDef]="model.stepCall.stepDef"
                       [stepCall]="model.stepCall"
                       [showPhase]="true"
                       [showAsListItem]="true">
            </step-text>
        </span>


        <!-- BUTTONS RENDERING -->
        <div *ngIf="isTestNode()" class="button-panel btn-group my-button-panel"
             [class.hidden]="!hasMouseOver">

            <div title="Edit Test" class="btn btn-default btn-xs btn-group"
                 (click)="onEditTest(); $event.stopPropagation()">
                <i class="fa_my-edit" aria-hidden="true"></i>
            </div>
        </div>
    </div>

    <json-children *ngIf="model.isContainer()"
                   [jsonTreeNodeState]="model.jsonTreeNodeState"
                   [modelComponentMapping]="modelComponentMapping"
                   [model]="model"
                   class="full-line">
    </json-children>
</div>
