<div class="node">

    <div class="full-line"
         (mouseover)="hasMouseOver=true;$event.stopPropagation();"
         (mouseleave)="hasMouseOver=false"
         (dblclick)="collapseNode()">

        <i class="fas" aria-hidden="true"

           [class.node-not-executed]="ManualTestStatus.NOT_EXECUTED == model.testsState"
           [class.node-passed]="ManualTestStatus.PASSED == model.testsState"
           [class.node-failed]="ManualTestStatus.FAILED == model.testsState"
           [class.node-blocked]="ManualTestStatus.BLOCKED == model.testsState"
           [class.node-not-applicable]="ManualTestStatus.NOT_APPLICABLE == model.testsState"

           [class.fa-spinner]="ManualTestStatus.NOT_EXECUTED == model.testsState"
           [class.fa-check]="ManualTestStatus.PASSED == model.testsState"
           [class.fa-times]="ManualTestStatus.FAILED == model.testsState"
           [class.fa-ban]="ManualTestStatus.BLOCKED == model.testsState"
           [class.fa-exclamation]="ManualTestStatus.NOT_APPLICABLE == model.testsState"></i>

        <i aria-hidden="true"
           [class.fa_my-tree-folder-closed-colored]="!isOpenedNode()"
           [class.fa_my-tree-folder-opened-colored]="isOpenedNode()"></i>

        {{model.name}}
    </div>

    <json-children [jsonTreeNodeState]="model.jsonTreeNodeState"
                   [modelComponentMapping]="modelComponentMapping"
                   [model]="model"
                   class="full-line">
    </json-children>
</div>
