@import "../../../assets/css/testerum-pretty-variables";

.report-pie {
    display: flex;
    flex-direction: row;
    margin: 0 0 10px 0;

    .legend-container {
        display: flex;
        align-items: center;

        .legend {
            height: 10px;
            width: 10px;
            margin-right: 4px;
            margin-left: 10px;
        }

        .total_tests_label {
            font-weight: bold;
            padding-left: 10px;
            padding-right: 10px;
        }

        .legend_label {
            padding-right: 10px;
        }
    }

    .passed { background-color: $passed-color;}
    .icon-passed { color: $passed-color;}
    .failed { background-color: $failed-color;}
    .icon-failed { color: $failed-color;}
    .disabled { background-color: $disabled-color;}
    .icon-disabled { color: $disabled-color;}
    .undefined { background-color: $undefined-color;}
    .icon-undefined { color: $undefined-color;}
    .skipped { background-color: $skipped-color;}
    .icon-skipped { color: $skipped-color;}

}
