<div class="my-json-editor" >
    <p-toolbar>
        <div class="my-toolbar-container">
            <div class="my-compare-mode-container">
                <info-icon [message]="getJsonResourceExplanation()"
                           class="description-info-icon"></info-icon>

                <div (click)="formatJson()"
                     [class.disabled]="!editMode"
                     class="btn btn-default btn-xxs btn-group format-json-button">
                    Format JSON
                </div>
            </div>

            <span class="label my-toolbar-label"
                  [class.label-success]="isValidJson"
                  [class.label-danger]="!isValidJson">
                {{isValidJson? "Valid JSON": "Invalid JSON"}}
            </span>
        </div>
    </p-toolbar>

    <div #parentElement class="my-json-editor-container">
        <monaco-editor #monacoEditorComponent
                       [options]="editorOptions"
                       [value]="jsonText"
                       [parentElemntRef]="parentElement"
                       (valueChange)="onChange($event)"
                       style="height:100%"></monaco-editor>
    </div>
</div>


