<split-panel-container>
    <div>
        <div class="panel-body">

            <composed-step-view #composedStepView
                                [model]="model"
                                [isEditMode]="isEditMode"
                                [isCreateAction]="isCreateAction">
            </composed-step-view>

            <div class="panel-footer-button">
                <ng-container *ngIf="!isEditMode">
                    <button (click)="enableEditTestMode();" class="btn btn-primary">Edit</button>
                </ng-container>
                <ng-container *ngIf="isEditMode">
                    <button (click)="cancelAction();" type="button" class="btn btn-default">Cancel</button>
                    <button *ngIf="!isCreateAction" (click)="deleteAction();" type="button" class="btn btn-danger">Delete</button>
                    <button [disabled]="!composedStepView.form.valid || !composedStepView.areChildComponentsValid"
                            (click)="saveAction()"
                            class="btn btn-primary">
                        Save
                    </button>
                </ng-container>
            </div>
        </div>
    </div>
</split-panel-container>
<update-incompatibility-dialog #updateIncompatibilityDialog></update-incompatibility-dialog>
