<div class="node">

    <div class="full-line"
         (mouseover)="hasMouseOver=true;$event.stopPropagation();"
         (mouseleave)="hasMouseOver=false"
         (click)="setSelected()"
         (dblclick)="collapseNode()"
         [class.tree-node-selected]="isSelected">

        <i aria-hidden="true"
           [class.tree-folder-close]="!isOpenedNode()"
           [class.tree-folder-open]="isOpenedNode()"></i>

        {{model.name}}

    </div>

    <json-children [jsonTreeNodeState]="jsonTreeNodeState"
                   [modelComponentMapping]="modelComponentMapping"
                   [model]="model"
                   class="full-line">
    </json-children>
</div>
