.flip {
    -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
}

.tree-node-selected {
    background-color: whitesmoke;
}

.fa-stack {
    display: inline-block;
    height: 15px;
    line-height: 15px;
    position: relative;
    vertical-align: middle;
    width: 15px;
}

.fa-stack-1x {
     line-height: inherit;
     font-size: 9px;
     color: #ff6161 !important;
 }
