<div style="display: flex; flex-direction: row">
    <p-chart type="pie"
             [responsive]="false"
             [height]="height? height : null"
             [width]="width? width : null"
             [data]="pieChartData"
             [options]="pieChartOptions">
    </p-chart>

    <div>
        <table class="table-striped">
            <tr>
                <td colspan="3" class="total_tests_label">Total Tests:</td>
                <td>{{model().totalTests}}</td>
            </tr>
            <tr>
                <td><div class="legend waiting"></div></td>
                <td><i class="fa_my-runner-waiting-colored" aria-hidden="true"></i></td>
                <td class="legend_label">Waiting:</td>
                <td>{{model().waitingToExecute}}</td>
            </tr>
            <tr>
                <td><div class="legend passed"></div></td>
                <td><i class="fa_my-runner-passed-colored" aria-hidden="true"></i></td>
                <td class="legend_label">Passed:</td>
                <td>{{model().passed}}</td>
            </tr>
            <tr>
                <td><div class="legend failed"></div></td>
                <td><i class="fa_my-runner-failed-colored" aria-hidden="true"></i></td>
                <td class="legend_label">Failed:</td>
                <td>{{model().failed}}</td>
            </tr>

            <tr>
                <td><div class="legend disabled"></div></td>
                <td><i class="fa_my-runner-disabled-colored" aria-hidden="true"></i></td>
                <td class="legend_label">Disabled:</td>
                <td>{{model().disabled}}</td>
            </tr>
            <tr>
                <td><div class="legend undefined"></div></td>
                <td><i class="fa_my-runner-undefined-colored" aria-hidden="true"></i></td>
                <td class="legend_label">Undefined:</td>
                <td>{{model().undefined}}</td>
            </tr>
            <tr>
                <td><div class="legend skipped"></div></td>
                <td><i class="fa_my-runner-skipped-colored" aria-hidden="true"></i></td>
                <td class="legend_label">Skipped:</td>
                <td>{{model().skipped}}</td>
            </tr>

        </table>
    </div>
</div>
