.testerum-logo-text {
    font-family: "Righteous", sans-serif;
    font-size: 2em;
    font-weight: normal;
    color: black;

    position: relative;
    top: -0.05em;
    vertical-align: middle;

}

.white-color {
    color: white;
}

.testerum-logo-left-angle-bracket,
.testerum-logo-right-angle-bracket {
    font-family: "FreeMono", monospace;
    font-size: 4em;
    font-weight: bold;
    color: #ff9800;
    position: relative;
    top: -.1em;
    vertical-align: middle;
}
