.arg-modal {
    .modal-dialog {
        width: 1200px;
        height: calc(100% - 60px);
    }

    .modal-content {
        height: 100%;
    }

    .modal-body {
        max-height: calc(100% - 120px);
        height: 100%;
        overflow-x: hidden;
    }

    .footer-left {
        float: left;
        height: 32px;
        align-items: center;
        display: flex;
    }

    .footer-right {
        float: right;
        height: 32px;
        align-items: center;
        display: flex;
    }

    .shared-input {
        margin: 0;
    }

    .shared-label {
        margin: 0 0 0 10px;
    }

    .shared-path {
        font-style: italic;
        margin-left: 20px;
    }

    .shared-path-label {
        font-weight: bold;
    }

    .modal-header {
        display: grid;
        grid-template-areas: 'header-left header-right'
    }

    .modal-title {
        grid-area: header-left;
    }

    .modal-header-buttons {
        grid-area: header-right;
        align-self: center;
        justify-self: end;

        display: flex;
        align-items: center;
    }

    .select-shared-button {
        height: 25px;
        padding: 0 12px;
        margin-right: 50px;
    }
}


