<div class="node">

    <div class="full-line"
         (mouseover)="hasMouseOver=true;$event.stopPropagation();"
         (mouseleave)="hasMouseOver=false">

        <span>{{getName()}}</span>
        <span *ngIf="isEditMode()">: <span class="field-type">{{getTypeForUI()}}</span> = </span>
        <span *ngIf="!isEditMode()"> = {{model.serverObject}}</span>

        <p-dropdown *ngIf="isEditMode()"
                    [options]="possibleValues"
                    [(ngModel)]="model.value"
                    (click)="$event.stopPropagation();"
                    class="my-p-dropdown"
                    editable="true"
                    name="enum"></p-dropdown>

        <div class="button-panel btn-group"
             *ngIf="isEditMode()"
             [class.hidden]="!hasMouseOver">
            <div
                title="Delete" class="btn btn-default btn-xs btn-group"
                (click)="deleteEntry();$event.stopPropagation();">
                <i class="fa_my-delete" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>
