<div class="attachments">
<p-fileUpload #fileUpload
              name="files"
              [class.edit]="editMode"
              [class.not-edit]="!editMode"
              [customUpload]="true"
              [auto]="true"
              multiple="multiple"
              (uploadHandler)="onUploadHandler($event)">

    <ng-template pTemplate="content">
        <ol class="list">
            <li *ngFor="let attachment of attachments" class="list-item">

                <div *ngIf="isImage(attachment); else isNotImage">
                    <a href="{{getAttachmentUrl(attachment)}}"
                       class="img-thumbnail"
                       title="{{getFileName(attachment)}}"
                       target="_blank">
                            <img src="{{getAttachmentUrl(attachment, true)}}"
                                 class="">
                    </a>
                </div>

                <ng-template #isNotImage>
                    <a href="{{getAttachmentUrl(attachment)}}"
                       class="img-thumbnail"
                       title="{{getFileName(attachment)}}"
                       download>
                        <i class="far {{getImageIconClassBasedOnAttachmentMimeType(attachment)}} generic_thumbnail"
                           aria-hidden="true"></i>
                    </a>
                </ng-template>

                <div class="info">
                    <div class="name-container">
                        <span class="blender"></span>
                        <a href="{{getAttachmentUrl(attachment)}}"
                           class="attachment-name"
                           title="{{getFileName(attachment)}}"
                           download
                        >{{getFileName(attachment)}}</a>
                    </div>

                    <div class="last-modified-container">{{getAttachmentDateAsString(attachment)}}</div>
                </div>

                <div *ngIf="editMode"
                     class="delete-button btn btn-danger"
                     title="Delete attachment"
                     (click)="delete(attachment)">
                    <i class="far fa-trash-alt" aria-hidden="true"></i>
                </div>
            </li>

            <li *ngFor="let file of fileAttachmentsAdded" class="list-item new-file">
                <div *ngIf="isNewAttachmentImage(file); else isNotImage">
                    <a [href]="file.objectURL"
                       class="img-thumbnail"
                       [title]="file.name"
                       target="_blank">
                        <img [src]="file.objectURL" class="">
                    </a>
                </div>

                <ng-template #isNotImage>
                    <a [href]="file.objectURL"
                       class="img-thumbnail"
                       [title]="file.name"
                       download>
                        <i class="far {{getImageIconClassBasedOnMimeType(file.type)}} generic_thumbnail"
                           aria-hidden="true"></i>
                    </a>
                </ng-template>

                <div class="info">
                    <div class="name-container">
                        <span class="blender"></span>
                        <a [href]="file.objectURL"
                           class="attachment-name"
                           [title]="file.name"
                           download
                        >{{file.name}}</a>
                    </div>

                    <div class="last-modified-container">{{getDateAsString(file.lastModifiedDate)}}</div>
                </div>

                <div *ngIf="editMode"
                     class="delete-button btn btn-danger"
                     title="Delete attachment"
                     (click)="deleteNewFile(file)">
                    <i class="far fa-trash-alt" aria-hidden="true"></i>
                </div>
            </li>
        </ol>
    </ng-template>

    <ng-template let-file pTemplate="file">

    </ng-template>
</p-fileUpload>

</div>
