
/* STYLE FOR TAB COMPONENT */
::ng-deep .ui-tabview {
    height: 100%;
}

::ng-deep .ui-tabview-panels {
    height: calc(100% - 35px);
    border: 1px solid #bebebe;
    border-top: 0;
    margin-left: 3px;
}

::ng-deep .ui-tabview-panel {
    height: 100%;
    padding: 0 !important;
}

::ng-deep .ui-tabview-nav {
    border: 0;
    border-bottom: 1px solid #bebebe;
}

::ng-deep .ui-tabview-selected {
    background: white;
    border-bottom: 1px solid white !important;
    margin-bottom: -1px !important;
}
