.modal-dialog {
    width: 50%;
    max-width: 1200px;
}

.modal-content {
    height: 100%;
}

.modal-body {
    /* 100% = dialog height, 120px = header + footer */
    max-height: calc(100% - 120px);
    height: 100%;
    overflow-x: hidden;
}
