.variables {
    &.modal {
        max-height: calc(100% - 20px);
        overflow-y: auto;

        .modal-dialog {
            max-width: 1200px;
            width: 90%;

            .modal-body {
                .my-value {
                    display: flex;
                    align-items: center;
                }

                .action-panel {
                    margin-left: 10px;
                }

                .variables {
                    tr td {
                        //display: flex;
                        //align-items: center;
                    }
                    .variable-key {

                    }
                    .variable-value {

                    }
                    .variable-action {

                    }
                }
            }
        }
    }
}

.disabled {
    z-index: 1000;
}

