<div bsModal #modal="bs-modal"
     [class.disabled]="disableModal"
     class="variables modal fade" tabindex="-1" role="dialog" [config]="{backdrop: 'static'}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button (click)="close()" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">
                    Variables
                </h4>
            </div>
            <div class="modal-body">
                <div class="my-line">
                    <label class="my-label label-size">Environment:</label>

                    <div class="environment my-value">
                        <p-dropdown [options]="availableEnvironmentsAsSelectedItems" [ngModel]="selectedEnvironmentName" (onChange)="onEnvironmentChange($event)"
                                    [style]="{'width':'7.8em'}">
                            <ng-template let-item pTemplate="selectedItem">
                                <div class="my-dropdown-option">
                                    <div class="environment-name">{{item.label}}</div>
                                    <info-icon *ngIf="isDefaultOrLocalEnvironment(item.value)"
                                               [message]="getEnvironmentInfoMessage(item.value)"
                                               class="my-dropdown-selected-item-info"></info-icon>
                                </div>
                            </ng-template>
                            <ng-template let-environment pTemplate="item">
                                <div class="my-dropdown-option">
                                    <div>{{environment.label}}</div>
                                    <info-icon *ngIf="isDefaultOrLocalEnvironment(environment.value)"
                                               style="color: black"
                                               [message]="getEnvironmentInfoMessage(environment.value)" ></info-icon>
                                </div>
                            </ng-template>
                        </p-dropdown>

                        <div class="action-panel inline btn-group">
                            <div *ngIf="isEditableEnvironment()"
                                 title="Edit Environment Name" class="btn btn-default btn-xs btn-group"
                                 (click)="editEnvironment(); $event.stopPropagation()">
                                <i class="fa_my-edit" aria-hidden="true"></i>
                            </div>
                            <div title="Add Environment" class="btn btn-default btn-xs btn-group"
                                 (click)="addEnvironment(); $event.stopPropagation()">
                                <i class="fa_my-plus" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <table class="variables table table-hover">
                    <colgroup>
                        <col span="1" style="width: 31%;">
                        <col span="1" style="width: 65%;">
                        <col span="1" style="width: 4%;">
                    </colgroup>

                    <tbody>
                        <tr>
                            <th>Name</th>
                            <th>Value</th>
                            <th></th>
                        </tr>

                        <tr *ngFor="let variable of variables; let last = last">

                            <!-- KEY -->
                            <td class="variable-key">
                                <input (ngModelChange)="onKeyChange($event, variable)"
                                       [ngModel]="variable.key"
                                       type="text" pInputText  class="form-control full-width">
                            </td>

                            <!-- VALUE -->
                            <td class="variable-value">
                                <input (change)="onNewValueChange($event)"
                                       (keydown)="onNewValueKeyDown($event, variable)"
                                       [(ngModel)]="variable.value"
                                       [class.inherited-variable-value]="variable.isVariableFromDefaultEnvironment"
                                       type="text" pInputText  class="form-control full-width">
                            </td>

                            <!-- DELETE -->
                            <td  class="variable-action">
                                <a *ngIf="!last"
                                   href (click)="deleteVariable(variable);false;"
                                   class="btn btn-danger" aria-label="Delete">
                                    <i  class="far fa-trash-alt" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- BUTTONS -->
            <div class="modal-footer">
                <ng-container *ngIf="!hasChanges">
                    <button (click)="close()" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </ng-container>
                <ng-container *ngIf="hasChanges">
                    <button (click)="cancel();" type="button" class="btn btn-default">Cancel</button>
                    <button (click)="save()" [disabled]="!isValid()" class="btn btn-primary">Save</button>
                </ng-container>
            </div>
        </div>
    </div>
</div>
<environment-edit-modal #environmentEditModal></environment-edit-modal>
