.my-tag-uptime {
    margin-top: 2em;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 1em;

        .title {
            font-size: 2em;
            font-weight: bold;
            text-align: center;
        }
    }

    .ui-table  {
        font-size: 0.8em;

        .uptime-cell {
            text-align: center;
        }

        .ui-table-thead > tr > th {
            padding: .35em .5em;
        }
        .ui-table-tbody tr td {
            padding: .25em .5em;
        }

        .ui-paginator {
            font-size: 0.8em;
        }
    }

}
