<span>Empty JSON</span>


<ng-container>

    <!-- BUTTONS RENDERING -->
    <div class="button-panel btn-group" *ngIf="isEditMode()">

        <div
            title="Create Array as root" class="btn btn-default btn-xs btn-group"
            (click)="createArrayNode();$event.stopPropagation();">
            <i class="fa_my-plus" aria-hidden="true"></i><span> [ ]</span>
        </div>

        <div
            title="Create Object as root" class="btn btn-default btn-xs btn-group"
            (click)="createObjectNode();$event.stopPropagation();">
            <i class="fa_my-plus" aria-hidden="true"></i><span>{{" { }"}}</span>
        </div>

    </div>

</ng-container>


