<div class="node scenario_container_component">

    <div class="scenario_text_and_buttons full-line"
         (mouseover)="hasMouseOver=true;$event.stopPropagation();"
         (mouseleave)="hasMouseOver=false"
         (click)="toggleNode();$event.stopPropagation();">

        <div [class.selected_for_copy_or_cut]="isSelectedForCopyOrCut()" title="{{isDisabled() ? 'Disabled Scenario': ''}}">
            <tree-text-edit #treeTextEdit
                            [ngModel]="this.model.scenario.name"
                            (ngModelChange)="onScenarioNameChange($event)"
                            [class.disabled]="isDisabled()"
                            [isEditMode]="isEditMode()"
                            [isTextEditMode]="isScenarioNameEditMode"
                            (onTextEditModeChanged)="onTextEditModeChanged($event)"></tree-text-edit>
        </div>

        <!-- BUTTONS -->
        <div *ngIf="!isEditMode()"
             class="button-panel-hide-on-hover btn-group">
            <div title="Edit Scenario Name" class="btn btn-default btn-xs btn-group"
                 *ngIf="!getTestModel().properties.isManual && getTestModel().stepCalls.length != 0"
                 (click)="runScenario(); $event.stopPropagation()">
                <i class="fa_my-run" aria-hidden="true"></i>
            </div>
        </div>

        <div *ngIf="isEditMode()"
             class="button-panel-hide-on-hover btn-group">
            <div title="Edit Scenario Name" class="btn btn-default btn-xs btn-group"
                 (click)="editScenarioName(); $event.stopPropagation()">
                <i class="fas fa-pencil-alt" aria-hidden="true"></i>
            </div>

            <div title="Move Scenario Up"
                 *ngIf="!isFirstScenario()"
                 class="btn btn-default btn-xs btn-group"
                 (click)="moveScenarioUp(); $event.stopPropagation()">
                <i class="fas fa-arrow-up" aria-hidden="true"></i>
            </div>

            <div title="Move Scenario Down"
                 *ngIf="!isLastScenario()"
                 class="btn btn-default btn-xs btn-group"
                 (click)="moveScenarioDown(); $event.stopPropagation()">
                <i class="fas fa-arrow-down" aria-hidden="true"></i>
            </div>

            <div title="Copy Scenario" class="btn btn-default btn-xs btn-group"
                 (click)="onCopyScenario(); $event.stopPropagation()">
                <i class="fa_my-copy" aria-hidden="true"></i>
            </div>

            <div title="{{isDisabled() ? 'Enable Scenario': 'Disable Scenario'}}"
                 class="btn btn-default btn-xs btn-group"
                 [class.active]="isDisabled()"
                 (click)="disableOrEnableScenario(); $event.stopPropagation()">
                <i class="fa_my-disabled-ban" aria-hidden="true"></i>
            </div>

            <div title="Remove Scenario"
                 class="btn btn-default btn-xs btn-group"
                 (click)="removeScenario(); $event.stopPropagation()">
                <i class="fa_my-delete" aria-hidden="true"></i>
            </div>
        </div>
    </div>

    <json-children [jsonTreeNodeState]="model.jsonTreeNodeState"
                   [modelComponentMapping]="modelComponentMapping"
                   [model]="model"
                   class="full-line">
    </json-children>
</div>


