<p-toolbar class="features-tree-filter">
    <div class="line-filters">
        <div class="filters-group">
            <span class="filters-label">Filters:</span>
            <div class="btn-group" role="group">
                <div pTooltip="{{isAutomatedButtonActive?'Hide ':'Show '}} Automated Tests"
                     tooltipPosition="bottom"
                     (click)="onAutomatedButtonClickEvent()"
                     [class.active]="isAutomatedButtonActive"
                     class="btn btn-default btn-xs btn-group">
                    <i class="fa_my-automated-test" aria-hidden="true"></i>
                </div>

                <div pTooltip="{{isManualButtonActive?'Hide ':'Show '}} Manual Tests"
                     tooltipPosition="bottom"
                     (click)="onManualButtonClickEvent()"
                     [class.active]="isManualButtonActive"
                     class="btn btn-default btn-xs btn-group">
                    <i class="fa_my-manual-test" aria-hidden="true"></i>
                </div>

                <div pTooltip="{{isSearchButtonActive?'Hide ':'Show '}} Search Text"
                     tooltipPosition="bottom"
                     (click)="onSearchButtonClickEvent()"
                     [class.active]="isSearchButtonActive"
                     class="btn btn-default btn-xs btn-group">
                    <i class="fa_my-search" aria-hidden="true"></i>
                </div>

                <div pTooltip="{{isTagsButtonActive?'Hide ':'Show '}} Filter by Tags"
                     tooltipPosition="bottom"
                     (click)="onTagsButtonClickEvent()"
                     [class.active]="isTagsButtonActive"
                     class="btn btn-default btn-xs btn-group">
                    <i class="fa_my-tag" aria-hidden="true"></i>
                </div>
            </div>
        </div>

        <div>
            <div class="btn-group" role="group">
                <div pTooltip="Expand selected node"
                     tooltipPosition="bottom"
                     (click)="onExpandSelectedNodeEvent()"
                     class="btn btn-default btn-xs btn-group">
                    <i class="fa_my-expand"></i>
                </div>

                <div pTooltip="Expand to level 1"
                     tooltipPosition="bottom"
                     (click)="onExpandToLevelEvent(1)"
                     class="btn btn-default btn-xs btn-group">
                    <i class="fa_my-expand" aria-hidden="true"><span>1</span></i>
                </div>
                <div pTooltip="Expand to level 2"
                     tooltipPosition="bottom"
                     (click)="onExpandToLevelEvent(2)"
                     class="btn btn-default btn-xs btn-group">
                    <i class="fa_my-expand" aria-hidden="true"><span>2</span></i>
                </div>
                <div pTooltip="Expand to level 3"
                     tooltipPosition="bottom"
                     (click)="onExpandToLevelEvent(3)"
                     class="btn btn-default btn-xs btn-group">
                    <i class="fa_my-expand" aria-hidden="true"><span>3</span></i>
                </div>
            </div>
        </div>
    </div>

    <div class="my-filter-input p-inputgroup line-search"
         *ngIf="isSearchButtonActive">
        <span class="p-inputgroup-addon"
              pTooltip="Search"
              tooltipPosition="bottom"
              (click)="filter()">
            <i class="fa_my-search tags-search-icon"></i>
        </span>
        <input focus="true"
               [(ngModel)]="searchText"
               (blur)="onSearchInputDeFocus($event)"
               (keydown)="onSearchInputKey($event)"
               placeholder="Search"
               type="text"
               pInputText
               pTooltip="Search"
               tooltipPosition="bottom"
               class="full-width">
    </div>

    <div class="my-filter-input p-inputgroup line-tags"
         *ngIf="isTagsButtonActive">
        <span class="p-inputgroup-addon"
              tooltipPosition="bottom"
              pTooltip="Tags"
              (click)="filter()">
            <i class="fa_my-tag tags-search-icon"></i>
        </span>
        <p-autoComplete #tagsElement
                        focus="true"
                        [(ngModel)]="selectedTags"
                        [suggestions]="tagsToShow"
                        (completeMethod)="searchTags($event)"
                        (onSelect)="onTagSelect($event)"
                        (onUnselect)="onTagUnSelect($event)"
                        [delay]="0"
                        [multiple]="true"
                        [dropdown]="true"
                        placeholder="Tags"
                        tooltipPosition="bottom"
                        pTooltip="Tags"
                        name="tags"></p-autoComplete>

    </div>

</p-toolbar>
