.line-filters {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .filters-group {
        display: flex;
        align-items: center;

        .filters-label {
            margin-right: 10px;
        }
    }
}

.color-inherit {
    color: inherit;
}

.full-width {
    width: 100%;
}

.my-filter-input {
    margin-top: 3px;

    .ui-autocomplete {
        display: flex;
        align-items: center;
        height: auto !important;
    }

    .ui-autocomplete-input-token {
        padding: 0 .25em 0 0;
    }

    .ui-autocomplete .ui-autocomplete-dropdown {
        height: 100%;
    }

    .ui-inputgroup {
        margin-top: 1px;
    }

    .ui-autocomplete-multiple-container {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin: -1px;
    }

    .ui-inputgroup-addon {
        cursor: pointer;

        display: flex !important;
        align-items: center;
        justify-content: center;
        padding: 0 !important;
    }

    .ui-inputtext {
        padding: 0 0 0 .5em;
    }

    .ui-button-text {
        padding: 0 !important;
    }
}

.tags-search-icon {
    font-size: 1rem;
}
