<div class="menu-variables">
    <select class="form-control"
            [(ngModel)]="selectedEnvironment"
            (change)="onEnvironmentChange($event)">
        <option *ngFor="let availableEnvironment of availableEnvironments" [value]="availableEnvironment">
            {{availableEnvironment}}
        </option>
    </select>

    <a href="" (click)="showVariables(); false;"
       title="View & Edit variables">
        <i class="icon-menu-item fas fa-edit test_vars-and-env-icon"></i>
    </a>

    <variables></variables>
</div>
