<div bsModal #userProfileModal="bs-modal" class="modal fade userProfile-modal" tabindex="-1" role="dialog" [config]="{backdrop: 'static'}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button (click)="cancel()" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">
                    <i class="fas fa-user"></i>
                    User profile
                </h4>
            </div>

            <div class="modal-body">
                <div class="vertical-space">
                    <p><span class="text-info">Start date: </span>{{model.startDate}}</p>


<!--
                    <p><span class="text-info">User name: </span>{{model.name}}</p>
                    <p><span class="text-info">Version: </span>{{model.version}}</p>
                    <p><span class="text-info">License: </span>{{model.license}}</p>
                    <p><span class="text-info">Expiration date: </span>{{model.expirationDate}}</p>
-->
                </div>

                </div>
            <div class="modal-footer">
                <button (click)="ok()" type="button" class="btn btn-warning" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
