
<div>
    <h1 *ngIf="isCreateAction">Create SubFeature in <span class="path">{{pathForTitle}}</span></h1>
    <h1 *ngIf="!isCreateAction">Feature <span class="path">{{pathForTitle}}</span></h1>

    <div class="panel-body">
        <form #form="ngForm" class="form-horizontal">

            <div class="my-line">
                <label class="my-label label-size" for="name">Name</label>

                <div class="my-value" *ngIf="!isEditMode">
                    {{model.name || ""}}
                </div>
                <div class="my-value" *ngIf="isEditMode">
                    <input id="name" name="name"
                           required
                           #nameNgModel="ngModel" [(ngModel)]="model.name"
                           type="text" class="form-control" >
                    <input-error [model]="nameNgModel"
                                 [errorMessages]="{
                                        required: 'A name for this feature is required',
                                        a_resource_with_the_same_name_already_exist: 'A feature with the same name already exists',
                                        access_denied: 'Couldn\'t create or update this feature. File access is denied'
                                     }"></input-error>
                </div>
            </div>

            <!-- TAGS -->
            <div class="my-line" *ngIf="!isEditMode && model.tags.length > 0 ">
                <label class="my-label label-size" for="tags">Tags</label>
                <div class="my-value" *ngIf="!isEditMode">
                    <ng-container *ngFor="let tag of model.tags">
                        <span class="label label-primary">{{tag}}</span>
                    </ng-container>
                </div>
            </div>
            <div class="my-line" *ngIf="isEditMode">
                <label class="my-label label-size" for="tags">Tags</label>
                <div class="my-value">
                    <p-autoComplete #tagsElement
                                    [(ngModel)]="model.tags"
                                    [suggestions]="tagsToShow"
                                    (completeMethod)="onSearchTag($event)"
                                    (onSelect)="onTagSelect($event)"
                                    (keypress)="onTagsKeyUp($event);"
                                    [delay]="0"
                                    [multiple]="true"
                                    [dropdown]="true"
                                    id="tags" name="tags"></p-autoComplete>
                </div>
            </div>

            <div class="my-line">
                <label class="my-label-top label-size" for="description">Description</label>

                <div class="my-value">
                    <markdown-editor #markdownEditor
                                     [value]="model.description"
                                     [options]="markdownEditorOptions"
                                     id="description"></markdown-editor>
                </div>
            </div>


            <div class="my-line" *ngIf="isEditMode || model.attachments.length > 0">
                <label class="my-label-top label-size" for="description">Attachments</label>

                <div class="my-value">
                    <attachments-component [url]="getFeatureUploadUrl()"
                                           [attachments]="model.attachments"
                                           [editMode]="isEditMode"></attachments-component>
                </div>
            </div>

            <div class="panel-footer-button">
                <ng-container *ngIf="!isEditMode">
                    <button (click)="enableEditTestMode();" class="btn btn-primary">Edit</button>
                </ng-container>
                <ng-container *ngIf="isEditMode">
                    <button (click)="cancelAction();" type="button" class="btn btn-default">Cancel</button>
                    <button *ngIf="!isCreateAction" (click)="deleteAction();$event.stopPropagation();" type="button" class="btn btn-danger">Delete</button>
                    <button [disabled]="!form.form.valid" (click)="saveAction();$event.stopPropagation();" class="btn btn-primary">Save</button>
                </ng-container>
            </div>
        </form>
    </div>
</div>
