.feature-editor {
    .page-body {
        form {
            border-bottom: 1px solid #e5e5e5;
        }
    }

    .label-size {
        width: 7em;
    }

    .my-line {
        .my-label-top {
            align-self: start;
        }
    }
}
