<div class="feature-editor">
    <h1 *ngIf="isRootFeature()">Project {{projectName}}</h1>
    <h1 *ngIf="!isRootFeature() && isCreateAction">Create SubFeature in <span class="path">{{pathForTitle}}</span></h1>
    <h1 *ngIf="!isRootFeature() && !isCreateAction">Feature <span class="path">{{pathForTitle}}</span></h1>

    <div class="page-body">
        <form #form="ngForm" class="form-horizontal">

            <div class="my-line" *ngIf="isRootFeature() && isEditMode">
                <label class="my-label label-size">Project Name</label>

                <div class="my-value" *ngIf="isEditMode">
                    <input name="name"
                           required isNotBlankValidator urlNameValidator
                           #nameNgModel="ngModel" [(ngModel)]="projectName"
                           type="text" class="form-control"
                           (keydown.enter)="$event.preventDefault()">
                    <input-error [model]="nameNgModel"
                                 [errorMessages]="{
                                        required: 'A name for the new project is required',
                                        a_project_with_the_same_name_already_exist: 'A project with the same name already exists',
                                        access_denied: 'Couldn\'t create this project. File access is denied',
                                        invalidUrlName: 'Project Name can contain only the following characters (space is not allowed): 0-9 a-z A-Z $-_.,\'()'
                                     }"></input-error>
                </div>
            </div>

            <div class="my-line" *ngIf="!isRootFeature()">
                <label class="my-label label-size">Name</label>

                <div class="my-value" *ngIf="!isEditMode">
                    {{model.name || ""}}
                </div>
                <div class="my-value" *ngIf="isEditMode">
                    <input name="name"
                           required
                           isNotBlankValidator
                           #nameNgModel="ngModel" [(ngModel)]="model.name"
                           type="text" class="form-control"
                           (keydown.enter)="$event.preventDefault()">
                    <input-error [model]="nameNgModel"
                                 [errorMessages]="{
                                        required: 'A name for this feature is required',
                                        a_resource_with_the_same_name_already_exist: 'A feature with the same name already exists',
                                        access_denied: 'Couldn\'t create or update this feature. File access is denied'
                                     }"></input-error>
                </div>
            </div>

            <!-- TAGS -->
            <div class="my-line" *ngIf="!isRootFeature() && !isEditMode && model.tags.length > 0 ">
                <label class="my-label label-size">Tags</label>
                <div class="my-value" *ngIf="!isEditMode">
                    <ng-container *ngFor="let tag of model.tags">
                        <span class="label label-primary">{{tag}}</span>
                    </ng-container>
                </div>
            </div>
            <div class="my-line" *ngIf="!isRootFeature() && isEditMode">
                <label class="my-label label-size">Tags</label>
                <div class="my-value my-default-line-height">
                    <p-autoComplete #tagsElement
                                    [(ngModel)]="model.tags"
                                    [suggestions]="tagsToShow"
                                    (completeMethod)="onSearchTag($event)"
                                    (onSelect)="onTagSelect($event)"
                                    (onKeyUp)="onTagsKeyUp($event);"
                                    (onBlur)="addCurrentTagToTags()"
                                    [delay]="0"
                                    [multiple]="true"
                                    [dropdown]="true"
                                    name="tags"></p-autoComplete>
                </div>
            </div>

            <!-- DESCRIPTION -->
            <div class="my-line">
                <label class="my-label-top label-size">Description</label>

                <div class="my-value my-default-line-height">
                    <markdown-editor #markdownEditor
                                     [options]="markdownEditorOptions"></markdown-editor>
                </div>
            </div>

            <!-- ATTACHMENTS-->
            <div class="my-line" *ngIf="isEditMode || model.attachments.length > 0">
                <label class="my-label-top label-size">Attachments</label>

                <div class="my-value my-default-line-height">
                    <attachments-component [attachments]="model.attachments"
                                           [editMode]="isEditMode"
                                           [fileAttachmentsAdded]="fileAttachmentsAdded"
                                           [attachmentsPathsToDelete]="attachmentsPathsToDelete"></attachments-component>
                </div>
            </div>

            <div class="panel-footer-button">
                <ng-container *ngIf="!isEditMode">
                    <button (click)="enableEditMode();" class="btn btn-primary">Edit</button>
                </ng-container>
                <ng-container *ngIf="isEditMode">
                    <button (click)="cancelAction();" type="button" class="btn btn-default">Cancel</button>
                    <button *ngIf="!isRootFeature() && !isCreateAction" (click)="deleteAction();$event.stopPropagation();" type="button" class="btn btn-danger">Delete</button>
                    <button [disabled]="!form.form.valid" (click)="saveAction();$event.stopPropagation();" class="btn btn-primary">Save</button>
                </ng-container>
            </div>
        </form>
    </div>
</div>
