@import 'testerum-stats-fontawesome';

@import "nerd-fonts-generated-2.0.0.min";
@import "testerum-stats-variables";

@import "testerum-theme-primeng-table";


html {
    height: 100%;
    font-size: 14px;
}

body {
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1;
}

p-checkbox {
    label {
        cursor: pointer;
    }
}

