<table class="table">
    <colgroup>
        <col span="1" style="width: 48%;">
        <col span="1" style="width: 48%;">
        <col *ngIf="isEditMode()" span="1" style="width: 4%;">
    </colgroup>

    <tr>
        <th>Key</th>
        <th>Value</th>
    </tr>

    <tr *ngFor="let header of headers; let last = last">
        <td *ngIf="!header.isEmpty() || isEditMode()">
            <span *ngIf="!isEditMode()">{{header.key}}</span>
            <p-autoComplete *ngIf="isEditMode()"
                            (change)="onNewKeyChange($event)"
                            [(ngModel)]="header.key"
                            [suggestions]="suggestionHeaders"
                            (completeMethod)="filterSuggestionHeaders($event)"
                            inputStyleClass="autocomplete-input form-control"
                            class="autocomplete"
                            [dropdown]="true"></p-autoComplete>
        </td>
        <td *ngIf="!header.isEmpty() || isEditMode()">
            <span *ngIf="!isEditMode()">{{header.value}}</span>
            <input *ngIf="isEditMode()"
                   (change)="onNewValueChange($event)"
                   [(ngModel)]="header.value"
                   type="text" pInputText  class="form-control">
        </td>
        <td *ngIf="!header.isEmpty() && isEditMode()">
            <a href (click)="deleteHeader(header);false;"
               class="btn btn-danger" *ngIf="isEditMode()" aria-label="Delete">
                <i  class="fa fa-trash-o" aria-hidden="true"></i>
            </a>
        </td>
    </tr>

</table>
