:host {
    margin-top: 2em;

    &.full-width {
        width: 100% !important;
    }
}
.my-tests-stats {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 1em;

        .title {
            font-size: 2em;
            font-weight: bold;
            text-align: center;
        }
    }
}
