<div class="my-tests-stats">
    <div class="header">
        <div class="range">
            <label>Range</label>
            <p-calendar [(ngModel)]="rangeDates"
                        selectionMode="range"
                        [readonlyInput]="true"
                        [yearRange]="getMinYear() + ':' + getMaxYear()"
                        dateFormat="dd/mm/yy"
            (ngModelChange)="onDateRangeChange($event)"></p-calendar>
        </div>

        <div class="title">{{title}}</div>

        <div class="button-panel btn-group my-button-panel">
            <div title="{{fullWidth?'Minimize': 'Maximize'}}"
                 class="btn btn-default btn-xs btn-group"
                 (click)="onMaxMinClick();$event.stopPropagation();">
                <i class="fas"
                [class.fa-expand-arrows-alt]="!fullWidth"
                [class.fa-compress-arrows-alt]="fullWidth"></i>
            </div>
        </div>
    </div>

    <div class="body">
        <p-chart #chart type="line" [data]="data" [options]="options"></p-chart>
    </div>
</div>
