:host {
    margin-top: 5em;

    &.full-width {
        width: 100% !important;
    }
}
.my-tests-stats {
    .header {
        display: flex;
        justify-content: space-between;

        .range {
            label {
                margin-right: 0.5em;
            }

        }

        .title {
            font-size: 2em;
            font-weight: bold;
            text-align: center;
        }

        .my-button-panel {
        }
    }
}
