<div class="node">

    <div class="full-line"
         (dblclick)="collapseNode()">

        <i class="fa tree-node-new-folder-icon" aria-hidden="true"
           [class.fa-folder]="!isOpenedNode()"
           [class.fa-folder-open]="isOpenedNode()"></i>

        <span [class.error_squiggly]="model.hasOwnOrDescendantWarnings">
            {{model.name}}
        </span>
    </div>

    <json-children [jsonTreeNodeState]="model.jsonTreeNodeState"
                   [modelComponentMapping]="modelComponentMapping"
                   [model]="model"
                   class="full-line">
    </json-children>
</div>
