<div class="node">

    <div class="full-line"
         (dblclick)="collapseNode()">

        <i aria-hidden="true"
           [class.fa_my-tree-folder-closed-colored]="!isOpenedNode()"
           [class.fa_my-tree-folder-opened-colored]="isOpenedNode()"></i>

        <span class="text"
              [class.error_squiggly]="model.hasOwnOrDescendantWarnings">
            {{model.name}}
        </span>
    </div>

    <json-children [jsonTreeNodeState]="model.jsonTreeNodeState"
                   [modelComponentMapping]="modelComponentMapping"
                   [model]="model"
                   class="full-line">
    </json-children>
</div>
