<ng-container>
    <div class="tree-node"
         [class.show-dots]="model.getOptions().displayLines"
         [class.tree-node-line]="model.getOptions().displayLines"
         [class.hidden]="model.isHidden()"
         [class.tree-node-last]="isLastVisibleNode()"> <!--tree-node-close tree-node-leaf-->

        <!--<i class="tree-icon tree-line-icon tree-no-line-icon">-->
        <!--</i>-->
        <div [class.last-horizontal-line]="isLastVisibleNode()" class="horizontal-line-distance-from-top">
            <div class="horizontal-line"></div>
        </div>

        <div (click)="setSelected(); $event.stopPropagation()"
             class="tree-leaf">
            <span #content></span>
        </div>
    </div>
</ng-container>
