<div class="node runner-config-test-tree-node">

    <div class="full-line"
         (click)="selectOrNot();$event.stopPropagation();"
         (dblclick)="collapseNode()"
         title="{{getStatusTooltip()}}">

        <i aria-hidden="true" class="test_select-test-to-add-to-run-config"
           [class.fa_my-runner-config-test-selected]="model.status == RunnerConfigTestTreeNodeStatusEnum.SELECTED"
           [class.fa_my-runner-config-test-partial-selected]="model.status == RunnerConfigTestTreeNodeStatusEnum.PARTIAL_SELECTED"
           [class.fa_my-runner-config-test-not-selected]="model.status == RunnerConfigTestTreeNodeStatusEnum.NOT_SELECTED"></i>

        <i *ngIf="isFeatureNode()"
           aria-hidden="true"
           [class.fa_my-tree-folder-closed-colored]="!isOpenedNode()"
           [class.fa_my-tree-folder-opened-colored]="isOpenedNode()"></i>

        <i *ngIf="isTestNode()" class="fa_my-automated-test" aria-hidden="true"></i>

        <span class="node-text"
              [class.tree-leaf-selected]="model.isSelected()">{{model.name}}</span>
    </div>

    <json-children *ngIf="model.isContainer()"
                   [jsonTreeNodeState]="model.jsonTreeNodeState"
                   [modelComponentMapping]="modelComponentMapping"
                   [model]="model"
                   class="full-line">
    </json-children>
</div>
