.node-text {
    display: inline-block;
}

.tree-leaf-selected {
    background-color: whitesmoke;
}

.param-icon {
    width: 24px;
    height: 24px;
    line-height: 24px;

    background-image: url(../../../../../../../media/32px-tree.png);
    background-repeat: no-repeat;

    display: inline-block;
    text-decoration: none;
    margin: 0;
    padding: 0;
    vertical-align: top;
    text-align: center;
    background-position: -68px -4px;
}

.step-selected {
    background-color: whitesmoke;
}

.step-parameters-table {
    display: inline-block;
    width: auto;
    background-color: whitesmoke;
    margin-bottom: 0;
}

.tree-node {
    display: flex;
    flex-direction: row;
}

.fa {
    vertical-align: top;
    margin-top: 3px;
    margin-right: 6px;
    font-size: 19px;
    width: 17px;
}

.node-waiting {
    color: darkgrey;;
}
.node-executing {
    color: green;
}
.node-passed {
    color: green;
}
.node-failed {
    color: red;
}
.node-error {
    color: red;
}
.node-undefined {
    color: #FFCE56;
}
.node-skipped {
    color: lightgray;
}
