.info-icon {
}

body .ui-overlaypanel:before {
    left: 1.05em;
    margin-left: -10px;
}

body .ui-overlaypanel:after {
    left: 1.05em;
    margin-left:  -8px;
}


body .ui-overlaypanel .ui-overlaypanel-content {
    padding: 0;

    .content {
        white-space: normal;
        padding: 0.571em 1em;

        ul {
            padding-left: 1.3em;
            li {
                white-space: pre-wrap;
            }
        }

        p {
            white-space: pre-wrap;
        }
    }
}
