.info-icon {
}

body .p-overlaypanel {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    &:before {
        border-bottom-color: transparent;
        border-top-color: transparent;
    }

    &:after {
        border-bottom-color: transparent;
        border-top-color: transparent;
    }
}
.p-overlaypanel.p-overlaypanel-flipped:before {
    border-bottom-color: transparent;
    border-top-color: transparent;
}

body .p-overlaypanel .p-overlaypanel-content {
    line-height: 1.2em;
    padding: 0;

    .content {
        white-space: normal;
        padding: .5em .5em 0 0.5em;

        ul {
            padding-left: 1.3em;
            li {
                white-space: pre-wrap;
            }
        }

        p {
            white-space: pre-wrap;
        }
    }
}
