.info-icon {
    .spacing {
        margin-left: 5px;
    }

    .popover {
        max-width: inherit;
        max-height: inherit;
    }

    .popover-content {
        ul {
            padding-left: 1.3em;
        }
    }
}
