<div class="info-icon"
     (mouseenter)="pop.show()"
     (mouseleave)="pop.hide()">

    <i class="fa_my-info-colored" aria-hidden="true"
       #pop="bs-popover"
       [popover]="popTemplate"
       [placement]="position"></i>

    <ng-template #popTemplate >
        <div [style.max-width]="maxWidth"
             [style.max-height]="maxHeight"
             [style.width]="width"
             [style.height]="height"
             style="overflow: auto"
             [innerHtml]="message | markdown"></div>
    </ng-template>
</div>
