 <div class="info-icon"
     (mouseenter)="show($event);"
     (mouseleave)="waitAndHide($event);">

    <i class="fa_my-info-colored"
       [style.font-size]="iconFontSize"
       aria-hidden="true" #actualTarget></i>

    <p-overlayPanel #op [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'"
                    appendTo="body"
                    baseZIndex="9999"
                    autoZIndex="false">
        <div class="content"
             [style.max-width]="maxWidth"
             [style.max-height]="maxHeight"
             [style.width]="width"
             [style.height]="height"
             style="overflow: auto; white-space: nowrap;"
             [innerHtml]="message | markdown"
             (mouseenter)="show($event);"
             (mouseleave)="waitAndHide($event);"></div>
    </p-overlayPanel>
</div>
