.json-resource {
    height: 100%;

    .condensed-view-container {
        .condensed-view-body {
            white-space: pre;
            line-height: 12px;
            font-size: 12px;

            code {
                background-color: inherit;
                font-family: "Hack Regular Nerd Font Complete", monospace;
                padding: 0;
            }
        }
    }

    .label-size {
        width: 6em;
    }

    .full-height-line {
        flex-grow: 2;
    }

    .monaco-editor-container {
        align-self: stretch;
        position: relative;
    }
}

