.json-resource {
    height: 100%;

    .condensed-view-container {
        .condensed-view-body {
            white-space: pre;
            line-height: 1em;
            font-size: 1em;

            code {
                background-color: inherit;
                font-family: "Hack Regular Nerd Font Complete", monospace;
                line-height: .85em;
                padding: 0;
                font-size: .85em;
            }
        }
    }

    .label-size {
        width: 6em;
    }

    .full-height-line {
        flex-grow: 2;
    }

    .monaco-editor-container {
        align-self: stretch;
        position: relative;

        border: 1px solid #c8c8c8;
        border-radius: 3px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

