.feature-container {
    .flip {
        -moz-transform: scale(1, -1);
        -webkit-transform: scale(1, -1);
        -o-transform: scale(1, -1);
        -ms-transform: scale(1, -1);
        transform: scale(1, -1);
    }

    .tree-node-icon {
        width: 15px;
        margin-top: 4px;
    }

    .hook-icon-container {
        position: relative;
        display: inline;
        margin-right: 4px;

        .hook-icon {
            position: absolute;
            top: 5px;
            left: -3px;
        }
    }

    .node-text {
        margin-left: 5px;
    }

    .my-button-panel {
        margin-left: 5px;
    }
}
