<div class="node"
     dnd-draggable [dragEnabled]="hasMouseOver" [dragData]="model" >

    <div class="full-line"
         (mouseover)="hasMouseOver=true;$event.stopPropagation();"
         (mouseleave)="hasMouseOver=false"
         (click)="setSelected(); expandNode(); $event.stopPropagation();"
         (dblclick)="toggleNode()"

         dnd-droppable [allowDrop]="allowDrop()" (onDropSuccess)="moveResource($event)">

        <i aria-hidden="true"
           [class.fa_my-tree-folder-closed-colored]="!isOpenedNode()"
           [class.fa_my-tree-folder-opened-colored]="isOpenedNode()"></i>

        <span class="node-text"
              [class.error_squiggly]="model.hasOwnOrDescendantWarnings"
              [class.tree-leaf-selected]="model.isSelected()">{{model.name}}</span>

        <!-- BUTTONS RENDERING -->
        <div class="button-panel btn-group my-button-panel"
             [class.hidden]="!hasMouseOver">

            <div *ngIf="hasTestsToRun()"
                 title="Run Tests" class="btn btn-default btn-xs btn-group"
                 (click)="runTests();$event.stopPropagation();">
                <i class="fa_my-run" aria-hidden="true"></i>
            </div>

            <div title="Create Test" class="btn btn-default btn-xs btn-group"
                 (click)="showCreateTest();$event.stopPropagation();">
                <i class="fa_my-plus" aria-hidden="true"></i>
            </div>

            <div title="Create Feature" class="btn btn-default btn-xs btn-group"
                 (click)="showCreateDirectoryModal(); $event.stopPropagation()">
                <i class="fa_my-folder-opened" aria-hidden="true"></i>
            </div>

            <div *ngIf="model.editable"
                 title="Cut Feature" class="btn btn-default btn-xs btn-group"
                 (click)="onCutFeature(); $event.stopPropagation()">
                <i class="fa_my-cut" aria-hidden="true"></i>
            </div>

            <div *ngIf="model.editable"
                 title="Copy Feature" class="btn btn-default btn-xs btn-group"
                 (click)="onCopyFeature(); $event.stopPropagation()">
                <i class="fa_my-copy" aria-hidden="true"></i>
            </div>

            <div *ngIf="canPaste()" title="Paste Feature" class="btn btn-default btn-xs btn-group"
                 (click)="onPasteFeature(); $event.stopPropagation()">
                <i class="fa_my-paste" aria-hidden="true"></i>
            </div>

            <!--<div *ngIf="model.editable"-->
                 <!--title="Delete Folder" class="btn btn-default btn-xs btn-group"-->
                 <!--(click)="deleteDirectory(); $event.stopPropagation()">-->
                <!--<i class="fa_my-delete" aria-hidden="true"></i>-->
            <!--</div>-->
        </div>
    </div>

    <json-children [jsonTreeNodeState]="model.jsonTreeNodeState"
                   [modelComponentMapping]="modelComponentMapping"
                   [model]="model"
                   class="full-line">
    </json-children>
</div>
