<div class="node"
     dnd-draggable [dragEnabled]="hasMouseOver" [dragData]="model" >

    <div class="full-line"

         (mouseover)="hasMouseOver=true;$event.stopPropagation();"
         (mouseleave)="hasMouseOver=false"
         (click)="setSelected()"
         (dblclick)="collapseNode()"

         dnd-droppable [allowDrop]="allowDrop()" (onDropSuccess)="copyResource($event)">

        <i class="fa tree-node-new-folder-icon" aria-hidden="true"
           [class.fa-folder]="!isOpenedNode()"
           [class.fa-folder-open]="isOpenedNode()"></i>

        <span class="node-text"
              [class.error_squiggly]="model.hasOwnOrDescendantWarnings"
              [class.tree-leaf-selected]="isSelected">{{model.name}}</span>

        <!-- BUTTONS RENDERING -->
        <div class="button-panel btn-group"
             [class.hidden]="!hasMouseOver">

            <div title="Run Tests" class="btn btn-default btn-xs btn-group"
                 (click)="runTests();$event.stopPropagation();">
                <i class="fa fa-play" aria-hidden="true"></i>
            </div>

            <div title="Create Test" class="btn btn-default btn-xs btn-group"
                 (click)="showCreateTest();$event.stopPropagation();">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </div>

            <div title="Create Feature" class="btn btn-default btn-xs btn-group"
                 (click)="showCreateDirectoryModal(); $event.stopPropagation()">
                <i class="fa fa-folder-open" aria-hidden="true"></i>
            </div>

            <div *ngIf="model.editable"
                 title="Delete Folder" class="btn btn-default btn-xs btn-group"
                 (click)="deleteDirectory(); $event.stopPropagation()">
                <i class="fa fa-trash" aria-hidden="true"></i>
            </div>
        </div>
    </div>

    <json-children [jsonTreeNodeState]="model.jsonTreeNodeState"
                   [modelComponentMapping]="modelComponentMapping"
                   [model]="model"
                   class="full-line">
    </json-children>
</div>
