<div class="node">

    <div class="full-line"
         (mouseover)="hasMouseOver=true;$event.stopPropagation();"
         (mouseleave)="hasMouseOver=false">

        <span>{{getName()}}</span>

        <div *ngIf="isEditMode()" class="button-panel btn-group">
            <div [class.hidden]="!hasMouseOver"
                 title="Delete" class="btn btn-default btn-xs btn-group"
                 (click)="deleteEntry();$event.stopPropagation();">
                <i class="fa_my-delete" aria-hidden="true"></i>
            </div>
        </div>

        <json-children [jsonTreeNodeState]="model.jsonTreeNodeState"
                       [modelComponentMapping]="modelComponentMapping"
                       [model]="model"
                       class="full-line">
        </json-children>
    </div>
</div>
