<div class="main-container">

    <split direction="horizontal">
        <split-area [size]="40">
            <steps-tree-filter></steps-tree-filter>

            <!-- COMPOSED STEPS -->
            <steps-tree [treeModel]="stepsTreeService.composedStepsJsonTreeModel"
                       [modelComponentMapping]="jsonModelComponentMapping">
            </steps-tree>

            <!-- BASIC STEPS -->
            <steps-tree [treeModel]="stepsTreeService.basicStepsJsonTreeModel"
                       [modelComponentMapping]="jsonModelComponentMapping">
            </steps-tree>

        </split-area>
        <split-area [size]="60">

            <router-outlet></router-outlet>

        </split-area>
    </split>
</div>
