<split-panel-container>
    <h1>
        <span *ngIf="isEditMode && isCreateAction">Create</span>
        <span *ngIf="isEditMode && !isCreateAction">Update</span>
        Test / Acceptance Criteria at <span class="path">{{pathForTitle}}</span>
    </h1>

    <div>
        <div class="page-body">
            <form #stepForm="ngForm" class="form-horizontal">

                <div class="my-line">
                    <label class="my-label label-size">Path</label>
                    <div class="my-value">
                        {{getPathWithoutTestName()}}
                    </div>
                </div>


                <div class="my-line">
                    <label class="my-label label-size">Name</label>

                    <div class="my-value" *ngIf="!isEditMode">
                        {{testModel.name || ""}}
                    </div>
                    <div class="my-value" *ngIf="isEditMode">
                        <input required
                               #testName="ngModel" [(ngModel)]="testModel.name"
                               type="text" class="form-control" name="testName">
                        <input-error [model]="testName"
                                     [errorMessages]="{
                                        required: 'The name is required'
                                     }"></input-error>
                    </div>
                </div>

                <!-- TEST TYPE & DISABLED -->
                <div class="my-line">
                    <label class="my-label label-size">Type</label>
                    <div class="type-value-container my-value">
                        <div *ngIf="!isEditMode" class="type-container">
                            <span *ngIf="!testModel.properties.isManual" class="label label-success">Automated</span>
                            <span *ngIf="testModel.properties.isManual" class="label label-warning">Manual</span>
                        </div>
                        <div *ngIf="isEditMode" class="type-container">
                            <p-toggleButton onLabel="Manual" offLabel="Automated"
                                            onIcon="fa_my-manual-test_white" offIcon="fa_my-automated-test_white"
                                            [(ngModel)]="testModel.properties.isManual"
                                            styleClass="toggle-test-type"
                                            name="testTypeSwitch"></p-toggleButton>
                        </div>

                        <div class="disabled-container">
                            <div *ngIf="!isEditMode">
                                <span *ngIf="testModel.properties.isDisabled" class="label label-danger">Disabled</span>
                            </div>
                            <div *ngIf="isEditMode">

                                <p-toggleButton onLabel="Disabled" offLabel="Enabled"
                                                onIcon="fa_my-disabled" offIcon="fa_my-enabled" [(ngModel)]="testModel.properties.isDisabled"
                                                styleClass="toggle-test-state"
                                                name="testStateSwitch"></p-toggleButton>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- TAGS -->
                <div class="my-line" *ngIf="!isEditMode && testModel.tags.length > 0 ">
                    <label class="my-label label-size">Tags</label>
                    <div class="my-value" *ngIf="!isEditMode">
                        <ng-container *ngFor="let tag of testModel.tags">
                            <span class="label label-primary">{{tag}}</span>
                        </ng-container>
                    </div>
                </div>
                <div class="my-line" *ngIf="isEditMode">
                    <label class="my-label label-size">Tags</label>
                    <div class="my-value my-default-line-height">
                        <p-autoComplete #tagsElement
                                        [(ngModel)]="testModel.tags"
                                        [suggestions]="tagsToShow"
                                        (completeMethod)="onSearchTag($event)"
                                        (onSelect)="onTagSelect($event)"
                                        (keypress)="onTagsKeyUp($event);"
                                        [delay]="0"
                                        [multiple]="true"
                                        [dropdown]="true"
                                        name="tags"></p-autoComplete>
                    </div>
                </div>

                <div class="my-line" *ngIf="testModel.description || isEditMode">
                    <label class="my-label label-size">Description</label>
                    <div class="my-value my-default-line-height">
                        <markdown-editor #descriptionMarkdownEditor
                                         [options]="markdownEditorOptions"
                                         class="markdown-editor-dynamic-size"></markdown-editor>
                    </div>
                </div>

                <p-messages *ngIf="warnings.length > 0" [(value)]="warnings" styleClass="error-message"></p-messages>

                <div>
                    <h4 class="inline"><strong>Steps</strong></h4>

                    <!-- BUTTONS -->
                    <div class="step-action-panel inline btn-group">

                        <div *ngIf="!isEditMode && !testModel.properties.isManual && testModel.stepCalls.length != 0"
                             title="Run Tests" class="btn btn-default btn-xs btn-group"
                             (click)="runTest(); $event.stopPropagation()">
                            <i class="fa_my-run" aria-hidden="true"></i>
                        </div>

                        <div title="Add Step" class="btn btn-default btn-xs btn-group"
                             *ngIf="isEditMode"
                             (click)="addStep(); $event.stopPropagation()">
                            <i class="fa_my-plus" aria-hidden="true"></i>
                        </div>

                        <div *ngIf="isEditMode && canPasteStep()" title="Paste Step" class="btn btn-default btn-xs btn-group"
                             (click)="onPasteStep(); $event.stopPropagation()">
                            <i class="fa_my-paste" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>

                <step-call-tree [stepCalls]="testModel.stepCalls"
                                [isEditMode]="isEditMode"
                                [areManualSteps]="testModel.properties.isManual"></step-call-tree>

                <div class="panel-footer-button">
                    <ng-container *ngIf="!isEditMode">
                        <button (click)="enableEditTestMode();" class="btn btn-primary">Edit</button>
                    </ng-container>
                    <ng-container *ngIf="isEditMode">
                        <button (click)="cancelAction();" type="button" class="btn btn-default">Cancel</button>
                        <button *ngIf="!isCreateAction" (click)="deleteAction();;$event.stopPropagation();" type="button" class="btn btn-danger">Delete</button>
                        <button [disabled]="!stepForm.form.valid" (click)="saveAction();$event.stopPropagation();" class="btn btn-primary">Save</button>
                    </ng-container>

                </div>
            </form>
        </div>
    </div>

</split-panel-container>
