<div class="main-container">
    <!-- BASIC STEPS -->
    <split direction="vertical">
        <split-area [size]="50">
            <split direction="horizontal">
                <split-area [size]="33">
                    <features-tree-filter [treeModel]="featuresTreeService.treeModel"></features-tree-filter>

                    <features-tree></features-tree>

                </split-area>
                <split-area [size]="67">

                    <router-outlet></router-outlet>

                </split-area>
            </split>
        </split-area>
        <split-area [size]="50" [visible]="isTestRunnerVisible()">
            <tests-runner #runner ></tests-runner>
        </split-area>
    </split>
</div>
