<div class="main-container">
    <!-- BASIC STEPS -->
    <split direction="vertical">
        <split-area [size]="50">
            <split direction="horizontal">
                <split-area [size]="30">
                    <features-tree-filter [treeModel]="testsTreeService.testsJsonTreeModel"></features-tree-filter>

                    <features-tree [treeModel]="testsTreeService.testsJsonTreeModel"
                                   [modelComponentMapping]="modelComponentMapping">
                    </features-tree>

                </split-area>
                <split-area [size]="70" [visible]="isTestSelected">

                    <router-outlet></router-outlet>

                </split-area>
            </split>
        </split-area>
        <split-area [size]="50" [visible]="runner.visible">
            <tests-runner #runner ></tests-runner>
        </split-area>
    </split>
</div>
