<div class="main-container">
    <!-- BASIC STEPS -->
    <as-split direction="vertical">
        <as-split-area [size]="50">
            <as-split direction="horizontal">
                <as-split-area [size]="33">
                    <features-tree-filter [treeModel]="featuresTreeService.treeModel"></features-tree-filter>

                    <features-tree></features-tree>

                </as-split-area>
                <as-split-area [size]="67">

                    <router-outlet></router-outlet>

                </as-split-area>
            </as-split>
        </as-split-area>
        <as-split-area [size]="50" *ngIf="isTestRunnerVisible()">
            <tests-runner></tests-runner>
        </as-split-area>
    </as-split>
</div>
