<form class="form-horizontal" style="height: 100%; position: relative" >

    <!-- NAME -->
    <div class="my-line">
        <label class="my-label label-size">Name</label>
        <div class="my-value" *ngIf="!editMode">
            {{name}}
        </div>
        <div class="my-value" *ngIf="editMode">
            <input required
                   #nameNgModel="ngModel" [(ngModel)]="name"
                   type="text" class="form-control" name="name">
            <input-error [model]="nameNgModel"
                         [errorMessages]="{
                                        required: 'A name for this resource is required',
                                        a_resource_with_the_same_name_already_exist: 'A resource with the same name already exists'
                                     }"></input-error>
        </div>
    </div>

    <p-toolbar>
        <div class="my-toolbar-container">
            <div title="Editor Mode"
                 class="btn btn-default btn-group my-btn-toolbar"
                 [class.active]="!isTreeVisible"
                 (click)="onToggleEditorMode()">
                Free Edit
            </div>

            <span class="label my-toolbar-label"
                  [class.label-success]="isValidJson"
                  [class.label-danger]="!isValidJson">
                {{isValidJson? "Valid JSON": "Invalid JSON"}}
            </span>
        </div>
    </p-toolbar>

    <div *ngIf="isTreeVisible">
        <!-- JSON SAMPLE -->
        <div class="form-group column-content" *ngIf="shouldDisplayJsonSample()">
            <div class="my-value center-text">Setting a JSON sample will provide an autocomplete and validation</div>
            <div class="my-value center">
                <json-editor [jsonText]="sampleJsonText" (change)="onSampleJsonTextChange($event)"></json-editor>
            </div>
        </div>

        <json-verify-tree></json-verify-tree>
    </div>

    <div *ngIf="!isTreeVisible" style="position: absolute; bottom: 0; right: 0; top: 70px; left: 0;">
        <json-verify-editor [jsonVerify]="model" [isEditMode]="editMode" (change)="onTextChange($event)"></json-verify-editor>
    </div>

</form>
