<form class="form-horizontal">

    <!-- NAME -->
    <div class="my-line">
        <label class="my-label label-size">Name</label>
        <div class="my-value" *ngIf="!editMode">
            {{name}}
        </div>
        <div class="my-value" *ngIf="editMode">
            <input required
                   #nameNgModel="ngModel" [(ngModel)]="name"
                   type="text" class="form-control" name="name">
            <input-error [model]="nameNgModel"
                         [errorMessages]="{
                                        required: 'A name for this resource is required',
                                        a_resource_with_the_same_name_already_exist: 'A resource with the same name already exists'
                                     }"></input-error>
        </div>
    </div>

    <!-- JSON SAMPLE -->
    <div class="form-group column-content" *ngIf="shouldDisplayJsonSample()">
        <div class="my-value center-text">Setting a JSON sample will provide an autocomplete and validation</div>
        <div class="my-value center">
            <json-editor [jsonText]="sampleJsonText" (change)="onSampleJsonTextChange($event)"></json-editor>
        </div>
    </div>

    <json-verify-tree></json-verify-tree>
</form>
