<p-toolbar>
    <div class="line-filters">

        <div class="filters-group">
            <div class="btn-group" role="group">
                <div title="{{areTestRunning()? 'Stop tests': 'Run Tests'}}"
                     class="btn btn-default btn-xs btn-group"
                     (click)="onRunOrStopTests()">
                    <i [class.fa_my-stop]="areTestRunning()"
                       [class.fa_my-run]="!areTestRunning()"
                       [class.error_color]="areTestRunning()"
                       aria-hidden="true"></i>
                </div>
            </div>
        </div>

        <div class="filters-group">
            <span class="filters-label">Filters:</span>
            <div class="btn-group" role="group">
                <div title="{{model.areTestFoldersShown? 'Hide Folders': 'Show Folders'}}"
                     class="btn btn-default btn-xs btn-group"
                     [class.active]="model.areTestFoldersShown"
                     (click)="onToggleFolders()">
                    <i class="fa_my-tree-folder-opened color-inherit" aria-hidden="true"></i>
                </div>
            </div>
            <div class="btn-group" role="group">
                <div title="{{model.showWaiting? 'Hide Waiting':'Show Waiting'}}"
                     class="btn btn-default btn-xs btn-group"
                     [class.active]="model.showWaiting"
                     (click)="onToggleWaiting()">
                    <i class="fa_my-runner-waiting" aria-hidden="true"></i>
                </div>
            </div>
            <div class="btn-group" role="group">
                <div title="{{model.showPassed ? 'Hide Passed': 'Show Passed'}}"
                     class="btn btn-default btn-xs btn-group"
                     [class.active]="model.showPassed"
                     (click)="onTogglePassed()">
                    <i class="fa_my-runner-passed" aria-hidden="true"></i>
                </div>
            </div>
            <div class="btn-group" role="group">
                <div title="{{model.showFailed ? 'Hide Failed': 'Show Failed'}}"
                     class="btn btn-default btn-xs btn-group"
                     [class.active]="model.showFailed"
                     (click)="onToggleFailed()">
                    <i class="fa_my-runner-failed" aria-hidden="true"></i>
                </div>
            </div>
            <div class="btn-group" role="group">
                <div title="{{model.showError ? 'Hide Error': 'Show Error'}}"
                     class="btn btn-default btn-xs btn-group"
                     [class.active]="model.showError"
                     (click)="onToggleError()">
                    <i class="fa_my-runner-error" aria-hidden="true"></i>
                </div>
            </div>
            <div class="btn-group" role="group">
                <div title="{{model.showDisabled ? 'Hide Disabled': 'Show Disabled'}}"
                     class="btn btn-default btn-xs btn-group"
                     [class.active]="model.showDisabled"
                     (click)="onToggleDisabled()">
                    <i class="fa_my-runner-disabled" aria-hidden="true"></i>
                </div>
            </div>
            <div class="btn-group" role="group">
                <div title="{{model.showUndefined ? 'Hide Undefined': 'Show Undefined'}}"
                     class="btn btn-default btn-xs btn-group"
                     [class.active]="model.showUndefined"
                     (click)="onToggleUndefined()">
                    <i class="fa_my-runner-undefined" aria-hidden="true"></i>
                </div>
            </div>
            <div class="btn-group" role="group">
                <div title="{{model.showSkipped ? 'Hide Skipped': 'Show Skipped'}}"
                     class="btn btn-default btn-xs btn-group"
                     [class.active]="model.showSkipped"
                     (click)="onToggleSkipped()">
                    <i class="fa_my-runner-skipped" aria-hidden="true"></i>
                </div>
            </div>
        </div>


        <div class="filters-group">
            <div class="btn-group" role="group">
                <div title="Show Tests"
                     class="btn btn-default btn-xs btn-group"
                     (click)="onExpandToTests()">
                    <i class="fa_my-expand" aria-hidden="true">
                        <i class="fa_my-automated-test" aria-hidden="true" style="font-size: 8px"></i>
                    </i>
                </div>
                <div title="Show Steps"
                     class="btn btn-default btn-xs btn-group"
                     (click)="onExpandToSteps()">
                    <i class="fa_my-expand" aria-hidden="true">
                        <i class="fa_my-step" aria-hidden="true" style="font-size: 8px"></i>
                    </i>
                </div>
                <div title="Expand All"
                     class="btn btn-default btn-xs btn-group"
                     (click)="onExpandAllNodes()">
                    <i class="fa_my-expand" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
</p-toolbar>
