<p-toolbar>
    <div class="btn-group" role="group">
        <div title="Stop tests"
             class="btn btn-default btn-xs btn-group"
             (click)="onStopTests()">
            <i class="fas fa-stop" aria-hidden="true"></i>
        </div>
    </div>

    <div class="btn-group" role="group">
        <div title="Stop tests"
             class="btn btn-default btn-xs btn-group"
             (click)="onToggleFolders()">
            <i class="tree-node-close" aria-hidden="true"></i>
        </div>
    </div>
</p-toolbar>
