.license-screen {
    label {
        font-weight: inherit;
        margin: 0;
    }

    .form-group{
        margin-bottom: 0.9em;

        label {
            margin-bottom: 0.3em;
        }

        input {
            width: 100%;
        }
    }

    p-radiobutton {
        cursor: pointer;

        label {
            cursor: pointer;
        }
    }

    .logo {
        font-size: 3rem;
        display: block;

        width: 13.5em;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }

    .license-panel {
        width: 40em;
        margin-left: auto;
        margin-right: auto;
    }

    .license-type-panel {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 4em;

        p-radiobutton {
            margin-left: 3em;
        }
    }

    .license-body-panel {
        height: 19em;
        padding: 1em;
        border: 1px solid #ccc;
        background-color: #e4e4e4;

        .sub-license-activation-type {
            .sub-license-activation-message {
                margin-bottom: 0.5em;
            }

            p-radiobutton {
                margin-left: 2em;
            }
        }

        .license-error-panel {
            height: 3em;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            color: red;

            .license-error {
                text-align: center;
            }
        }

        .activate-auth-spaceing {
            margin-top: 0.5em;
        }

        .evaluate-auth-spaceing {
            margin-top: 2em;
        }

        .evaluation-panel {
            .evaluation-panel-body {

            }
        }
    }
}
