$error-color: #d9534f;
$success-color: #5cb85c;
$info-color: #31b0d5;
$warning-color: #f0ad4e;

$passed-color: #5cb85c;
$failed-color: #FF6384;
$disabled-color: #c0bebc;
$undefined-color: #FFCE56;
$skipped-color: #aae8ff;
