$fa-font-path: '../../../node_modules/@fortawesome/fontawesome-free/webfonts/';
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/regular';
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/solid';
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/brands';

@import "nerd-fonts-generated-2.0.0.min";
@import "testerum-pretty-variables";

//------ ICONS ------
//-------------------
.far, .fas, .nf {
    line-height: inherit;
    align-self: center;
}

.fa_my-tree-folder-closed-colored {
    @extend .fas;
    @extend .fa-folder;
    color: #c7c308;
    align-self: center;
}
.fa_my-tree-folder-opened-colored {
    @extend .fas;
    @extend .fa-folder-open;
    color: #c7c308;
    align-self: center;
}
.fa_my-runner-passed {
    @extend .fas;
    @extend .fa-check;
}
.fa_my-runner-passed-colored {
    @extend .fa_my-runner-passed;
    color: $success-color;
}
.fa_my-runner-failed {
    @extend .fas;
    @extend .fa-times;
}
.fa_my-runner-failed-colored {
    @extend .fas;
    @extend .fa-times;
    color: $error-color;
}
.fa_my-runner-disabled {
    @extend .fas;
    @extend .fa-ban;
}
.fa_my-runner-disabled-colored {
    @extend .fas;
    @extend .fa-ban;
    color: $error-color;
}
.fa_my-runner-undefined {
    @extend .fas;
    @extend .fa-question;
}
.fa_my-runner-undefined-colored {
    @extend .fa_my-runner-undefined;
    color: $warning-color;
}
.fa_my-runner-skipped {
    @extend .fas;
    @extend .fa-angle-double-right;
}
.fa_my-runner-skipped-colored {
    @extend .fa_my-runner-skipped;
    color: #aae8ff;
}
.fa_my-automated-test {
    @extend .fas;
    @extend .fa-bolt;
    color: #333333;
    align-self: center;
}
.fa_my-scenario {
    @extend .fas;
    @extend .fa-stream;
    color: #333333;
    align-self: center;
}
.fa_my-tag {
    @extend .fas;
    @extend .fa-tag;
}
.fa_my-expand {
    @extend .nf;
    @extend .nf-fa-expand;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.fa_my-step {
    @extend .fas;
    @extend .fa-shoe-prints;
}
.fa_my-expand span {
    line-height: 0.5;
}
