.step-text {
    position: relative;
    display: flex;
    flex-wrap: nowrap;

    .step-text-phase {
        color: mediumblue;
        font-weight: bolder;
        display: inline-block;
        vertical-align: top;
        margin-right: 5px;
    }

    .unused-step-text-phase {
        color: #5d7f9c;
    }

    .fixed-phase-with {
        width: 40px;
        text-align: right;
    }

    .step-text-without-phase {
        white-space: normal;
        display: inline-block;
    }

    .unused-step-text-without-phase {
        color: #8e8e8e;
    }

    .step-text-parameter {
        color: royalblue;
        display: inline-block;
        margin-right: 5px;
    }

    .unused-step-text-parameter {
        color: #7e92ce;
    }

    .step-text-pattern {
        display: inline-block;
        margin-right: 5px;
    }

    .undefined-step-text-color {
        color: red;
    }

    .disabled {
        border-bottom: 1px solid black;
        position: absolute;
        width: 100%;
        top: 12.5px;
    }
}

