.label-size {
    width: 6em;
}

.expected-status-code-label {
    line-height: 15px;
    text-align: right;
}

.status-code .my-value {
    display: flex;
    align-items: center;
}

.input-3-letters {
    width: 70px;
}

.status-code-text {
    margin-left: 10px;
}

.http-response-verify-body {
    flex-grow: 2;
    display: flex;
    flex-flow: column;
}
