.form {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.label-size {
    width: 6em;
}

.expected-status-code-label {
    line-height: 15px;
    text-align: right;
}

.status-code .my-value {
    display: flex;
    align-items: center;
}

.status-code-input {
    width: auto;
}

.view-status-code-text {
    color: darkgray;
    display: inline-block;
}

.status-code-text {
    margin-left: 10px;
}

.http-response-verify-body {
    flex-grow: 2;
    display: flex;
    flex-flow: column;
}

.condensed-view-container {
    .condensed-view-body {
        white-space: pre;
        line-height: 12px;
        font-size: 12px;

        code {
            background-color: inherit;
            font-family: "Hack Regular Nerd Font Complete", monospace;
            padding: 0;
        }
    }
}
