.string-input-basic-resource {
    .my-value {
        margin-left: 0.5em;
    }

    .my-dropdown {
        line-height: normal;
        align-self: center;

        input {
            width: auto;
        }
    }
}
