<div class="node"
     dnd-draggable [dragEnabled]="hasMouseOver" [dragData]="model" >

    <div class="full-line"
         (mouseover)="hasMouseOver=true;$event.stopPropagation();"
         (mouseleave)="hasMouseOver=false"
         (dblclick)="collapseNode()"

         dnd-droppable [allowDrop]="allowDrop()" (onDropSuccess)="copyResource($event)">

        <i aria-hidden="true"
           [class.fa_my-tree-folder-closed]="!isOpenedNode()"
           [class.fa_my-tree-folder-opened]="isOpenedNode()"></i>

        {{model.name}}

        <!-- BUTTONS RENDERING -->
        <div class="button-panel btn-group"
             [class.hidden]="!hasMouseOver">

            <div title="Create Test" class="btn btn-default btn-xs btn-group"
                 (click)="showCreateTest();$event.stopPropagation();">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </div>

            <div title="Create Folder" class="btn btn-default btn-xs btn-group"
                 (click)="showCreateDirectoryModal(); $event.stopPropagation()">
                <i class="fa fa-folder-open" aria-hidden="true"></i>
            </div>

            <div *ngIf="model.editable"
                 title="Edit Folder" class="btn btn-default btn-xs btn-group"
                 (click)="showEditDirectoryNameModal(); $event.stopPropagation()">
                <i class="fas fa-pencil-alt" aria-hidden="true"></i>
            </div>

            <div *ngIf="model.editable"
                 title="Delete Folder" class="btn btn-default btn-xs btn-group"
                 (click)="deleteDirectory(); $event.stopPropagation()">
                <i class="fa fa-trash" aria-hidden="true"></i>
            </div>
        </div>
    </div>

    <json-children [jsonTreeNodeState]="model.jsonTreeNodeState"
                   [modelComponentMapping]="modelComponentMapping"
                   [model]="model"
                   class="full-line">
    </json-children>
</div>
