<div *ngIf="condensedViewMode && !model.isEmpty()" class="condensed-view-container">
    <div class="condensed-view-body">{{model.content}}</div>
</div>


<!-- REGULAR RESPONSE -->
<form *ngIf="!condensedViewMode" class="form-horizontal">

    <!-- NAME -->
    <div class="my-line">
        <label class="my-label label-size">Name</label>
        <div class="my-value" *ngIf="!editMode || isSharedResource">
            {{name}}
        </div>
        <div class="my-value" *ngIf="editMode && !isSharedResource">
            <input required
                   #nameNgModel="ngModel" [(ngModel)]="name"
                   type="text" class="form-control" name="name">
            <input-error [model]="nameNgModel"
                         [errorMessages]="{
                                        required: 'Connection Name is required',
                                        a_resource_with_the_same_name_already_exist: 'A resource with the same name already exists'
                                     }"></input-error>
        </div>
    </div>

    <!-- SQL EDITOR-->
    <div class="my-line">
        <label class="my-label label-size">SQL Script</label>
        <div class="my-value">
            <rdbms-sql-editor-component [sqlText]="model.content"
                                        (change)="sqlChange($event)"
                                        [editMode]="editMode"></rdbms-sql-editor-component>
        </div>
    </div>

</form>
