@import "../../../../../resources/css/testerum-variables.scss";
.warning-dialog {
    .modal-header {
        .title-icon {
            color: $warning-color;
        }
    }

    .modal-body {
        .warning-box {
            background: $warning-color;
            background: linear-gradient(90deg, $warning-color 0%, #bfb77c 100%);

            padding: 1em 0 1em 0;
            border-radius: 0.25em;

            display: flex;

            .warning-icon {
                align-self: center;
                font-size: 3em;
                margin-left: 10px;
                color: #fff56e;
            }

            .warning-message {
                text-align: center;
                font-size: large;
                white-space: pre-line;
                color: white;
                background-color: inherit;
                border-color: inherit;
            }
        }

        .warning-sub-message {
            font-size: 1.3em;
            font-weight: bold;
            margin-top: 1em;
        }

        .affected-message {
            margin-top: 10px;
            font-weight: bold;
        }

        .affected-path {
            margin-left: 30px;
            font-weight: normal;
        }
    }
}

