<div bsModal #infoModal="bs-modal" class="warning-dialog modal fade" tabindex="-1" role="dialog" [config]="{backdrop: 'static'}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button (click)="close()" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">
                    <i class="title-icon fas fa-exclamation-triangle"></i>
                    Warning
                </h4>
            </div>
            <div class="modal-body">
                <div class="warning-box">
                    <i class="warning-icon fas fa-exclamation-triangle"></i>
                    <div class="warning-message">
                        <div>The new step definition is not compatible with the previous version.</div>
                    </div>
                </div>

                <div class="warning-sub-message">The following tests and steps will be broken:</div>

                <div *ngIf="pathsForAffectedTests.length != 0" class="affected-message">
                    Tests:
                    <div *ngFor="let testPath of pathsForAffectedTests" class="affected-path">
                        {{getNameFromPath(testPath)}}
                    </div>
                </div>

                <div *ngIf="pathsForDirectAffectedSteps.length != 0" class="affected-message">
                    Directly affected steps:
                    <div *ngFor="let stepPath of pathsForDirectAffectedSteps" class="affected-path">
                        {{getNameFromPath(stepPath)}}
                    </div>
                </div>

                <div *ngIf="pathsForTransitiveAffectedSteps.length != 0" class="affected-message">
                    Transitive Affected Steps:
                    <div *ngFor="let stepPath of pathsForTransitiveAffectedSteps" class="affected-path">
                        {{getNameFromPath(stepPath)}}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button (click)="close()" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button (click)="continue()" type="button" class="btn btn-primary" data-dismiss="modal">Continue</button>
            </div>
        </div>
    </div>
</div>
