<div class="node date-object">

    <div class="full-line"
         (mouseover)="hasMouseOver=true;$event.stopPropagation();"
         (mouseleave)="hasMouseOver=false">

        <span>{{getName()}}</span>
        <span *ngIf="isEditMode()">: <span class="field-type">{{getTypeForUI()}}</span> = </span>
        <span *ngIf="!isEditMode()"> =
            <span *ngIf="model.serverObject != null">{{inputDate}}</span>
            <span *ngIf="model.serverObject == null" class="null-value">null</span>
        </span>

        <span *ngIf="isEditMode()"
              class="calendar">
            <input [ngModel]="inputDate"
                   (ngModelChange)="inputChange($event)"
                   autocomplete="off"
                   class="calendar-input"/>
            <p-calendar [ngModel]="date"
                        (onSelect)="onDateSelect($event)"
                        [showIcon]="true"
                        [monthNavigator]="true"
                        [yearNavigator]="true"
                        yearRange="1960:2050"
                        class="my-p-calendar"
                        dateFormat="yy-mm-dd"
                        hideOnDateTimeSelect="true"
                        dataType="string"
                        keepInvalid="true"
                        showTime="showTime" hourFormat="24" [utc]="true"></p-calendar>
        </span>

        <info-icon *ngIf="isEditMode() || inputDate"
                   [message]="getDescription()"
                   class="date-info-icon"></info-icon>

        <div class="button-panel btn-group"
             *ngIf="isEditMode()"
             [class.hidden]="!hasMouseOver">
            <div *ngIf="shouldDisplayDeleteButton()"
                 title="Delete" class="btn btn-default btn-xs btn-group"
                 (click)="deleteEntry();$event.stopPropagation();">
                <i class="fa_my-delete" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>
