.date-object {

    .full-line {
        display: flex;
        align-items: center;
    }

    .date-info-icon {
        margin-left: 5px;
    }
    .calendar {
        display: inline-flex;
        height: 20px;
        margin-left: 5px
    }
}
