.runner-results-tabs {
    height: calc(100% - 9px);

    /* STYLE FOR TAB COMPONENT */
    .p-tabview {
        height: 100%;

        .p-tabview-panels {
            height: calc(100% - 35px);
            padding: 0;

            .p-tabview-panel {
                height: 100%;
            }
        }
    }
}
