.runner-results-tabs {
    height: calc(100% - 3px);

    /* STYLE FOR TAB COMPONENT */
    .ui-tabview {
        height: 100%;

        .ui-tabview-panels {
            height: calc(100% - 35px);

            .ui-tabview-panel {
                height: 100%;
            }
        }
    }
}
