@import "../../../resources/css/testerum-variables";

.menu-runner {
    display: flex;
    align-items: center;

    .p-dropdown {
        .p-placeholder {
            color: #A9A9A9;
        }

        .item {
            white-space: nowrap;
            i {
                margin-right: 0.5em;
                text-align: center;
                width: 1em;
            }
            .item-label {
                white-space: nowrap
            }
        }
    }

    .run-button {
        color: $success-color;
        margin-left: 0.5em;
        font-size: 1.5em;
        cursor: pointer;

        &.run-button-disabled {
            color: $gray-color;
            cursor: default;
        }
    }
}
