<div class="menu-runner">
    <p-dropdown class="test_add-run-config"
        [options]="runnersSelectItems"
        [(ngModel)]="selectedItem"
        (onClick)="onRunnersDropDownClick()"
        (onChange)="onRunnerItemSelection()"
        placeholder="{{hasNoRunnerConfig() ? 'Add Run Config' : 'Select Run Config'}}">

        <ng-template let-item pTemplate="selectedItem">
            <div class="item">
                <i class="{{item.icon}}"></i>
                <span class="item-label">{{item.label}}</span>
            </div>
        </ng-template>
        <ng-template let-item pTemplate="item">
            <div class="item">
                <i class="{{item.icon}}"></i>
                <span class="item-label">{{item.label}}</span>
            </div>
        </ng-template>
    </p-dropdown>


    <i class="run-button fas fa-play test_execute-run-config-btn"
       (click)="onExecuteRunConfig()"
       [class.run-button-disabled]="!isRunnableConfigSelected()"></i>
</div>

