<div #parentElement class="selenium-advanced">
    <collapsable-panel title="Advanced"
                       [collapsed]="!hasChanges()"
                       [heading]="2">
        <div class="input-description-container">
            <div class="my-label">{{setting.definition.label ? setting.definition.label : setting.definition.key}}</div>
            <info-icon [message]="setting.definition.description"></info-icon>
        </div>

        <monaco-editor [options]="{'language': 'javascript'}"
                       [(value)]="setting.unresolvedValue"
                       [parentElemntRef]="parentElement"
                       [minHeight]="100"
                       [autoSizing]="false"
                       class="editor"></monaco-editor>
    </collapsable-panel>
</div>
