.node-text {
    display: inline-block;
}

.step-selected {
    background-color: whitesmoke;
}

.node-not-executed {
    color: darkgrey;;
}
.node-passed {
    color: green;
}
.node-failed{
    color: red;
}
.node-blocked{
    color: #dca7a7;
}
.node-not-applicable{
    color: #c8e5bc;
}


