<div class="node-text" (click)="executeTest()">

    <i class="fa tree-node-new-icon" aria-hidden="true"

       [class.node-not-executed]="ManualTestStatus.NOT_EXECUTED == model.payload.testStatus"
       [class.node-passed]="ManualTestStatus.PASSED == model.payload.testStatus"
       [class.node-failed]="ManualTestStatus.FAILED == model.payload.testStatus"
       [class.node-blocked]="ManualTestStatus.BLOCKED == model.payload.testStatus"
       [class.node-not-applicable]="ManualTestStatus.NOT_APPLICABLE == model.payload.testStatus"

       [class.fa-spinner]="ManualTestStatus.NOT_EXECUTED == model.payload.testStatus"
       [class.fa-check]="ManualTestStatus.PASSED == model.payload.testStatus"
       [class.fa-times]="ManualTestStatus.FAILED == model.payload.testStatus"
       [class.fa-ban]="ManualTestStatus.BLOCKED == model.payload.testStatus"
       [class.fa-exclamation]="ManualTestStatus.NOT_APPLICABLE == model.payload.testStatus"></i>

    <div class="node-text"
         [class.step-selected]="isSelected">
        {{model.name}}
    </div>

</div>
