@import "../../../../resources/css/testerum-variables.scss";

.settings-modal {
    display: flex !important;
    align-items: center;

    .modal-dialog {
        align-self: center;
        width: 90%;
        height: 80%;
        min-height: 500px;
        max-width: 1400px;

        .modal-content {
            height: 100%;
        }

        .modal-body {
            display: flex;
            flex-direction: row;

            /* 100% = dialog height, 120px = header + footer */
            height: calc(100% - 120px);
            overflow-y: auto;
            padding: 0;

            .settings-container{
                display: flex;
                flex-direction: row;
                width: 100%;

                .settings-menu{
                    padding-right: 0;
                    padding-left: 0;
                    padding-bottom: 0;

                    .list-group{
                        margin-bottom: 0;
                        border-right: 0;

                        .list-group-item {
                            margin-bottom: 0;
                            height: 60px;

                            i {
                                font-size: 1.2em;
                                margin-bottom: 0.3em;
                            }

                            &:first-child {
                                border-top-right-radius: 0;
                                -moz-border-top-right-radius: 0;
                            }

                            &:last-child {
                                border-bottom-right-radius: 0;
                                -moz-border-bottom-right-radius: 0;
                            }

                            &.active {
                                &:after {
                                    content: '';
                                    position: absolute;
                                    left: 100%;
                                    top: 50%;
                                    margin-top: -13px;
                                    border-left: 0;
                                    border-bottom: 13px solid transparent;
                                    border-top: 13px solid transparent;
                                    border-left: 10px solid $primary-color;
                                }

                                .glyphicon, .fa {
                                    background-color: $primary-color;
                                    color: #ffffff;
                                }
                            }
                        }
                    }
                }

                .category-settings {
                    width: 100%;
                    border: 1px solid #c8c8c8;
                    border-radius: 0 4px 4px 4px;
                    padding: 0 20px;
                    overflow-y: auto;

                    &:not(.active){
                        display: none;
                    }
                }
            }
        }

        .modal-footer {
            position: relative;

            .buttons-left {
                position: absolute;
                left: 30px;
            }
            .buttons-right {
                position: absolute;
                right: 30px;
            }
        }
    }

    .category-settings {
        .simple-setting {
            .input-description-container {
                display: flex;
                flex-direction: row;
                align-items: center;

                .my-label {
                    margin-right: 7px;
                }
            }
        }
        .composed-setting {
            collapsable-panel {
                .my-title {
                    font-weight: 700;
                    font-size: 14px;
                }
            }
        }
    }
}
