<div bsModal #settingsModal="bs-modal" class="modal fade settings-modal" tabindex="-1" role="dialog" [config]="{backdrop: 'static'}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button (click)="cancel()" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">
                    <i class="fas fa-cogs"></i>
                    Settings
                </h4>
            </div>

            <div class="modal-body">

                <div class="settings-container">
                    <div class="settings-menu">
                        <div class="list-group" *ngFor="let item of settingsCategories">
                            <a href="#" (click)="onCategorySelected(item); false;" class="list-group-item text-center"
                                [class.active]="item == selectedCategory">
                                <div *ngIf="item == 'HTTP'"><i class="fas fa-globe-americas"></i></div>
                                <div *ngIf="item == 'Selenium'"><i class="fab fa-internet-explorer" style="margin-right: 0.2em"></i><i class="fab fa-chrome"style="margin-right: 0.2em"></i><i class="fab fa-safari"></i></div>
                                {{item}}
                            </a>
                        </div>
                    </div>
                    <div class="category-settings"
                         [class.active]="selectedCategory == settingCategory"
                         *ngFor="let settingCategory of settingsCategories"
                         title="{{settingCategory}}">

                        <div class="setting vertical-space"
                             *ngFor="let setting of settingsByCategory.get(settingCategory)">
                            <div class="input-description-container">
                                <div class="my-label">{{setting.definition.label? setting.definition.label : setting.definition.key}}</div>
                                <info-icon [message]="setting.definition.description"></info-icon>
                            </div>

                            <dynamic-input [(value)]="setting.unresolvedValue"
                                           [inputType]="getDynamicInputType(setting.definition.type)"
                                           [possibleValues]="setting.definition.enumValues"></dynamic-input>

                            <div class="vertical-space"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="buttons-left">
                    <button (click)="resetToDefault();" type="button" class="btn btn-warning">Reset</button>
                </div>
                <div class="buttons-right">
                    <button (click)="cancel();" type="button" class="btn btn-default">Cancel</button>
                    <button (click)="saveAction()" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>


