.center-content {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.logo {
    font-size: 3rem;
    display: block;

    width: 13.5em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.input-description {
    margin-top: 20px;
}

.input-container {
    display: flex;
    flex-wrap: wrap;
}
.file-dir-chooser {
    border-radius: 4px;
}

.form-control { //default bootstrap styling
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.setup-footer {
    padding-right: 0;
    border: 0;
}

.setup .file-dir-chooser .form-control {
    padding: 0 5px;
    position: static;
    border-radius: 0 !important;
    border-left: 0;
    height: 25px;
    line-height: 1;
    width: inherit;
}
