.scenario-param-modal {
    .modal-dialog {
        max-width: 1200px;
        width: 90%;
        height: calc(100% - 60px);
    }

    .modal-content {
        height: 100%;

        .modal-header {
            display: grid;
            grid-template-areas: 'header-left header-right';

            .modal-header-buttons {
                grid-area: header-right;
                align-self: center;
                justify-self: end;

                display: flex;
                align-items: center;
            }

            .modal-title {
                grid-area: header-left;
            }
        }

        .modal-body {
            max-height: calc(100% - 120px);
            height: 100%;
            overflow-x: hidden;

            .label-size {
                width: 5em;
            }

            .name-container {
                .button-panel {
                    margin-left: 10px;

                    .param-info-icon {
                        margin-left: 10px;
                    }
                }
            }

            .param-value-container {
                position: relative;

                .my-text-editor-container {
                    border: 1px solid #c8c8c8;
                    border-radius: 3px;
                    width: 100%;
                }
            }
        }
    }
}


