<div class="node">

    <div class="full-line"
         (mouseover)="hasMouseOver=true;$event.stopPropagation();"
         (mouseleave)="hasMouseOver=false">

        <span>{{getName()}}</span>
        <span *ngIf="isEditMode()">: <span class="field-type">{{getTypeForUI()}}</span> = </span>
        <span *ngIf="!isEditMode()"> =
            <span *ngIf="model.serverObject != null">{{model.serverObject}}</span>
            <span *ngIf="model.serverObject == null" class="null-value">null</span>
        </span>

        <input #input
               *ngIf="isEditMode()"
               [ngModel]="model.value"
               (click)="$event.stopPropagation();"
               (ngModelChange)="onValueChange($event)"
               type="text" class="node-attr-input-value">

        <div class="button-panel btn-group"
             *ngIf="isEditMode()"
             [class.hidden]="!hasMouseOver">
            <div *ngIf="shouldDisplayDeleteButton()"
                 title="Delete" class="btn btn-default btn-xs btn-group"
                 (click)="deleteEntry();$event.stopPropagation();">
                <i class="fa_my-delete" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>
