<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="false" scanPeriod="100 milliseconds">

    <property name="log_pattern" value="%date{HH:mm:ss.SSS, UTC} [%-5level] %-30.30logger{30} - %msg%n" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>${log_pattern}</Pattern>
        </encoder>
    </appender>

    <!--========== Spring ==========-->
    <logger name="org.springframework" level="WARN" />

    <!--========== Reflections ==========-->
    <logger name="org.reflections.Reflections" level="ERROR" />

    <!-- project FS watching -->
    <!--
    <logger name="com.testerum.common_fsnotifier.native_fs_notifier.NativeFsNotifier                   level="DEBUG" />
    <logger name="com.testerum.common_fsnotifier.dirty_dirs_tracker.DirtyDirsTracker"                  level="DEBUG" />
    <logger name="com.testerum.web_backend.services.project.ProjectFileSystemWatcher"                  level="DEBUG" />
    <logger name="com.testerum.web_backend.filter.project_fswatcher_pause.ProjectFsWatcherPauseFilter" level="DEBUG" />
    -->

    <root>
        <level value="INFO" />
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>
