<table class="forms table table-striped"
       [class.forms-edit]="editMode">
    <colgroup>
        <col span="1">
        <col span="1">
        <col *ngIf="editMode" span="1" style="width: 2em;">
    </colgroup>

    <tr>
        <th>Key</th>
        <th>Value</th>
        <th></th>
    </tr>

    <tr *ngFor="let bodyForm of bodyTypeForms; let last = last">
        <td *ngIf="!bodyForm.isEmpty() || editMode">
            <span *ngIf="!editMode">{{bodyForm.key}}</span>
            <input *ngIf="editMode" (change)="onNewKeyChange($event)" [(ngModel)]="bodyForm.key" type="text" class="form-control full-width">
        </td>
        <td *ngIf="!bodyForm.isEmpty() || editMode">
            <span *ngIf="!editMode">{{bodyForm.value}}</span>
            <input *ngIf="editMode" (change)="onNewValueChange($event)" [(ngModel)]="bodyForm.value" type="text" class="form-control full-width">
        </td>
        <td *ngIf="!bodyForm.isEmpty() && editMode">
            <a href (click)="deleteFormEntry(bodyForm);false;"
               class="delete-form-btn btn btn-danger" *ngIf="editMode" aria-label="Delete">
                <i  class="far fa-trash-alt" aria-hidden="true"></i>
            </a>
        </td>
    </tr>
</table>
