.json-step-container {
    .flip {
        -moz-transform: scale(1, -1);
        -webkit-transform: scale(1, -1);
        -o-transform: scale(1, -1);
        -ms-transform: scale(1, -1);
        transform: scale(1, -1);
    }

    .node-text {
        margin-left: 5px;
    }

    .my-button-panel {
        margin-left: 5px;
    }

    .is-selected-to-be-cut-paste {
        border: 1px black dotted;
        border-radius: 10px;
    }
}
