
.logs-side-toolbar {
    width: 30px;
    background-color: #F2F2F2;
    height: 100%;

    display: flex;
    justify-content: space-between;

    padding: .5em .25em;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    background: linear-gradient(to left, #f6f7f9 0%, #ebedf0 100%);

    .line-filters {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .log-level-container {
        .btn {
            font-weight: 900;
        }
    }
}


