<%_
    /** @type {Map<string, ExecutionStatus>} */
    var statusByTagMap = statusByTagMap;
    /** @type {ExecutionStatus} */
    var ExecutionStatus = ExecutionStatus;
_%>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Tests Results</title>
    <style>

    </style>
</head>

<body>
    <h1>Test results</h1>

    <div class="tag-status-container">
        <% for (const statusByTagMapEntry of statusByTagMap) { %>
            <% var tagStatusClass = null %>
            <% if(statusByTagMapEntry[1] == ExecutionStatus.DISABLED) { tagStatusClass = "disabled"}%>
            <% if(statusByTagMapEntry[1] == ExecutionStatus.SKIPPED) { tagStatusClass = "skipped"}%>
            <% if(statusByTagMapEntry[1] == ExecutionStatus.UNDEFINED) { tagStatusClass = "undefined"}%>
            <% if(statusByTagMapEntry[1] == ExecutionStatus.PASSED) { tagStatusClass = "passed"}%>
            <% if(statusByTagMapEntry[1] == ExecutionStatus.FAILED) { tagStatusClass = "failed"}%>

            <div class="tag-status <%= tagStatusClass%>"><%=statusByTagMapEntry[0]%></div>
        <% } %>
    </div>
</body>

</html>

