<%_
    /** @type {ReportTest} */
    var test = test;
_%>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title><%=test.testName%></title>
</head>

<body>
    <h1><%=test.testName%></h1>

    <h2>Status: <%=ExecutionStatus[test.status]%></h2>

    <h3>Steps</h3>
    <ul>
        <% for (const child of test.children) { %>
        <%_
            var step = "";

            /** @type StepCall */
            const stepCall = child.stepCall;

            /** @type StepDef */
            const stepDef = stepCall.stepDef;

            if (stepDef instanceof ComposedStepDef) {
                step = stepDef.path.fileName;
            } else if (stepDef instanceof BasicStepDef) {
                step = stepDef.id;
            } else if (stepDef instanceof UndefinedStepDef) {
                step = stepDef.id;
            } else {
                step = "[Unknown step]"
            }
        _%>
            <li><%=step%></li>
        <% } %>
    </ul>
</body>

</html>

