<div *ngIf="condensedViewMode && !model.isEmpty()" class="condensed-view-container">
    <span class="condensed-view-label">
        port:
    </span>
    {{model.port}}
</div>

<form *ngIf="!condensedViewMode" class="form-horizontal flex-panel">

    <!-- NAME -->
    <div class="my-line">
        <label class="my-label label-size">Name</label>
        <div class="my-value" *ngIf="!editMode || isSharedResource">
            {{name}}
        </div>
        <div class="my-value" *ngIf="editMode && !isSharedResource">
            <input required
                   #nameNgModel="ngModel" [(ngModel)]="name"
                   type="text" class="form-control" name="name">
            <input-error [model]="nameNgModel"
                         [errorMessages]="{
                                        required: 'A name for this resource is required',
                                        a_resource_with_the_same_name_already_exist: 'A resource with the same name already exists'
                                     }"></input-error>
        </div>
    </div>

    <!-- PORT -->
    <div class="my-line">
        <label class="my-label label-size">Port</label>
        <div class="my-value" *ngIf="!editMode">
            {{model.port || ""}}
        </div>
        <div class="my-value" *ngIf="editMode">
            <input required
                   portValidator
                   #portNgModel="ngModel" [(ngModel)]="model.port"
                   type="text" class="form-control" name="port">

            <input-error [model]="portNgModel"
                         [errorMessages]="{
                                        required: 'A port is required for a mock server',
                                        portValidator: 'This is not a valid port. A port is a value between 0 - 65535.'
                                     }"></input-error>

        </div>
    </div>

</form>
