@import "../../../../../../resources/css/testerum-variables";

.server-not-available-modal {
    .modal-body {
        .main-message {
            text-align: center;
            border: 0;
            background-color: inherit;
            color: inherit;
            font-size: 1.5em;
            line-height: 1.2em;
        }

        .projects {
            margin-top: 2em;

            .projects-title {
                text-align: center;
                font-size: 1.3em;
                font-weight: bold;
                padding: 0.5em 2em;
                background: #d9edf7;
                color: #31708f;
                border: 1px solid #ddd;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
            }
            .project {
                cursor: pointer;
                &:hover {
                    background-color: $hover-color;
                }
                .project-name {
                    text-align: center;
                    font-weight: bold;
                    font-size: 1.1em;

                }
                .project-path {
                    color: #9d9d9d;
                    text-align: center;
                }
            }
            li {
                list-style-type: none;
                padding: 0.5em;
                border: 1px solid #ddd;
                border-top: none;
                &:last-child {
                    border-bottom-left-radius: 4px;
                    border-bottom-right-radius: 4px;
                }
            }
        }
    }

    .modal-footer {

    }
}
