.userProfile-modal {

    .title {
        text-align: center;
        font-size: 1.5em;
        font-weight: bold;
    }

    .not-licensed-panel {
        .license-required-panel {
            margin-bottom: 15px;
        }

        .label-size {
            width: 9em;
        }
    }

    .authentication-panel {
        background-color: #f4f4f4;
    }
}
