<div class="node">

    <div class="full-line step-text-container"
         (mouseover)="hasMouseOver=true;$event.stopPropagation();"
         (mouseleave)="hasMouseOver=false"
         (click)="collapseNode();$event.stopPropagation();">

        <div *ngIf="model.isRootStepCall"
            style="display: flex; flex-direction: column;">

            <div *ngIf="model.children.length == 0" style="width: 15px"></div>
            <i *ngIf="model.children.length > 0"
               style="width: 10px;"
               class="fa arrow-icon"
               [class.fa-caret-right]="!model.jsonTreeNodeState.showChildren"
               [class.fa-caret-down]="model.jsonTreeNodeState.showChildren"
               aria-hidden="true"></i>
            <div *ngIf="model.jsonTreeNodeState.showChildren && model.children.length != 0"
                 class="tree-node-line" style="height: 100%"></div>
        </div>

        <div>
            <step-text [class.error_squiggly]="hasWarnings()"
                [stepDef]="model.stepCall.stepDef"
                       [stepCall]="model.stepCall"
                       [showPhase]="true"
                       [showAsListItem]="true">
            </step-text>

            <!-- WARNING ICON -->
            <i *ngIf="hasOwnWarnings()" class="fa fa-exclamation-triangle error_color" aria-hidden="true"
               [popover]="warningPopTemplate" containerClass="popover-warning" triggers="" #pop="bs-popover"
               (mouseenter)="model.stepCall.getAllWarnings().length > 0 ? pop.show():null"
               (mouseleave)="model.stepCall.getAllWarnings().length > 0 ? pop.hide():null">
            </i>
            <ng-template #warningPopTemplate>
                <i class="fa fa-exclamation-triangle error_color" aria-hidden="true"></i>
                <div *ngFor="let warning of model.stepCall.getAllWarnings()">
                    <div>{{warning.message}}</div>
                </div>
            </ng-template>
        </div>

        <!-- BUTTONS -->
        <div *ngIf="isUndefinedStep() && isEditMode()"
             class="step-button-panel-hide-on-hover btn-group">
            <div *ngIf="!model.jsonTreeNodeState.showChildren"
                 title="Define Step" class="btn btn-default btn-xs btn-group"
                 (click)="editStep(); $event.stopPropagation()">
                <i class="fas fa-pencil-alt" aria-hidden="true"></i>
            </div>
        </div>

        <div *ngIf="isEditMode()" class="step-button-panel btn-group">

            <div title="{{isUndefinedStep() ? 'Define Step': 'Edit Step'}}"
                 class="btn btn-default btn-xs btn-group"
                (click)="editStep(); $event.stopPropagation()">
                <i class="fas fa-pencil-alt" aria-hidden="true"></i>
            </div>

            <div title="Move Step Up"
                 *ngIf="!isFirstStep()"
                 class="btn btn-default btn-xs btn-group"
                 (click)="moveStepUp(); $event.stopPropagation()">
                <i class="fa fa-arrow-up" aria-hidden="true"></i>
            </div>

            <div title="Move Step Down"
                 *ngIf="!isLastStep()"
                 class="btn btn-default btn-xs btn-group"
                 (click)="moveStepDown(); $event.stopPropagation()">
                <i class="fa fa-arrow-down" aria-hidden="true"></i>
            </div>

            <div title="Remove Step"
                 class="btn btn-default btn-xs btn-group"
                 (click)="removeStep(); $event.stopPropagation()">
                <i class="fa fa-trash" aria-hidden="true"></i>
            </div>
        </div>
    </div>

    <json-children [jsonTreeNodeState]="model.jsonTreeNodeState"
                   [modelComponentMapping]="modelComponentMapping"
                   [model]="model"
                   class="full-line">
    </json-children>
</div>


