<div class="node">

    <div class="full-line step-text-container"
         (mouseover)="hasMouseOver=true;$event.stopPropagation();"
         (mouseleave)="hasMouseOver=false"
         (click)="toggleNode();$event.stopPropagation();">

        <div>
            <step-text [class.error_squiggly]="hasWarnings() && !isManualStep()"
                       [stepDef]="model.stepCall.stepDef"
                       [stepCall]="model.stepCall"
                       [showPhase]="true"
                       [showAsListItem]="true"
                       [isManulStep]="isManualStep()">
            </step-text>

            <!-- WARNING ICON -->
            <i *ngIf="hasOwnWarnings() && !isManualStep()" class="fas fa-exclamation-triangle error_color" aria-hidden="true"
               [popover]="warningPopTemplate" containerClass="popover-warning" triggers="" #pop="bs-popover"
               (mouseenter)="model.stepCall.getAllWarnings().length > 0 ? pop.show():null"
               (mouseleave)="model.stepCall.getAllWarnings().length > 0 ? pop.hide():null">
            </i>
            <ng-template #warningPopTemplate>
                <i class="fas fa-exclamation-triangle error_color" aria-hidden="true"></i>
                <div *ngFor="let warning of model.stepCall.getAllWarnings()">
                    <div>{{warning.message}}</div>
                </div>
            </ng-template>
        </div>

        <!-- BUTTONS -->
        <div *ngIf="isUndefinedStep() && isEditMode()"
             class="step-button-panel-hide-on-hover btn-group">
            <div *ngIf="!model.jsonTreeNodeState.showChildren"
                 title="Define Step" class="btn btn-default btn-xs btn-group"
                 (click)="editStep(); $event.stopPropagation()">
                <i class="fas fa-pencil-alt" aria-hidden="true"></i>
            </div>
        </div>

        <div *ngIf="isEditMode()" class="step-button-panel btn-group">

            <div *ngIf="isUndefinedStep()"
                 title="{{isUndefinedStep() ? 'Define Step': 'Edit Step'}}"
                 class="btn btn-default btn-xs btn-group"
                (click)="editStep(); $event.stopPropagation()">
                <i class="fa_my-edit" aria-hidden="true"></i>
            </div>

            <div title="Move Step Up"
                 *ngIf="!isFirstStep()"
                 class="btn btn-default btn-xs btn-group"
                 (click)="moveStepUp(); $event.stopPropagation()">
                <i class="fas fa-arrow-up" aria-hidden="true"></i>
            </div>

            <div title="Move Step Down"
                 *ngIf="!isLastStep()"
                 class="btn btn-default btn-xs btn-group"
                 (click)="moveStepDown(); $event.stopPropagation()">
                <i class="fas fa-arrow-down" aria-hidden="true"></i>
            </div>

            <div title="Cut Feature" class="btn btn-default btn-xs btn-group"
                 (click)="onCutStep(); $event.stopPropagation()">
                <i class="fa_my-cut" aria-hidden="true"></i>
            </div>

            <div title="Copy Feature" class="btn btn-default btn-xs btn-group"
                 (click)="onCopyStep(); $event.stopPropagation()">
                <i class="fa_my-copy" aria-hidden="true"></i>
            </div>

            <div *ngIf="canPaste()" title="Paste Feature" class="btn btn-default btn-xs btn-group"
                 (click)="onPasteStep(); $event.stopPropagation()">
                <i class="fa_my-paste" aria-hidden="true"></i>
            </div>
            <div title="Remove Step"
                 class="btn btn-default btn-xs btn-group"
                 (click)="removeStep(); $event.stopPropagation()">
                <i class="fa_my-delete" aria-hidden="true"></i>
            </div>
        </div>
    </div>

    <json-children [jsonTreeNodeState]="model.jsonTreeNodeState"
                   [modelComponentMapping]="modelComponentMapping"
                   [model]="model"
                   class="full-line">
    </json-children>
</div>


