.step_call_container_component {
    .selected_for_copy_or_cut {
        border: 1px black dotted;
        border-radius: 10px;
    }

    .step-description-info-icon {
        display: inline-block;
        margin-left: 5px;
    }

    .warning-icon {
        margin-left: 5px;
    }
}
