<div class="node">

    <div class="full-line step-text-container"
         (mouseover)="hasMouseOver=true;$event.stopPropagation();"
         (mouseleave)="hasMouseOver=false"
         (dblclick)="collapseNode()">

        <div *ngIf="model.isRootStepCall"
            style="display: flex; flex-direction: column;"
            (click)="collapseNode();$event.stopPropagation();">

            <i *ngIf="model.children.length > 0"
               style="width: 10px;"
               class="fa arrow-icon"
               [class.fa-caret-right]="!model.jsonTreeNodeState.showChildren"
               [class.fa-caret-down]="model.jsonTreeNodeState.showChildren"
               aria-hidden="true"></i>
            <div *ngIf="model.jsonTreeNodeState.showChildren && model.children.length != 0"
                 class="tree-node-line" style="height: 100%"></div>
        </div>


        <step-text [stepDef]="model.stepCall.stepDef"
                   [stepCall]="model.stepCall"
                   [showPhase]="true"
                   [showAsListItem]="true"></step-text>

        <!-- BUTTONS -->
        <div *ngIf="isEditMode()" class="step-button-panel btn-group">

            <div *ngIf="!model.jsonTreeNodeState.showChildren"
                title="Edit Test" class="btn btn-default btn-xs btn-group"
                (click)="toggleParameters(); $event.stopPropagation()">
                <span class="glyphicon glyphicon-pencil"></span>
            </div>

            <div title="Move Test Up" *ngIf="!isFirstStep" class="btn btn-default btn-xs btn-group"
                 (click)="moveStepUp(); $event.stopPropagation()">
                <span class="glyphicon glyphicon-arrow-up"></span>
            </div>

            <div title="Move Test Down" *ngIf="!isLastStep" class="btn btn-default btn-xs btn-group"
                 (click)="moveStepDown(); $event.stopPropagation()">
                <span class="glyphicon glyphicon-arrow-down"></span>
            </div>

            <div title="Remove Step" class="btn btn-default btn-xs btn-group"
                 (click)="removeStep(); $event.stopPropagation()">
                <span class="glyphicon glyphicon-trash"></span>
            </div>
        </div>
    </div>

    <json-children [jsonTreeNodeState]="jsonTreeNodeState"
                   [modelComponentMapping]="modelComponentMapping"
                   [model]="model"
                   class="full-line">
    </json-children>
</div>
