.node-error {
    text-decoration: underline;
    text-decoration-color: red;
}

.error-icon {
    background-image: url(../../../../../../media/error.png);
    background-size: 15px 15px;
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
}

.btn-xs {
    width: 36px !important;
}
