@import "../../../../../../resources/css/testerum-variables.scss";

.http-request {
    height: 100%;

    .form {
        display: flex;
        flex-flow: column;
        height: 100%;
    }
    .label-size {
        width: 5em;
    }

    [role] {
        cursor: pointer;
    }

    .active {
        cursor: default;
    }

    .active > a {
        cursor: default;
    }

    .http-method-view {
        font-weight: bold;
        margin-left: 15px;
        color: $http-method-color;
    }

    .http-url-view {
        margin-left: 1em;
    }

    .http-parm-button-view {
        margin-left: 20px;
    }

    .exe-http-req-btn {
        padding: 2px 12px;
    }

    .exe-http-req-btn-edit {
        padding: 4px 12px;
    }

    .params-btn {
        padding: 4px 12px;
    }

    .follow-redirects {
        font-weight: normal;
        margin-top: 1em;
        margin-bottom: 1.25em;
    }

    .http-response-body {
        overflow: auto;
    }
}
