.label-size {
    width: 5em;
}

[role] {
    cursor: pointer;
}
.active {
    cursor: default;
}
.active > a {
    cursor: default;
}

.http-method-view {
    font-weight: bold;
    margin-left: 15px;
}

.http-url-view {
    margin-left: 40px;
}

.http-parm-button-view {
    margin-left: 50px;
}

