.run-config-tests-to-execute {
    .my-line {
        padding: 0.2em 0;

        .label-size {
            width: 8em !important;
            font-weight: normal;
            text-align: left;
        }
        .my-value {
            margin-left: 0;
        }

        .tags-to-exclude-value {
            display: flex;
            align-items: center;

            .tags-to-exclude-info-icon {
                margin-left: 5px;
            }
        }
    }
    .test-tree-container {
        display: block;
    }
    //
    //.ui-autocomplete.ui-autocomplete-multiple {
    //    .ui-autocomplete-multiple-container {
    //        .ui-autocomplete-input-token {
    //            padding: 2px 0;
    //        }
    //    }
    //}
}
