<div class="dynamic-input">

    <div *ngIf="inputType == InputTypeEnum.TEXT">
        <input [(ngModel)]="value"
               (ngModelChange)="onValueChange($event)"
               type="text" class="form-control full-width">
    </div>

    <div *ngIf="inputType == InputTypeEnum.POSITIVE_INTEGER">
        <input [(ngModel)]="value"
               (ngModelChange)="onValueChange($event)"
               pKeyFilter="pint"
               type="text" class="form-control full-width">
    </div>
    <div *ngIf="inputType == InputTypeEnum.NUMBER">
        <input [(ngModel)]="value"
               (ngModelChange)="onValueChange($event)"
               pKeyFilter="num"
               type="text" class="form-control full-width">
    </div>

    <div *ngIf="inputType == InputTypeEnum.FILESYSTEM_DIRECTORY">
        <span class="full-width input-group">
            <file-dir-chooser [(ngModel)]="value"
                              #repositoryPath="ngModel"></file-dir-chooser>
        </span>
    </div>

</div>
