<div class="node">

    <div class="full-line"
         [class.tree-leaf-selected]="isSelected && model.allowDirSelection"
         (mouseover)="hasMouseOver=true;$event.stopPropagation();"
         (mouseleave)="hasMouseOver=false"
         (click)="selectNode()"
         (dblclick)="collapseNode()">

        <i aria-hidden="true" class="tree-node-icon"
           [class.fa_my-tree-folder-closed-colored]="!isOpenedNode()"
           [class.fa_my-tree-folder-opened-colored]="isOpenedNode()"></i>

        {{model.name}}

        <!-- BUTTONS RENDERING -->
        <div class="button-panel btn-group"
             [class.hidden]="!hasMouseOver">

            <div title="Create Folder" class="btn btn-default btn-xs btn-group"
                 (click)="showCreateDirectoryModal(); $event.stopPropagation()">
                <i class="fa_my-folder-opened" aria-hidden="true"></i>
            </div>

            <div title="Edit Folder" class="btn btn-default btn-xs btn-group"
                 *ngIf="!model.isRootPackage"
                 (click)="showEditDirectoryNameModal(); $event.stopPropagation()">
                <i class="fa_my-edit" aria-hidden="true"></i>
            </div>
        </div>
    </div>

    <json-children [jsonTreeNodeState]="jsonTreeNodeState"
                   [modelComponentMapping]="modelComponentMapping"
                   [model]="model"
                   class="full-line">
    </json-children>
</div>
