<div class="node">

    <div class="full-line"
         [class.tree-leaf-selected]="isSelected && model.allowDirSelection"
         (mouseover)="hasMouseOver=true;$event.stopPropagation();"
         (mouseleave)="hasMouseOver=false"
         (click)="selectNode()"
         (dblclick)="collapseNode()">

        <i aria-hidden="true"
           [class.fa_my-tree-folder-closed]="!isOpenedNode()"
           [class.fa_my-tree-folder-opened]="isOpenedNode()"></i>

        {{model.name}}

        <!-- BUTTONS RENDERING -->
        <div class="button-panel btn-group"
             [class.hidden]="!hasMouseOver">

            <div title="Create Folder" class="btn btn-default btn-xs btn-group"
                 (click)="showCreateDirectoryModal(); $event.stopPropagation()">
                <i class="fa fa-folder-open" aria-hidden="true"></i>
            </div>

            <div title="Edit Folder" class="btn btn-default btn-xs btn-group"
                 *ngIf="!model.isRootPackage"
                 (click)="showEditDirectoryNameModal(); $event.stopPropagation()">
                <i class="fas fa-pencil-alt" aria-hidden="true"></i>
            </div>

            <div title="Delete Folder" class="btn btn-default btn-xs btn-group"
                 *ngIf="!model.isRootPackage"
                 (click)="deleteDirectory(); $event.stopPropagation()">
                <!--TODO Ionut: implement click function DELETE_DIRECTORY or remove-->
                <i class="fa fa-trash" aria-hidden="true"></i>
            </div>
        </div>
    </div>

    <json-children [jsonTreeNodeState]="jsonTreeNodeState"
                   [modelComponentMapping]="modelComponentMapping"
                   [model]="model"
                   class="full-line">
    </json-children>
</div>
