<ng-container *ngIf="patternParts.length > 0 && patternHasParameters()">
    <i class="param-icon"></i>

    <div class="step-parameters-container">
        <table class="step-parameters-table table table-hover">
            <ng-container *ngFor="let patternPart of patternParts; let i = index">
                <tr *ngIf="isParamPattern(patternPart)">
                    <td>
                        <strong>{{asParam(patternPart).name}}</strong>
                    </td>
                    <td>
                        <ng-container>
                            {{getParamUiName(asParam(patternPart).uiType)}}
                        </ng-container>
                    </td>
                    <td>
                        <div *ngIf="isEnumType(asParam(patternPart).serverType)" style="display: flex">
                            [&nbsp;
                            <div *ngIf="!isEditMode" class="inline">
                                {{asParam(patternPart).enumValues || ""}}
                            </div>
                            &nbsp;]
                        </div>
                    </td>
                    <td class="param-icon-column" *ngIf="asParam(patternPart).description">
                        <div class="param-info-icon"
                             #errorMessage="bs-popover" [popover]="asParam(patternPart).description" placement="right" triggers="" containerClass="popover-error"
                             (mouseenter)="asParam(patternPart).description ? errorMessage.show(): null"
                             (mouseleave)="errorMessage.hide()"
                        ></div>
                    </td>
                </tr>
            </ng-container>
        </table>
    </div>
</ng-container>
