<ng-container *ngIf="patternParts.length > 0 && patternHasParameters()">
    <i class="param-icon"></i>

    <div class="step-parameters-container">
        <table class="step-parameters-table table table-hover">
            <ng-container *ngFor="let patternPart of patternParts; let i = index">
                <tr *ngIf="isParamPattern(patternPart)">
                    <td>
                        <strong>{{patternPart.name}}</strong>
                    </td>
                    <td>
                        <ng-container>
                            {{patternPart.type}}
                        </ng-container>
                    </td>
                    <td>
                        <div *ngIf="isEnumType(patternPart.type)">
                            [
                            <div class="inline">
                                {{patternPart.enumValues || ""}}
                            </div>
                            ]
                        </div>
                    </td>
                    <td class="param-icon-column" *ngIf="patternPart.description">
                        <div class="param-info-icon"
                             #errorMessage="bs-popover" [popover]="patternPart.description" placement="right" triggers="" containerClass="popover-error"
                             (mouseenter)="patternPart.description ? errorMessage.show(): null"
                             (mouseleave)="errorMessage.hide()"
                        ></div>
                    </td>
                </tr>
            </ng-container>
        </table>
    </div>
</ng-container>
