.inline {
    display: inline-block;
}

.step-parameters-table {
    display: inline-block;
    width: auto;
    background-color: whitesmoke;
    margin-bottom: 0;
}

.param-icon {
    width: 24px;
    height: 24px;
    line-height: 24px;

    background-image: url(../../../../../media/32px-tree.png);
    background-repeat: no-repeat;

    display: inline-block;
    text-decoration: none;
    margin: 0;
    padding: 0;
    vertical-align: top;
    text-align: center;
    background-position: -68px -4px;
}

.step-parameters-container {
    display: inline-block;
    padding-top: 7px;
}

.table {
    padding: 5px 0;
}
.table tbody tr {
    border-spacing: 2px;
}

.table tbody tr td {
    border: 0;
    padding: 0 7px;
    vertical-align: middle;
}

.param-info-icon {
    width: 24px;
    height: 24px;
    line-height: 24px;

    background-image: url(../../../../../media/info-param.png);
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.param-icon-column {
    padding: 6px;
    cursor: pointer;
}
