.json-verify-container .tree-node {
    line-height: 12px !important;
    font-size: 12px;
}
.json-verify-container .toggle-icon {
    margin: 0 !important;
}
.json-verify-container .horizontal-line {
    width: 5px;
}
