.smaller-input {
    height: 21px;
    padding: 0 12px;
}

.panel-footer-button {
    margin-top: 10px;
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

.panel-footer-button .btn {
    margin-left: 5px;
}

.page-body {
    padding: 0 10px;
}

.glyphicon {
    position: relative;
    top: 2px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.hidden {
    display: none;
}

.flex-panel {
    display: flex;
    flex-flow: column;
    min-height: 100%;
}

.full-size-flex-element {
    flex: 1 1 auto;
}

.gray {
    color: darkgray;
}

.clickable {
    cursor: pointer;
}

h1 {
    border-bottom: 1px solid #ccc;
    margin: 0 35px;
    padding: 0 50px;

    font-family: "Times New Roman", Times, serif;
    font-style: normal;
    font-weight: 700;
}

h1 .path {
    color: darkgrey;
}

.main-container {
    height: calc(100% - 53px);
}
