.p-autocomplete {
    display: flex;
    height: 25px;
    align-items: center;

    .p-autocomplete-multiple-container {
        height: 25px;
        padding: 0 0.4em !important;
        font-size: 12px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;

        .p-autocomplete-token {
            height: 90%;
            border-radius: 4px;
        }

        .p-autocomplete-input-token {
            height: 90%;
        }
    }

    .p-autocomplete-dropdown {
        height: 25px;
    }
}

.autocomplete-full-width input {
    width: 100%;
}

