@import "testerum-variables.scss";
@import "testerum-theme.scss";

* {
  margin:0;
  padding:0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-size: 14px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
}

@font-face {
    font-family: "Hack Regular Nerd Font Complete";
    src: url("../fonts/hack-nerd-font/Hack-Regular-Nerd-Font-Complete.ttf");
}

.logs-split-area.horizontal-scroll {
    overflow: auto !important;
}

.logs-split-area.horizontal-scroll .log-line {
    white-space: pre;
}

.logs-split-area.horizontal-wrap {
    overflow: inherit;
}
.logs-split-area.horizontal-wrap .log-line{
    white-space: pre-wrap;
}

.nav-tabs {
    border-bottom: none;
}


.error_squiggly {
    display: inline-block;
    position: relative;
}
.error_squiggly:before {
    content: "~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~";
    font: bold 0.6em serif;
    letter-spacing: -0.1em;
    color: $error-color;
    position: absolute;
    width: 100%;
    bottom: -0.4em;
    left: 0;
    overflow: hidden;
}


