$min-height: 100px;
$max-height: 250px;

.markdown-editor-dynamic-size {
    .CodeMirror {
        min-height: $min-height;
    }
    .CodeMirror-scroll {
        min-height: $min-height;
        max-height: $max-height;
    }
    .CodeMirror-fullscreen {
        .CodeMirror-scroll {
            min-height: inherit;
            max-height: inherit;
        }
    }
}

markdown-editor {
    line-height: 15px;
}

markdown-editor .editor-toolbar:before {
    margin:0
}
markdown-editor .editor-toolbar:after {
    margin:0
}

