$fa-font-path: '../../../node_modules/@fortawesome/fontawesome-free/webfonts';
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/regular';
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/solid';
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/brands';

@import "testerum-variables.scss";
@import "testerum-theme.scss";

@import "nerd-fonts-generated-2.0.0.min";

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1;
}

@font-face {
    font-family: "Hack Regular Nerd Font Complete";
    src: url("../fonts/hack-nerd-font/Hack-Regular-Nerd-Font-Complete-Mono-2.0.0.ttf");
}

//========== ICONS =========================
//declared in this file because I couldn't make them work in some other place
.fa_my-automated-test {
    @extend .fas;
    @extend .fa-bolt;
    color: $automated-test-color
}
.fa_my-automated-test_white {
    @extend .fa_my-automated-test;
    color: white
}

.fa_my-manual-test {
    @extend .fas;
    @extend .fa-hand-paper;
    color: $manual-test-color;
}
.fa_my-manual-test_white {
    @extend .fa_my-manual-test;
    color: white;
}

.fa_my-disabled-test {
    @extend .fas;
    @extend .fa-ban;
    color: $error-color;
}

.fa_my-expand {
    @extend .nf;
    @extend .nf-fa-expand;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.fa_my-expand span {
    line-height: 0.5;
}
//======= Only CRISTI know why this are here ===============
.logs-split-area.horizontal-scroll {
    overflow: auto !important;
}

.logs-split-area.horizontal-scroll .log-line {
    white-space: pre;
}

.logs-split-area.horizontal-wrap {
    overflow: inherit;
}

.logs-split-area.horizontal-wrap .log-line {
    white-space: pre-wrap;
}

.nav-tabs {
    border-bottom: none;
}



