
.p-component {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.p-dialog-mask {
    z-index: 1;
}

.p-tooltip {
    z-index: 10000 !important;
}

//P-TOOLBAR
.p-toolbar {
    padding: .25em .5em !important;
}

//P-MESSAGES
.p-messages.p-messages-error {
    color: $alert-text-color !important;
    background-color: $alert-background-color !important;

    .p-messages-icon {
        color: $alert-color !important;
    }

    .p-messages-close {
        color: $alert-text-color !important;
    }
}
