.smaller-input {
    height: 21px;
    padding: 0 12px;
}

.panel-footer-button {
    margin-top: 10px;
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;

    .btn {
        margin-left: 5px;
    }
}

.panel-footer-sticky-buttons {
    margin-top: 10px;
    text-align: right;

    position: sticky;
    bottom: 0;
    width: 220px;
    margin-left: calc(100% - 220px);

    .button-wrapper {
        display: inline-block;
        padding: 7px 5px 7px 0;

        .btn {
            margin-left: 5px;
        }
    }
}

.page-body {
    padding: 0 10px;
}

.glyphicon {
    position: relative;
    top: 2px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.hidden {
    display: none;
}

.flex-panel {
    display: flex;
    flex-flow: column;
    min-height: 100%;
}

.full-size-flex-element {
    flex: 1 1 auto;
}

.gray {
    color: darkgray;
}

.clickable {
    cursor: pointer;
}

h1 {
    border-bottom: 1px solid #ccc;
    margin: 0 35px;

    font-family: "Times New Roman", Times, serif;
    font-style: normal;
    font-weight: 700;
    white-space: pre;
}

h1 .path {
    color: darkgrey;
    font-size: 0.7em;
}

.main-container {
    height: calc(100% - 36px);
}

