$fa-font-path : '../../../node_modules/font-awesome/fonts';
@import '../../../node_modules/font-awesome/scss/font-awesome';

@import "testerum-variables.scss";
@import "testerum-theme.scss";


* {
  margin:0;
  padding:0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-size: 14px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
}

@font-face {
    font-family: "Hack Regular Nerd Font Complete";
    src: url("../fonts/hack-nerd-font/Hack-Regular-Nerd-Font-Complete.ttf");
}

//========== ICONS =========================
//declared in this file because I couldn't make them work in some other place
.fa_my-automated-test{@extend .fa-bolt;}
.fa_my-manual-test {@extend .fa-hand-paper-o;}

//======= Only CRISTI know why this are here ===============
.logs-split-area.horizontal-scroll {
    overflow: auto !important;
}

.logs-split-area.horizontal-scroll .log-line {
    white-space: pre;
}

.logs-split-area.horizontal-wrap {
    overflow: inherit;
}
.logs-split-area.horizontal-wrap .log-line{
    white-space: pre-wrap;
}

.nav-tabs {
    border-bottom: none;
}



