
.ui-dialog-mask {
    z-index: 1;
}

.ui-tooltip {
    z-index: 10000 !important;
}

//P-TABLE
body .ui-table .ui-table-tbody > tr > td {
    padding: .25em .5em;
}

//P-TOOLBAR
.ui-toolbar {
    padding: .25em .5em !important;
}

//P-MESSAGES
.ui-messages.ui-messages-error {
    color: $alert-text-color !important;
    background-color: $alert-background-color !important;

    .ui-messages-icon {
        color: $alert-color !important;
    }

    .ui-messages-close {
        color: $alert-text-color !important;
    }
}
