.tree-node-icon {
    width: 18px;

    background-repeat: no-repeat;

    display: inline-block;
    text-decoration: none;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    text-align: left;
}

.tree-leaf-selected {
    background-color: #cacaca;
    border-radius: 8px;
    padding: 0 10px;
}

.unused-node {
    color: darkgray;
}

.node-text {
    display: inline-block;
    white-space: normal;
}

.node {
    display: flex;
    flex-wrap: wrap;
}

.full-line {
    width: 100%;
    white-space: nowrap;
    display: flex;
}


