.license-alert-modal {

    .modal-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        .title {
            font-size: 2em;
            font-weight: bold;
            margin-top: 1em;
            margin-bottom: 0.3em;
        }

        .description {
            height: 7em;
            display: flex;
            align-items: center;
            margin: 0 1.3em;
            font-size: 1.5em;

            .license-details {
                text-align: center;
                display: inline-block;

                ul {
                    margin-left: 3em;
                    font-size: .9em;
                    line-height: 1.2em;
                    margin-top: .5em;
                }
            }
        }

        .info-text {
            margin-top: 3em;
            font-size: .9em;
            text-align: left;
        }
    }

    .modal-footer {
        display: grid;
        grid-template-areas:
            'footer-left-side footer-right-side';

        .footer-left-side {
            grid-area: footer-left-side;
            justify-self: start;
            align-self: center;
        }

        .footer-right-side {
            grid-area: footer-right-side;
        }
    }


}
