.license-alert-modal {

    .modal-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        .title {
            font-size: 2em;
            font-weight: bold;
            margin-top: 1em;
            margin-bottom: 0.3em;
        }

        .description {
            font-size: 1.5em;
            margin-bottom: 2em;
        }

        .resume-evaluation-container {
            .resume-evaluation-text {
                font-size: 1.2em;
                margin-bottom: 0.5em;
            }
            .resume-evaluation-countdown {
                font-size: 2em;
                font-weight: bold;
            }
        }

        .info-text {
            margin-top: 3em;
            font-size: .9em;
            text-align: left;
        }
    }

    .modal-footer {
        display: grid;
        grid-template-areas:
            'footer-left-side footer-right-side';

        .footer-left-side {
            grid-area: footer-left-side;
            justify-self: start;
            align-self: center;
        }

        .footer-right-side {
            grid-area: footer-right-side;
        }
    }


}
