.step-text-container {
    display: flex;
    flex-direction: row;
}
.step-text-container:hover .step-button-panel {
    display: inline-block;
}

.step-button-panel {
    margin-left: 5px;
    display: none;
    vertical-align: top;
    left: -60px;
}

.arrow-icon {
    vertical-align: bottom;
    margin-top: 5px;
    margin-right: 5px;
}

