<div class="tag-overview">

    <div class="header">
        <div class="pie">
            <report-tag-pie [statusByTagMap]="statusByTagMap"></report-tag-pie>
        </div>

        <div class="title">
            <report-title></report-title>
        </div>
    </div>

    <div class="tag-status-container">
        <ng-container *ngFor="let statusByTagMapEntry of statusByTagMap | keyvalue">

            <div class="tag-status"
                 [class.disabled]="statusByTagMapEntry.value == ExecutionStatus.DISABLED"
                 [class.skipped]="statusByTagMapEntry.value == ExecutionStatus.SKIPPED"
                 [class.undefined]="statusByTagMapEntry.value == ExecutionStatus.UNDEFINED"
                 [class.passed]="statusByTagMapEntry.value == ExecutionStatus.PASSED"
                 [class.failed]="statusByTagMapEntry.value == ExecutionStatus.FAILED"
                 (click)="onTagClick(statusByTagMapEntry.key)">
                {{statusByTagMapEntry.key}}
            </div>

        </ng-container>
    </div>
</div>
