@import "../../assets/css/testerum-pretty-variables";

.tag-overview {
    margin: 20px;

    .header {
        margin: auto;

        .pie {
            float: left;
        }

        .title {
            width: 50%;
            margin: auto;
        }

        .links {
            float: right;
            cursor: pointer;
        }
    }

    .tag-status-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 40px;

        .no-tags-found {
            font-size: 2em;
            font-weight: bold;
            color: #3c3b3b
        }

        .tag-status {
            width: 10em;
            height: 5em;
            margin: 20px;
            display: flex;
            justify-content: center;
            border-radius: 0.5em;
            align-items: center;
            font-weight: bold;
            color: white;
            cursor: pointer;

            -webkit-box-shadow: 5px 6px 10px 0 #777;
            -moz-box-shadow: 5px 6px 10px 0 #777;
            box-shadow: 5px 6px 10px 0 #777;
            &:active {
                -moz-box-shadow:    inset 0 0 10px #000000;
                -webkit-box-shadow: inset 0 0 10px #000000;
                box-shadow:         inset 0 0 10px #000000;
            }
        }

        .disabled {
            background-color: $disabled-color;
        }
        .disabled:hover {
            background-color: lighten($disabled-color, 10%);
        }

        .skipped {
            background-color: $skipped-color;
        }
        .skipped:hover {
            background-color: lighten($skipped-color, 10%);
        }

        .undefined {
            background-color: $undefined-color;
        }
        .undefined:hover {
            background-color: lighten($undefined-color, 10%);
        }

        .passed {
            background-color: $passed-color;
        }
        .passed:hover {
            background-color: lighten($passed-color, 10%);
        }

        .failed {
            background-color: $failed-color;
        }
        .failed:hover {
            background-color: lighten($failed-color, 10%);
        }
    }

}
