@import "../../assets/css/testerum-pretty-variables";

.tag-overview {
    margin: 20px;
    
    .header {
        margin: auto;

        .pie {
            float: left;
        }

        .title {
            width: 50%;
            margin: auto;
        }
    }

    .tag-status-container {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .tag-status {
            width: 10em;
            height: 5em;
            margin: 20px;
            display: flex;
            justify-content: center;
            border-radius: 1.5em;
            align-items: center;
            font-weight: bold;
            color: white;
            cursor: pointer;

            -webkit-box-shadow: -20px 25px 40px -4px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: -20px 25px 40px -4px rgba(0, 0, 0, 0.75);
            box-shadow: -20px 25px 40px -4px rgba(0, 0, 0, 0.75);
        }

        .disabled {
            background-color: $disabled-color;
        }
        .skipped {
            background-color: $skipped-color;
        }
        .undefined {
            background-color: $undefined-color;
        }
        .passed {
            background-color: $passed-color;
        }
        .failed {
            background-color: $failed-color;
        }
    }

}
