<form #stepForm="ngForm" class="form-horizontal">

    <!-- STEP -->
    <div class="my-line" style="align-items: flex-start">
        <span *ngIf="!isEditMode" class="step-text-phase">
            {{StepPhaseEnum[model.phase] | titlecase}} &nbsp;
        </span>

        <!-- STEP PHASE -->
        <span *ngIf="isEditMode">
            <select class="form-control"
                    #testPhase="ngModel" [(ngModel)]="model.phase" name="testPhase"
                    required>
                <option *ngFor="let enumName of getPhaseEnumValues()" [value]="enumName">
                    {{StepPhaseEnum[enumName]}}
                </option>
            </select>
            <input-error [model]="testPhase"
                         [width]="85"
                         [errorMessages]="{
                    required: 'Phase is required'
             }"></input-error>
        </span>

        <!-- STEP PATTERN -->
        <span class="full-width">
            <div *ngIf="!isEditMode">
                {{pattern || ""}}
            </div>

            <span *ngIf="isEditMode">
                <input required
                       #stepPattern="ngModel" [(ngModel)]="pattern"
                       (ngModelChange)="onPatternChanged()"
                       type="text" class="form-control full-width" name="stepPattern"
                       placeholder="Step pattern">
                <input-error [model]="stepPattern"
                             [errorMessages]="{
                                required: 'A step definition is required',
                                step_pattern_already_exists: 'This step definition already exists'
                         }"></input-error>
            </span>

            <composed-step-parameters [patternParts]="model.stepPattern.patternParts"
                                      [isEditMode]="isEditMode"></composed-step-parameters>
        </span>
    </div>

    <!-- PATH -->
    <div class="my-line" [class.hidden]="!allowPathEdit && !model.path">
        <label class="my-label label-size">Path</label>
        <span class="my-value" *ngIf="!allowPathEdit">
            {{model.path?.toString() || ""}}
        </span>
        <div class="my-value input-group"
             [class.hidden]="!allowPathEdit">
            <div>
            <input [ngModel]="model.path?.toString()"
                   #pathInput="ngModel"
                   readonly
                   type="text"
                   class="path-input form-control"
                   name="pathInput">
            <span class="input-group-btn">
                <button (click)="onSelectStepPath()"
                        class="btn btn-default btn-input"
                        type="button">
                    Select Path
                </button>
            </span>
            </div>
            <input-error [model]="pathInput"
                         [width]="350"
                         [errorMessages]="{
                                required: 'A path is required'
                         }">
            </input-error>
        </div>
    </div>

    <!-- TAGS -->
    <div class="my-line" *ngIf="!isEditMode && model.tags.length > 0 ">
        <label class="my-label label-size">Tags</label>
        <div class="my-value" *ngIf="!isEditMode">
            <ng-container *ngFor="let tag of model.tags">
                <span class="label label-primary">{{tag}}</span>
            </ng-container>
        </div>
    </div>
    <div class="my-line" *ngIf="isEditMode">
        <label class="my-label label-size">Tags</label>
        <div class="my-value my-default-line-height">
            <p-autoComplete #tagsElement
                            [(ngModel)]="model.tags"
                            [suggestions]="tagsToShow"
                            (completeMethod)="onSearchTag($event)"
                            (onSelect)="onTagSelect($event)"
                            (keypress)="onTagsKeyUp($event);"
                            [delay]="0"
                            [multiple]="true"
                            [dropdown]="true"
                            styleClass="tags-input"
                            name="tags"></p-autoComplete>
        </div>
    </div>

    <!-- DESCRIPTION -->
    <div class="my-line" [hidden]="model.description || isEditMode">
        <label class="my-label label-size">Description</label>
        <div class="my-value my-default-line-height">
            <markdown-editor #descriptionMarkdownEditor
                             [options]="markdownEditorOptions"
                             class="markdown-editor-dynamic-size"></markdown-editor>
        </div>
    </div>

    <p-messages *ngIf="warnings.length > 0" [(value)]="warnings" styleClass="error-message"></p-messages>

    <!-- SUB-STEPS-->
    <div dnd-droppable [allowDrop]="allowDrop()" (onDropSuccess)="onTreeNodeDrop($event)">
        <div>
            <h4 class="inline"><strong>Sub Steps:</strong></h4>

            <!-- BUTTONS -->
            <div class="step-action-panel inline btn-group">
                <div title="Add Step" class="btn btn-default btn-xs btn-group"
                     *ngIf="isEditMode"
                     (click)="addStep(); $event.stopPropagation()">
                    <i class="fa_my-plus" aria-hidden="true"></i>
                </div>
            </div>

            <div *ngIf="isEditMode && canPasteStep()" title="Paste Step" class="btn btn-default btn-xs btn-group"
                 (click)="onPasteStep(); $event.stopPropagation()">
                <i class="fa_my-paste" aria-hidden="true"></i>
            </div>
        </div>
    </div>

    <step-call-tree [stepCalls]="model.stepCalls" [isEditMode]="isEditMode" (change)="onStepCallTreeChange()"></step-call-tree>
</form>
