<form #stepForm="ngForm" class="form-horizontal">

    <!-- STEP -->
    <div class="my-line" style="align-items: flex-start">
        <span *ngIf="!isEditMode" class="step-text-phase">
            {{StepPhaseEnum[model.phase] | titlecase}} &nbsp;
        </span>

        <!-- STEP PHASE -->
        <span *ngIf="isEditMode">
            <select class="form-control"
                    #testPhase="ngModel" [(ngModel)]="model.phase" name="testPhase"
                    required>
                <option *ngFor="let enumName of getPhaseEnumValues()" [value]="enumName">
                    {{StepPhaseEnum[enumName]}}
                </option>
            </select>
            <div *ngIf="testPhase.errors && (testPhase.dirty || testPhase.touched)"
                 class="alert alert-danger">
                <div [hidden]="!testPhase.errors.required">
                    Phase is required
                </div>
            </div>
        </span>

        <!-- STEP PATTERN -->
        <span class="full-width">
            <div *ngIf="!isEditMode">
                {{pattern || ""}}
            </div>

            <span *ngIf="isEditMode">
                <input id="stepPattern" required
                       #stepPattern="ngModel" [(ngModel)]="pattern"
                       (ngModelChange)="onPatternChanged()"
                       type="text" class="form-control full-width" name="stepPattern"
                       placeholder="Step pattern">
                <input-error [model]="stepPattern"
                             [errorMessages]="{
                                required: 'A step definition is required',
                                step_pattern_already_exists: 'This step definition already exists'
                         }"></input-error>
            </span>

            <composed-step-parameters [patternParts]="model.stepPattern.patternParts"
                                      [isEditMode]="isEditMode"></composed-step-parameters>
        </span>
    </div>

    <!-- PATH -->
    <div class="my-line">
        <label class="my-label label-size" for="pathInput">Path</label>
        <span class="my-value" *ngIf="hasPathDefined">
            {{model.path?.toString() || ""}}
        </span>
        <div class="my-value input-group" *ngIf="!hasPathDefined">
            <div>
            <input [ngModel]="model.path?.toString()"
                   #pathInput="ngModel"
                   readonly required
                   type="text"
                   class="path-input form-control"
                   id="pathInput" name="pathInput">
            <span class="input-group-btn">
                <button (click)="onSelectStepPath()"
                        class="btn btn-default btn-input"
                        type="button">
                    Select Path
                </button>
            </span>
            </div>
            <input-error [model]="pathInput"
                         [errorMessages]="{
                                required: 'A path is required'
                         }">
            </input-error>
        </div>
    </div>

    <!-- TAGS -->
    <div class="my-line" *ngIf="!isEditMode && model.tags.length > 0 ">
        <label class="my-label label-size" for="tags">Tags</label>
        <div class="my-value" *ngIf="!isEditMode">
            <ng-container *ngFor="let tag of model.tags">
                <span class="label label-primary">{{tag}}</span>
            </ng-container>
        </div>
    </div>
    <div class="my-line" *ngIf="isEditMode">
        <label class="my-label label-size" for="tags">Tags</label>
        <div class="my-value">
            <p-autoComplete #tagsElement
                            [(ngModel)]="model.tags"
                            [suggestions]="tagsToShow"
                            (completeMethod)="onSearchTag($event)"
                            (onSelect)="onTagSelect($event)"
                            (keypress)="onTagsKeyUp($event);"
                            [delay]="0"
                            [multiple]="true"
                            [dropdown]="true"
                            styleClass="tags-input"
                            id="tags" name="tags"></p-autoComplete>
        </div>
    </div>

    <!-- DESCRIPTION -->
    <div class="my-line">
        <label class="my-label label-size" for="description">Description</label>
        <div class="my-value" *ngIf="!isEditMode">
            {{model.description || ""}}
        </div>
        <div class="my-value" *ngIf="isEditMode">
            <textarea [(ngModel)]="model.description" class="form-control" id="description"
                      name="description"></textarea>
        </div>
    </div>

    <!-- SUB-STEPS-->
    <div dnd-droppable [allowDrop]="allowDrop()" (onDropSuccess)="onTreeNodeDrop($event)">
        <div>
            <h4 class="inline"><strong>Sub Steps:</strong></h4>

            <!-- BUTTONS -->
            <div class="step-action-panel inline btn-group">
                <div title="Add Step" class="btn btn-default btn-xs btn-group"
                     *ngIf="isEditMode"
                     (click)="openStepChooser(); $event.stopPropagation()">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>

    <step-call-tree [stepCalls]="model.stepCalls"></step-call-tree>
</form>
