.http-response-verify-body {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    border: 1px solid #c8c8c8;
    border-radius: 3px;

    .body-matching-toolbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 8px 0;
    }
    .body-matching-toolbar-bottom-border {
        border-bottom: 1px solid #c8c8c8;
        border-radius: 3px;
    }

    .json-verify-container {
    }

    .phase-input {
        width: auto;
    }

    .label-size {
        width: 8em;
    }

    .monaco-editor-container {
        position: relative;
        min-height: 200px;
    }
}

