.label-size {
    width: 8em;
}

.json-verify-container {
    min-height: 400px;
    position: relative;
    flex-grow: 2;
}

.ace-editor-container {
    position: relative;
    min-height: 200px;
}
.ace-editor {
    position: absolute;
    top: 0;
    bottom: 0;
}
