<table class="table table-striped">
    <colgroup>
        <col span="1">
        <col span="1" style="width: 13em;">
        <col span="1">
        <col *ngIf="isEditMode()" span="1" style="width: 2em;">
    </colgroup>

    <tr>
        <th>Header Name</th>
        <th>Compare Mode</th>
        <th>Header Value</th>
        <th *ngIf="isEditMode()"></th>
    </tr>

    <!-- KEY -->
    <tr *ngFor="let header of headers; let last = last">
        <td *ngIf="!header.isEmpty() || isEditMode()">
            <span *ngIf="!isEditMode()">{{header.key}}</span>
            <p-autoComplete *ngIf="isEditMode()"
                            (change)="onNewKeyChange($event)"
                            [(ngModel)]="header.key"
                            [suggestions]="suggestionHeaders"
                            (completeMethod)="filterSuggestionHeaders($event)"
                            inputStyleClass="form-control"
                            class="autocomplete-full-width"
                            [dropdown]="true"></p-autoComplete>
        </td>

        <!-- COMPARE -->
        <td *ngIf="!header.isEmpty() || isEditMode()">
            <span *ngIf="!isEditMode()">{{header.compareMode}}</span>
            <select *ngIf="isEditMode()"
                    class="form-control phase-input full-width"
                    #hadearCompareModeNgModel="ngModel"
                    (change)="onChangeCompareMode(header, hadearCompareModeNgModel.value)"
                    [ngModel]="header.compareMode" name="compareMode">

                <option *ngFor="let compareMode of getCompareModes(); let i = index"
                        [ngValue]="compareMode"
                        [selected]="i==1">
                    {{compareMode.toString()}}
                </option>
            </select>
        </td>

        <!-- VALUE -->
        <td *ngIf="!header.isEmpty() || isEditMode()">
            <span *ngIf="!isEditMode()">{{header.value}}</span>
            <input *ngIf="isEditMode() && header.compareMode != HttpMockRequestHeadersCompareMode.ABSENT"
                   (change)="onNewValueChange($event)"
                   [(ngModel)]="header.value"
                   type="text" pInputText  class="form-control full-width">
        </td>

        <!-- DELETE -->
        <td *ngIf="!header.isEmpty() && isEditMode()">
            <a href (click)="deleteHeader(header);false;"
               class="btn btn-danger" *ngIf="isEditMode()" aria-label="Delete">
                <i  class="far fa-trash-alt" aria-hidden="true"></i>
            </a>
        </td>
    </tr>
</table>
